//** TOKENS
// Additional reading and tools
// TECH DOC -> https://sass-lang.com/documentation/modules/color#blue
// TECH DOC -> https://stackoverflow.com/questions/10929458/sass-converting-hex-to-rgba-for-background-opacity
// READ https://medium.com/eightshapes-llc/naming-tokens-in-design-systems-9e86c7444676
// READ https://uxdesign.cc/defining-colors-in-your-design-system-828148e6210a
// TOOL https://lyft-colorbox.herokuapp.com/ <- instructions on usage in the immediately above article
////** COLOR PALETTE (category layer)
//////** BASE COLORS (value layer; hue HEX values)
		 // $white
		 $white: #FFFFFF;
		 $ghost-white: #F9FAFA;
		 $cultured: #F3F6F7;
		 $anti-flash-white: #F0F2F2;
		 $platinum: #E8E8E8;
		 $dim-gray: #666773;
		 $davys-gray: #4F505E;
		 $dark-charchoal: #303135;
		 $dark-jungle-green: #1A1F1F;
		 $arsenic: #393B4F;
		 $gunmetal: #2C2E44;
		 $desire: #E13B53;
		 $vivid-tangelo: #E77B17;
		 $sunglow: #FFC42E;
		 $viridian-green: #1496A1;
		 $cyan-blue-azure: #3275BC;
		 $grape: #7F32BC;
//////** LIGHT (extended value layer; i.e. a combination of saturation and brightness HEX values)
	// nothing added ...
		 // $white-100
//////** OPACITY (extended value layer)
		// Handle with SCSS mix-in
		@mixin background-color($color, $opacity: 1) {
			background-color: $color; /* The Fallback */
			background-color: rgba($color, $opacity);
		}
		@mixin border-color($color, $opacity: 1) {
			border-color: $color; /* The Fallback */
			border-color: rgba($color, $opacity);
		}
		@mixin color($color, $opacity: 1) {
			color: $color; /* The Fallback */
			color: rgba($color, $opacity);
		}
		// EXAMPLE USAGE:
		// element {
		//	@include color(#333, 0.5);
		// }

////** FONT (category layer; aka type, typography, text)
	// nothing added ...
////** SPACE (category layer; aka units, dimension, spacing)
	// nothing added ...
////** SIZE (category layer; aka sizing)
	// nothing added ...
////** ELEVATION (category layer; aka z-index, layer, layering)
	// nothing added ...
////** BREAKPOINTS (category layer; aka media-query, responsive)
	// nothing added ...
////** SHADOW (category layer; aka depth)
	// nothing added ...
////** TOUCH (category layer)
	// nothing added ...
////** TIME (category layer; aka animation, duration)
	// nothing added ...

	// backgrounds
		$elipses-background: $cultured;
		$footer-background: $dark-charchoal;
		$logo-background: $dark-charchoal;
		$upper-half-background: $ghost-white;
		$lower-half-background: $cultured;

	// text
		$dark-copy-text: $dark-charchoal;
		$light-copy-text: $platinum;

	//links
	// -- link rest
		$dark-interactive-rest: $gunmetal;
		$medium-interactive-rest: $davys-gray;
		$light-interactive-rest: $cultured;
	// -- link hover
		$dark-interactive-hover: $arsenic;
		$medium-interactive-hover: $dim-gray;
		$light-interactive-hover: $white;
	// -- link press
		$dark-interactive-press: $dark-jungle-green;
		$medium-interactive-press: $dark-jungle-green;
		$light-interactive-press: $platinum;
	// --link visited

	// buttons
	// -- label rest
		$label-rest: $anti-flash-white;
	// -- label hover/press
		$label-interaction: $white;
	// -- bg rest
		$primary-btn-bg-rest: $gunmetal;
		$secondary-btn-bg-rest: $davys-gray;
	// -- bg hover
		$primary-btn-bg-hover: $arsenic;
		$secondary-btn-bg-hover: $dim-gray;
	// -- bg press
		$button-press: $dark-jungle-green;

	// rainbow dots
	$red: $desire;
	$orange: $vivid-tangelo;
	$yellow: $sunglow;
	$green: $viridian-green;
	$blue: $cyan-blue-azure;
	$violet: $grape;


//** STYLES **//

* {
	box-sizing: border-box;
}

.body {
	align-items: center;
	background-color: $white;
	display: flex;
	flex-direction: column;
	font-family: "Inter", sans-serif;
	font-size: 8px;
	position: relative;
	width: 100%;
}

.h2, .p {
	color: $dark-copy-text;
	align-self: stretch;
	flex-grow: 0;
}

.h2 {
	font-size: 9em;
	font-weight: 600;
	line-height: 0.88em;
	letter-spacing: -0.055em;
	margin: 0.23em 0em; // 16px 0px

	&.large {
		font-size: 14em;
	}
}

.p {
	font-size: 2em;
	font-weight: 500;
	line-height: 1.34em;
	margin: 0.67em 0em; // 16px 0px

	&:last-child {
		margin-bottom: 0;
	}
}

.a {
	border-width: 0em;
	font-weight: 500;
	text-decoration: none;

	&:focus {
		outline: none;
	}

	&:link,
	&:visited {
		border-style: dashed;
		border-bottom-width: 0.0625em;
	}
	&:hover,
	&:focus {
		border-style: solid;
	}

	&.light {
		color: $light-copy-text;

		&:link,
		&:visited {
			color: $light-interactive-rest;
		}
		&:hover,
		&:focus {
			color: $light-interactive-hover;
		}
		&:active {
			color: $light-interactive-press;
		}
	}
	&.dark {
		color: $dark-copy-text;

		&:link,
		&:visited {
			color: $medium-interactive-rest;
		}
		&:hover,
		&:focus {
			color: $medium-interactive-hover;
		}
		&:active {
			color: $medium-interactive-press;
		}
	}
}

.elipses {
	background-color: $elipses-background;
	border-radius: 100%;
	display: flex;
	height: 16em;
	position: absolute;
		top: 0%;
		left: 50%;
	min-width: calc(100% + 40em);
	transform: translate(-50%, -50%);
	z-index: 2;
}

.header {
	align-items: center;
	background-color: $dark-copy-text;
	border-radius: 2em;
	display: flex;
	flex-direction: row;
	height: 18em;
	justify-content: center;
	overflow: hidden;
	position: absolute;
		top: 3em;
		left: 3em;
	width: 18em;
	z-index: 3;

	.h1 {
		color: rgba(0,0,0,0%);
		height: 100%;
		font-size: 0.125em;
		overflow: hidden;
		position: absolute;
			top: 0%;
			left: 0%;
		width: 100%;
	}

	.logo-mark {
		align-items: flex-end;
		display: flex;
		flex-direction: row;
		gap: 1em;
		justify-content: center;

		span {
			background-color: $upper-half-background;
			border-radius: 6em;
			display: block;
			height: 12em;
			width: 2em;
		}
		span:nth-child(1) {
			height: 6em;
		}
	}
}

.grp {
	display: flex;
	gap: 2em;

	&.vertical {
		flex-direction: row;
	}
	&.horizontal {
		flex-direction: column;
	}
}

.inner-container {
	display: block;
	position: relative;
}

.btn {
	// default
	appearance: none;
	background-color: $primary-btn-bg-rest;
	border: 0;
	border-radius: 6em;
	color: $label-rest;
	font-weight: 600;
	font-size: 2em;
	line-height: 2em;
	letter-spacing: 0.01em;
	position: relative;
	text-decoration: none;

	// default, primary and secondary treatments
	&.secondary {
		background-color: $secondary-btn-bg-rest;
	}

	&:focus {
		outline: none;
	}

	&:hover, &:active {
		color: $label-interaction;
		cursor: pointer;
	}
	&:hover, &:focus {
		background-color: $primary-btn-bg-hover;
	}
	&.secondary:hover, &.secondary:focus {
		background-color: $secondary-btn-bg-hover;
	}
	&:active, &.secondary:active {
		background-color: $button-press;
	}

	&.primary, &.secondary {
		padding: 0.5em 3em;
	}

	.hover-border {
		@include border-color($primary-btn-bg-hover, 0);
		border-radius: 4.5em;
		border-style: solid;
		border-width: 0.125em;
		display: block;
		height: calc(100% + 0.5em);
		pointer-events: none;
		position: absolute;
			top: -0.25em;
			left: -0.25em;
		width: calc(100% + 0.5em);
	}

	&:focus .hover-border,
	&:hover .hover-border {
		@include border-color($primary-btn-bg-hover, 1);
	}

	&:active .hover-border {
		@include border-color($primary-btn-bg-hover, 0);
	}

	&.secondary:focus .hover-border,
	&.secondary:hover .hover-border {
		@include border-color($secondary-btn-bg-hover, 1);
	}

	&.secondary:active .hover-border {
		@include border-color($secondary-btn-bg-hover, 0);
	}

	// takes specific treatments
	&.menu {
		align-items: center;
		border-radius: 100%;
		display: flex;
		height: 3em;
		justify-content: center;
		margin: 0em;
		padding: 0em;
		position: absolute;
			top: 2em;
			right: 1.5em;
		width: 3em;
		z-index: 3;

		.inner-container {
			align-items: center;
			display: flex;
			height: 100%;
			justify-content: center;
			width: 100%;
		}

		.label {
			display: none;
		}

		.icon {
			display: block;
			height: 1em;
			position: relative;
			width: 1em;

			span {
				background-color: $label-rest;
				border-radius: 3.125em;
				display: block;
				height: 0.125em;
				position: absolute;
					top: 0;
					left: 0;
				width: 0.625em;
			}
		}

		.chevron {

			span:nth-child(1) {
				opacity: 1;
				transform: translate(0%, 400%) rotate(45deg);
			}
			span:nth-child(2) {
				opacity: 1;
				transform: translate(60%, 400%) rotate(-45deg);
			}
			span:nth-child(3) {
				opacity: 0;
				transform: translate(0%, 400%) rotate(45deg);
			}
			span:nth-child(4) {
				opacity: 0;
				transform: translate(60%, 400%) rotate(-45deg);
			}
		}

		.close-x {
			// nothing yet.
		}
	}
}

.nav {
	display: none;
}

.main {
	align-items: center;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	position: relative;
	width: 100%;
}

//article
.article {
	align-items: center;
	display: flex;
	flex-direction: column;
	display: flex;
	max-width: 125em;
	position: relative;
	gap: 22em;
	width: 100%;
}

.section {
	align-items: flex-end;
	display: flex;
	gap: 8em;
	justify-content: space-between;

	&:last-child {
		padding-bottom: 19em;
	}

	.image-container {
		border-radius: 1em;
		display: block;
		height: 76em;
		margin: 0;
		overflow: hidden;
		padding: 0;
		max-width: 57em;
		width: 100%;
	}

	img {
		display: block;
		height: auto;
		width: 100%;
	}

	.content-block {
		align-self: flex-end;
		display: flex;
		flex-direction: column;
	}

	.grp {
		margin-top: 4em;
	}

	&.one, &.two, &.three {
		.content-block {
			max-width: 57em;
			width: 50%;
		}
	}
	&.one, &.three {
		flex-direction: row-reverse;
	}
	&.one {
		margin-top: 12em;
	}
	&.two {
		flex-direction: row;
	}
	&.four {
		justify-content: center;
		padding-top: 6em;

		.content-block {
			max-width: 108em;
			width: 100%;

			.p {
				font-size: 4em;
				font-weight: 400;
				letter-spacing: -0.025em;
				line-height: 1.25em;
			}
			.a {
				font-weight: 500;
			}
		}
	}
}

footer {
	align-items: center;
	background-color: $footer-background;
	display: flex;
	flex-direction: column;
	gap: 4em;
	justify-content: center;
	overflow: hidden;
	padding: 16em 8em 6em;
	position: relative;
	width: 100%;

	.p {
		color: $light-copy-text;
		font-size: 2em;
		font-weight: 400;
		line-height: 2em;
		letter-spacing: 0.04em;
		margin: 0 auto;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.elipses {
		background-color: $white;
	}

	.list {
		display: flex;
		flex-direction: row;
		gap: 4em;
		list-style-type: none;
		margin: 0;
		padding: 0;

		.item {
			margin: 0;
			padding: 0;
		}

		.icon-link {
			display: block;
			text-decoration: none;

			&:focus {
				outline: none;
				border-color: $white;
				border-radius: 0.5em;
				border-style: solid;
				border-width: 0.125em;
			}
		}
	}

	.dots {
		display: flex;
		flex-direction: row;
		gap: 2em;

		.dot {
			border-radius: 100%;
			height: 1em;
			width: 1em;
		}
		.red {
			background-color: $red;
		}
		.orange {
			background-color: $orange;
		}
		.yellow {
			background-color: $yellow;
		}
		.green {
			background-color: $green;
		}
		.blue {
			background-color: $blue;
		}
		.violet {
			background-color: $violet;
		}

	}

	.obligatory {
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

}
