//** COLOR TOKENS **//

//** ... by name **//
	$white: #FFFFFF; // white-100
	$ghost-white: #F9FAFA; // white-200

	$cultured: #F3F6F7; // light-gray-100
	$anti-flash-white: #F0F2F2; // light-gray-200

	$platinum: #E8E8E8; // light-gray-300

	$dim-gray: #666773; // dark-gray-100
	$davys-gray: #4F505E; // dark-gray-200

	$arsenic: #393B4F; // slate-100
	$gunmetal: #2C2E44; // slate-200

	$dark-charchoal: #303135; // black-100
	$dark-jungle-green: #1A1F1F; // black-200

	$desire: #E13B53; // red-100
	$vivid-tangelo: #E77B17; // orange-100
	$sunglow: #FFC42E; // yellow-100
	$viridian-green: #1496A1; // green-100
	$cyan-blue-azure: #3275BC; // blue-100
	$grap: #7F32BC; // violet-100

//** ... by usage **//

	// backgrounds
	$elipses-background: $cultured;
	$footer-background: $dark-charchoal;
	$logo-background: $dark-charchoal;
	$upper-half-background: $ghost-white;
	$lower-half-background: $cultured;

	// text
	$dark-copy-text: $dark-charchoal;
	$light-copy-text: $platinum;
	$light-interactive: $cultured;

	// buttons
	// -- label rest
		$label-rest: $anti-flash-white;
	// -- label hover/press
		$label-interaction: $white;
	// -- bg rest
		$primary-btn-bg-rest: $gunmetal;
		$secondary-btn-bg-rest: $davys-gray;
	// -- bg hover
		$primary-btn-bg-hover: $arsenic;
		$secondary-btn-bg-hover: $dim-gray;
	// -- bg press
		$button-press: $dark-jungle-green;

	// rainbow dots
	$red: $desire;
	$orange: $vivid-tangelo;
	$yellow: $sunglow;
	$green: $viridian-green;
	$blue: $cyan-blue-azure;
	$violet: $grap;


//** STYLES **//

* {
	box-sizing: border-box;
}

.body {
	align-items: center;
	background-color: $white;
	display: flex;
	flex-direction: column;
	font-family: "Inter", sans-serif;
	position: relative;
}

.h2, .p {
	color: $dark-copy-text;
	align-self: stretch;
	flex-grow: 0;
	margin: 16px 0px;
}

.h2 {
	font-size: 72px;
	font-weight: 600;
	line-height: 68.4px;
	letter-spacing: -0.04em;

	&.large {
		font-size: 113px;
	}
}

.p {
	font-size: 20px;
	font-weight: normal;
	line-height: 140%;
	letter-spacing: 0.004em;

	&:last-child {
		margin-bottom: 0;
	}
}

.a {
	color: $dark-copy-text;
	font-weight: 500;
}

.elipses {
	background-color: $elipses-background;
	border-radius: 100%;
	display: flex;
	height: 131px;
	position: absolute;
		top: 0%;
		left: 50%;
	min-width: calc(100% + 320px);
	transform: translate(-50%, -50%);
	z-index: 2;
}

.header {
	align-items: center;
	background-color: $dark-copy-text;
	border-radius: 16px;
	display: flex;
	flex-direction: row;
	height: 148px;
	justify-content: center;
	overflow: hidden;
	position: absolute;
		top: 24px;
		left: 25px;
	width: 148px;
	z-index: 3;

	.h1 {
		color: rgba(0,0,0,0%);
		height: 100%;
		font-size: 1px;
		overflow: hidden;
		position: absolute;
			top: 0%;
			left: 0%;
		width: 100%;
	}

	.logo-mark {
		align-items: flex-end;
		display: flex;
		flex-direction: row;
		gap: 9px;
		justify-content: center;

		span {
			background-color: $light-interactive;
			border-radius: 50px;
			display: block;
			height: 101px;
			width: 18px;
		}
		span:nth-child(1) {
			height: 48px;
		}
	}
}

.grp {
	display: flex;
	gap: 16px;

	&.vertical {
		flex-direction: row;
	}
	&.horizontal {
		flex-direction: column;
	}
}

.btn {
	// default
	appearance: none;
	background-color: $primary-btn-bg-rest;
	border: 0;
	border-radius: 50px;
	text-decoration: none;

	// default, primary and secondary treatments
	&.secondary {
		background-color: $secondary-btn-bg-rest;
	}

	&:hover, &:active {
		color: $label-interaction;
		cursor: pointer;
	}
	&:hover {
		background-color: $primary-btn-bg-hover;
	}
	&.secondary:hover {
		background-color: $secondary-btn-bg-hover;
	}
	&:active, &.secondary:active {
		background-color: $button-press;
	}

	&.primary, &.secondary {
		color: $label-rest;
		font-weight: 600;
		font-size: 16px;
		line-height: 150%;
		letter-spacing: 0.01em;
		padding: 12px 44px;
		position: relative;
	}

	// takes specific treatments
	&.menu {
		align-items: center;
		border-radius: 100%;
		display: flex;
		height: 42px;
		justify-content: center;
		position: absolute;
			top: 35px;
			right: 25px;
		width: 42px;
		z-index: 3;

		.label {
			display: none;
		}

		.icon {
			display: block;
			height: 16px;
			position: relative;
			width: 16px;

			span {
				background-color: $label-rest;
				border-radius: 50px;
				display: block;
				height: 2px;
				position: absolute;
					top: 0;
					left: 0;
				width: 10px;
			}
		}

		.chevron {

			span:nth-child(1) {
				transform: translate(0%, 400%) rotate(45deg);
			}
			span:nth-child(2) {
				transform: translate(60%, 400%) rotate(-45deg);
			}
			span:nth-child(3) {
				opacity: 0;
			}
			span:nth-child(4) {
				opacity: 0;
			}
		}

		.close-x {}
	}
}

.nav {
	display: none;
}

.main {
	align-items: center;
	display: flex;
	flex-direction: column;
	max-width: 1000px;
	position: relative;
	width: 100%;
}

//article
.article {
	display: flex;
	flex-direction: column;
	display: flex;
	position: relative;
	gap: 174px;
	width: 100%;
}

.section {
	align-items: flex-end;
	display: flex;
	justify-content: space-between;

	.image-container {
		border-radius: 8px;
		display: block;
		height: 610px;
		margin: 0;
		overflow: hidden;
		padding: 0;
		max-width: 456px;
		width: 50%;
	}

	img {
		display: block;
		height: auto;
		width: 100%;
	}

	.content-block {
		align-self: flex-end;
		display: flex;
		flex-direction: column;
	}

	.grp {
		margin-top: 32px;
	}

	&.one, &.two, &.three {
		.content-block {
			max-width: 456px;
			width: 50%;
		}
	}
	&.one, &.three {
		flex-direction: row-reverse;
	}
	&.one {
		margin-top: 100px;
	}
	&.two {
		flex-direction: row;
	}
	&.four {
		justify-content: center;

		.content-block {
			max-width: 863px;
			width: 100%;

			.p {
				font-size: 28px;
				font-weight: 300;
			}
			.a {
				font-weight: 400;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}

footer {
	align-items: center;
	background-color: $footer-background;
	display: flex;
	flex-direction: column;
	gap: 31px;
	justify-content: center;
	overflow: hidden;
	padding: 125px 64px 50px;
	position: relative;
	width: 100%;

	.p {
		color: $light-copy-text;
		font-size: 20px;
		font-weight: 300;
		line-height: 140%;
		letter-spacing: 0.004em;
		margin: 0 auto;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.a {
		color: $light-interactive;
		font-weight: 500;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	.elipses {
		background-color: $white;
	}

	.list {
		display: flex;
		flex-direction: row;
		gap: 32px;
		list-style-type: none;
		margin: 0;
		padding: 0;

		.item {
			margin: 0;
			padding: 0;
		}

		.icon-link {
			display: block;
			text-decoration: none;
		}
	}

	.dots {
		display: flex;
		flex-direction: row;
		gap: 16px;

		.dot {
			border-radius: 100%;
			height: 8px;
			width: 8px;
		}
		.red {
			background-color: $red;
		}
		.orange {
			background-color: $orange;
		}
		.yellow {
			background-color: $yellow;
		}
		.green {
			background-color: $green;
		}
		.blue {
			background-color: $blue;
		}
		.violet {
			background-color: $violet;
		}

	}

	.obligatory {
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

}
