* {
  box-sizing: border-box;
}

.body {
  align-items: center;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  position: relative;
  width: 100%;
}

.h2, .p {
  color: #303135;
  align-self: stretch;
  flex-grow: 0;
  margin: 16px 0px;
}

.h2 {
  font-size: 72px;
  font-weight: 600;
  line-height: 68.4px;
  letter-spacing: -0.04em;
}
.h2.large {
  font-size: 113px;
}

.p {
  font-size: 20px;
  font-weight: normal;
  line-height: 140%;
  letter-spacing: 0.004em;
}
.p:last-child {
  margin-bottom: 0;
}

.a {
  color: #303135;
  font-weight: 500;
}

.elipses {
  background-color: #F3F6F7;
  border-radius: 100%;
  display: flex;
  height: 131px;
  position: absolute;
  top: 0%;
  left: 50%;
  min-width: calc(100% + 320px);
  transform: translate(-50%, -50%);
  z-index: 2;
}

.header {
  align-items: center;
  background-color: #303135;
  border-radius: 16px;
  display: flex;
  flex-direction: row;
  height: 148px;
  justify-content: center;
  overflow: hidden;
  position: absolute;
  top: 24px;
  left: 25px;
  width: 148px;
  z-index: 3;
}
.header .h1 {
  color: rgba(0, 0, 0, 0);
  height: 100%;
  font-size: 1px;
  overflow: hidden;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
}
.header .logo-mark {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  gap: 9px;
  justify-content: center;
}
.header .logo-mark span {
  background-color: #F3F6F7;
  border-radius: 50px;
  display: block;
  height: 101px;
  width: 18px;
}
.header .logo-mark span:nth-child(1) {
  height: 48px;
}

.grp {
  display: flex;
  gap: 16px;
}
.grp.vertical {
  flex-direction: row;
}
.grp.horizontal {
  flex-direction: column;
}

.btn {
  appearance: none;
  background-color: #2C2E44;
  border: 0;
  border-radius: 50px;
  text-decoration: none;
}
.btn.secondary {
  background-color: #4F505E;
}
.btn:hover, .btn:active {
  color: #FFFFFF;
  cursor: pointer;
}
.btn:hover {
  background-color: #393B4F;
}
.btn.secondary:hover {
  background-color: #666773;
}
.btn:active, .btn.secondary:active {
  background-color: #1A1F1F;
}
.btn.primary, .btn.secondary {
  color: #F0F2F2;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.01em;
  padding: 12px 44px;
  position: relative;
}
.btn.menu {
  align-items: center;
  border-radius: 100%;
  display: flex;
  height: 42px;
  justify-content: center;
  position: absolute;
  top: 35px;
  right: 25px;
  width: 42px;
  z-index: 3;
}
.btn.menu .label {
  display: none;
}
.btn.menu .icon {
  display: block;
  height: 16px;
  position: relative;
  width: 16px;
}
.btn.menu .icon span {
  background-color: #F0F2F2;
  border-radius: 50px;
  display: block;
  height: 2px;
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
}
.btn.menu .chevron span:nth-child(1) {
  transform: translate(0%, 400%) rotate(45deg);
}
.btn.menu .chevron span:nth-child(2) {
  transform: translate(60%, 400%) rotate(-45deg);
}
.btn.menu .chevron span:nth-child(3) {
  opacity: 0;
}
.btn.menu .chevron span:nth-child(4) {
  opacity: 0;
}
.nav {
  display: none;
}

.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.article {
  align-items: center;
  display: flex;
  flex-direction: column;
  display: flex;
  max-width: 1000px;
  position: relative;
  gap: 174px;
  width: 100%;
}

.section {
  align-items: flex-end;
  display: flex;
  gap: 88px;
  justify-content: space-between;
}
.section .image-container {
  border-radius: 8px;
  display: block;
  height: 610px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  max-width: 456px;
  width: 50%;
}
.section img {
  display: block;
  height: auto;
  width: 100%;
}
.section .content-block {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
}
.section .grp {
  margin-top: 32px;
}
.section.one .content-block, .section.two .content-block, .section.three .content-block {
  max-width: 456px;
  width: 50%;
}
.section.one, .section.three {
  flex-direction: row-reverse;
}
.section.one {
  margin-top: 100px;
}
.section.two {
  flex-direction: row;
}
.section.four {
  justify-content: center;
}
.section.four .content-block {
  max-width: 863px;
  width: 100%;
}
.section.four .content-block .p {
  font-size: 28px;
  font-weight: 300;
}
.section.four .content-block .a {
  font-weight: 400;
  text-decoration: none;
}
.section.four .content-block .a:hover {
  text-decoration: underline;
}

footer {
  align-items: center;
  background-color: #303135;
  display: flex;
  flex-direction: column;
  gap: 31px;
  justify-content: center;
  overflow: hidden;
  padding: 125px 64px 50px;
  position: relative;
  width: 100%;
}
footer .p {
  color: #E8E8E8;
  font-size: 20px;
  font-weight: 300;
  line-height: 140%;
  letter-spacing: 0.004em;
  margin: 0 auto;
}
footer .p:last-child {
  margin-bottom: 0;
}
footer .a {
  color: #F3F6F7;
  font-weight: 500;
  text-decoration: none;
}
footer .a:hover {
  text-decoration: underline;
}
footer .elipses {
  background-color: #FFFFFF;
}
footer .list {
  display: flex;
  flex-direction: row;
  gap: 32px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
footer .list .item {
  margin: 0;
  padding: 0;
}
footer .list .icon-link {
  display: block;
  text-decoration: none;
}
footer .dots {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
footer .dots .dot {
  border-radius: 100%;
  height: 8px;
  width: 8px;
}
footer .dots .red {
  background-color: #E13B53;
}
footer .dots .orange {
  background-color: #E77B17;
}
footer .dots .yellow {
  background-color: #FFC42E;
}
footer .dots .green {
  background-color: #1496A1;
}
footer .dots .blue {
  background-color: #3275BC;
}
footer .dots .violet {
  background-color: #7F32BC;
}
footer .obligatory {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*# sourceMappingURL=styles.css.map */
