//***********************************************************//
//**                 MEDIA QUERIES (TOUCH ONLY)            **//
//***********************************************************//


// **** FINAL **** ALL TOUCH SCREENS IN PORTRAIT
@media only screen and (pointer: coarse) and (orientation: portrait) {
	nav,
	.nav__mobile {
		display: flex;
	}
}

// **** FINAL **** ALL TOUCH SCREENS IN PORTRAIT AND LARGER THAN 550px IN WIDTH
@media only screen and (pointer: coarse) and (orientation: portrait) and (min-device-width: 550px) {
	nav,
	.nav__mobile {
		display: none;
	}
}

// **** FINAL **** ALL *TOUCH* SCREENS IN LANDSCAPE
@media only screen and (pointer: coarse) and (orientation: landscape) {
	.header__nav-btn {
		display: flex;
	}
}
