/* pt-serif-caption-regular - latin-ext_latin */
@font-face {
  font-family: "PT Serif Caption";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/pt-serif-caption-v17-latin-ext_latin-regular.woff2") format("woff2"), url("../fonts/pt-serif-caption-v17-latin-ext_latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* pt-serif-caption-italic - latin-ext_latin */
@font-face {
  font-family: "PT Serif Caption";
  font-style: italic;
  font-weight: 400;
  src: local(""), url("../fonts/pt-serif-caption-v17-latin-ext_latin-italic.woff2") format("woff2"), url("../fonts/pt-serif-caption-v17-latin-ext_latin-italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-100 - latin-ext_latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  src: local(""), url("../../fonts/roboto-v29-latin-ext_latin-100.woff2") format("woff2"), url("../../fonts/roboto-v29-latin-ext_latin-100.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: swap;
}
/* roboto-100italic - latin-ext_latin */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 100;
  src: local(""), url("../../fonts/roboto-v29-latin-ext_latin-100italic.woff2") format("woff2"), url("../../fonts/roboto-v29-latin-ext_latin-100italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: swap;
}
/* roboto-300 - latin-ext_latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: local(""), url("../../fonts/roboto-v29-latin-ext_latin-300.woff2") format("woff2"), url("../../fonts/roboto-v29-latin-ext_latin-300.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: swap;
}
/* roboto-300italic - latin-ext_latin */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 300;
  src: local(""), url("../../fonts/roboto-v29-latin-ext_latin-300italic.woff2") format("woff2"), url("../../fonts/roboto-v29-latin-ext_latin-300italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: swap;
}
/* roboto-regular - latin-ext_latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../../fonts/roboto-v29-latin-ext_latin-regular.woff2") format("woff2"), url("../../fonts/roboto-v29-latin-ext_latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: swap;
}
/* roboto-italic - latin-ext_latin */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  src: local(""), url("../../fonts/roboto-v29-latin-ext_latin-italic.woff2") format("woff2"), url("../../fonts/roboto-v29-latin-ext_latin-italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: swap;
}
/* roboto-500 - latin-ext_latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../../fonts/roboto-v29-latin-ext_latin-500.woff2") format("woff2"), url("../../fonts/roboto-v29-latin-ext_latin-500.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: swap;
}
/* roboto-500italic - latin-ext_latin */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 500;
  src: local(""), url("../../fonts/roboto-v29-latin-ext_latin-500italic.woff2") format("woff2"), url("../../fonts/roboto-v29-latin-ext_latin-500italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: swap;
}
/* roboto-700 - latin-ext_latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../../fonts/roboto-v29-latin-ext_latin-700.woff2") format("woff2"), url("../../fonts/roboto-v29-latin-ext_latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: swap;
}
/* roboto-900 - latin-ext_latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: local(""), url("../../fonts/roboto-v29-latin-ext_latin-900.woff2") format("woff2"), url("../../fonts/roboto-v29-latin-ext_latin-900.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: swap;
}
/* roboto-700italic - latin-ext_latin */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 700;
  src: local(""), url("../../fonts/roboto-v29-latin-ext_latin-700italic.woff2") format("woff2"), url("../../fonts/roboto-v29-latin-ext_latin-700italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: swap;
}
/* roboto-900italic - latin-ext_latin */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 900;
  src: local(""), url("../../fonts/roboto-v29-latin-ext_latin-900italic.woff2") format("woff2"), url("../../fonts/roboto-v29-latin-ext_latin-900italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: swap;
}
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

button,
input {
  /* 1 */
  overflow: visible;
}

button,
select {
  /* 1 */
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

ul {
  padding-inline-start: 5em;
}

.html {
  display: flex;
  font-family: "Roboto", "Helvetica neue", Helvetica, Verdana, Sans-serif;
  font-size: calc(20px + 13 * ((30vw - 500px) / 680));
  -webkit-font-smoothing: antialiased;
  image-rendering: -webkit-optimize-contrast;
  overflow-x: hidden;
  position: relative;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  width: 100%;
  z-index: 0;
}
@media only screen and (min-width: 1100px) {
  .html {
    font-size: calc(16px + 6 * ((39vw - 320px) / 680));
  }
}
@media only screen and (min-width: 2000px) {
  .html {
    font-size: 20px;
  }
}

.body {
  align-items: center;
  appearance: none;
  -webkit-appearance: none;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  position: relative;
  width: 100%;
  z-index: 1;
}

.body * {
  box-sizing: border-box;
}

img,
.button {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.p,
.link,
.label {
  letter-spacing: 0.025rem;
}
.h1--margin-large,
.h2--margin-large,
.h3--margin-large,
.h4--margin-large,
.h5--margin-large,
.h6--margin-large,
.p--margin-large,
.link--margin-large,
.label--margin-large {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.h1--margin-medium,
.h2--margin-medium,
.h3--margin-medium,
.h4--margin-medium,
.h5--margin-medium,
.h6--margin-medium,
.p--margin-medium,
.link--margin-medium,
.label--margin-medium {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}
.h1--margin-small,
.h2--margin-small,
.h3--margin-small,
.h4--margin-small,
.h5--margin-small,
.h6--margin-small,
.p--margin-small,
.link--margin-small,
.label--margin-small {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}
.h1--margin-x-small,
.h2--margin-x-small,
.h3--margin-x-small,
.h4--margin-x-small,
.h5--margin-x-small,
.h6--margin-x-small,
.p--margin-x-small,
.link--margin-x-small,
.label--margin-x-small {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.h1--margin-xx-small,
.h2--margin-xx-small,
.h3--margin-xx-small,
.h4--margin-xx-small,
.h5--margin-xx-small,
.h6--margin-xx-small,
.p--margin-xx-small,
.link--margin-xx-small,
.label--margin-xx-small {
  margin-top: 0.125rem;
  margin-bottom: 0.125rem;
}
.h1--margin-xxx-small,
.h2--margin-xxx-small,
.h3--margin-xxx-small,
.h4--margin-xxx-small,
.h5--margin-xxx-small,
.h6--margin-xxx-small,
.p--margin-xxx-small,
.link--margin-xxx-small,
.label--margin-xxx-small {
  margin-top: 0rem;
  margin-bottom: 0rem;
}
.h1--line-height-large,
.h2--line-height-large,
.h3--line-height-large,
.h4--line-height-large,
.h5--line-height-large,
.h6--line-height-large,
.p--line-height-large,
.link--line-height-large,
.label--line-height-large {
  line-height: 210%;
}
.h1--line-height-medium,
.h2--line-height-medium,
.h3--line-height-medium,
.h4--line-height-medium,
.h5--line-height-medium,
.h6--line-height-medium,
.p--line-height-medium,
.link--line-height-medium,
.label--line-height-medium {
  line-height: 173%;
}
.h1--line-height-small,
.h2--line-height-small,
.h3--line-height-small,
.h4--line-height-small,
.h5--line-height-small,
.h6--line-height-small,
.p--line-height-small,
.link--line-height-small,
.label--line-height-small {
  line-height: 136%;
}
.h1--line-height-x-small,
.h2--line-height-x-small,
.h3--line-height-x-small,
.h4--line-height-x-small,
.h5--line-height-x-small,
.h6--line-height-x-small,
.p--line-height-x-small,
.link--line-height-x-small,
.label--line-height-x-small {
  line-height: 99%;
}
.h1--line-height-xx-small,
.h2--line-height-xx-small,
.h3--line-height-xx-small,
.h4--line-height-xx-small,
.h5--line-height-xx-small,
.h6--line-height-xx-small,
.p--line-height-xx-small,
.link--line-height-xx-small,
.label--line-height-xx-small {
  line-height: 62%;
}
.h1--line-height-xxx-small,
.h2--line-height-xxx-small,
.h3--line-height-xxx-small,
.h4--line-height-xxx-small,
.h5--line-height-xxx-small,
.h6--line-height-xxx-small,
.p--line-height-xxx-small,
.link--line-height-xxx-small,
.label--line-height-xxx-small {
  line-height: 25%;
}
.h1--xxx-large,
.h2--xxx-large,
.h3--xxx-large,
.h4--xxx-large,
.h5--xxx-large,
.h6--xxx-large,
.p--xxx-large,
.link--xxx-large,
.label--xxx-large {
  font-size: 6rem;
}
.h1--xx-large,
.h2--xx-large,
.h3--xx-large,
.h4--xx-large,
.h5--xx-large,
.h6--xx-large,
.p--xx-large,
.link--xx-large,
.label--xx-large {
  font-size: 5rem;
}
.h1--x-large,
.h2--x-large,
.h3--x-large,
.h4--x-large,
.h5--x-large,
.h6--x-large,
.p--x-large,
.link--x-large,
.label--x-large {
  font-size: 4rem;
}
.h1--large,
.h2--large,
.h3--large,
.h4--large,
.h5--large,
.h6--large,
.p--large,
.link--large,
.label--large {
  font-size: 3rem;
}
.h1--medium,
.h2--medium,
.h3--medium,
.h4--medium,
.h5--medium,
.h6--medium,
.p--medium,
.link--medium,
.label--medium {
  font-size: 2rem;
}
.h1--small,
.h2--small,
.h3--small,
.h4--small,
.h5--small,
.h6--small,
.p--small,
.link--small,
.label--small {
  font-size: 1.5rem;
}
.h1--x-small,
.h2--x-small,
.h3--x-small,
.h4--x-small,
.h5--x-small,
.h6--x-small,
.p--x-small,
.link--x-small,
.label--x-small {
  font-size: 1.25rem;
}
.h1--xx-small,
.h2--xx-small,
.h3--xx-small,
.h4--xx-small,
.h5--xx-small,
.h6--xx-small,
.p--xx-small,
.link--xx-small,
.label--xx-small {
  font-size: 1rem;
}
.h1--xxx-small,
.h2--xxx-small,
.h3--xxx-small,
.h4--xxx-small,
.h5--xxx-small,
.h6--xxx-small,
.p--xxx-small,
.link--xxx-small,
.label--xxx-small {
  font-size: 0.75rem;
}
.h1--weight-100,
.h2--weight-100,
.h3--weight-100,
.h4--weight-100,
.h5--weight-100,
.h6--weight-100,
.p--weight-100,
.link--weight-100,
.label--weight-100 {
  font-weight: 100;
}
.h1--weight-200,
.h2--weight-200,
.h3--weight-200,
.h4--weight-200,
.h5--weight-200,
.h6--weight-200,
.p--weight-200,
.link--weight-200,
.label--weight-200 {
  font-weight: 200;
}
.h1--weight-300,
.h2--weight-300,
.h3--weight-300,
.h4--weight-300,
.h5--weight-300,
.h6--weight-300,
.p--weight-300,
.link--weight-300,
.label--weight-300 {
  font-weight: 300;
}
.h1--weight-400,
.h2--weight-400,
.h3--weight-400,
.h4--weight-400,
.h5--weight-400,
.h6--weight-400,
.p--weight-400,
.link--weight-400,
.label--weight-400 {
  font-weight: 400;
}
.h1--weight-500,
.h2--weight-500,
.h3--weight-500,
.h4--weight-500,
.h5--weight-500,
.h6--weight-500,
.p--weight-500,
.link--weight-500,
.label--weight-500 {
  font-weight: 500;
}
.h1--weight-600,
.h2--weight-600,
.h3--weight-600,
.h4--weight-600,
.h5--weight-600,
.h6--weight-600,
.p--weight-600,
.link--weight-600,
.label--weight-600 {
  font-weight: 600;
}
.h1--weight-700,
.h2--weight-700,
.h3--weight-700,
.h4--weight-700,
.h5--weight-700,
.h6--weight-700,
.p--weight-700,
.link--weight-700,
.label--weight-700 {
  font-weight: 700;
}
.h1--weight-800,
.h2--weight-800,
.h3--weight-800,
.h4--weight-800,
.h5--weight-800,
.h6--weight-800,
.p--weight-800,
.link--weight-800,
.label--weight-800 {
  font-weight: 800;
}
.h1--weight-900,
.h2--weight-900,
.h3--weight-900,
.h4--weight-900,
.h5--weight-900,
.h6--weight-900,
.p--weight-900,
.link--weight-900,
.label--weight-900 {
  font-weight: 900;
}
.h1--lower,
.h2--lower,
.h3--lower,
.h4--lower,
.h5--lower,
.h6--lower,
.p--lower,
.link--lower,
.label--lower {
  text-transform: lowercase;
}
.h1--upper,
.h2--upper,
.h3--upper,
.h4--upper,
.h5--upper,
.h6--upper,
.p--upper,
.link--upper,
.label--upper {
  text-transform: capitalize;
}
.h1--light,
.h2--light,
.h3--light,
.h4--light,
.h5--light,
.h6--light,
.p--light,
.link--light,
.label--light {
  color: #FDFCFC;
  /* The Fallback */
  color: #fdfcfc;
}
.h1--dark,
.h2--dark,
.h3--dark,
.h4--dark,
.h5--dark,
.h6--dark,
.p--dark,
.link--dark,
.label--dark {
  color: #010101;
  /* The Fallback */
  color: #010101;
}
.h1--decorative,
.h2--decorative,
.h3--decorative,
.h4--decorative,
.h5--decorative,
.h6--decorative,
.p--decorative,
.link--decorative,
.label--decorative {
  color: #4F505E;
  /* The Fallback */
  color: #4f505e;
  font-family: "PT Serif Caption";
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}
.link--arrow {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.link--arrow-arrow-icon {
  display: flex;
  height: 1rrem;
  position: relative;
  width: 3.25rem;
}
.link--arrow-arrow-icon-head-top {
  background-color: #010101;
  /* The Fallback */
  background-color: #010101;
  border-radius: 3rem;
  display: flex;
  height: 0.0625rem;
  position: absolute;
  top: calc(50% - 0.07rem);
  right: -0.125rem;
  transform: rotate(40deg);
  width: 0.25rem;
}
.link--arrow-arrow-icon-head-btm {
  background-color: #010101;
  /* The Fallback */
  background-color: #010101;
  border-radius: 3rem;
  display: flex;
  height: 0.0625rem;
  position: absolute;
  top: calc(50% + 0.07rem);
  right: -0.125rem;
  transform: rotate(-40deg);
  width: 0.25rem;
}
.link--arrow-arrow-icon-tail {
  background-color: #010101;
  /* The Fallback */
  background-color: #010101;
  border-radius: 3rem;
  display: flex;
  height: 0.0625rem;
  position: absolute;
  top: 50%;
  left: 0.3rem;
  width: 3rem;
}

.body,
.landing {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.h2-tag-line,
.header-inner,
.section-inner,
.footer-inner {
  width: calc(100% - 2rem);
}
@media only screen and (min-width: 750px) {
  .h2-tag-line,
.header-inner,
.section-inner,
.footer-inner {
    max-width: 100rem;
    width: calc(100% - 12rem);
  }
}

.h2-tag-line {
  max-width: 18rem;
}
@media only screen and (min-width: 400px) {
  .h2-tag-line {
    max-width: 20rem;
  }
}
@media only screen and (min-width: 750px) {
  .h2-tag-line {
    max-width: 44rem;
  }
}
@media only screen and (min-width: 1200px) {
  .h2-tag-line {
    max-width: 100rem;
  }
}

.header,
.section,
.footer {
  width: 100%;
}
.header-inner,
.section-inner,
.footer-inner {
  margin: 0 auto;
  padding-top: 7.5rem;
  padding-bottom: 5.5rem;
}

.header {
  align-items: flex-end;
  min-height: 550px;
  height: 100vh;
}
@media only screen and (orientation: portrait) and (max-height: 812px) {
  .header {
    min-height: 812px;
  }
}
@media only screen and (orientation: portrait) and (max-height: 736px) {
  .header {
    min-height: 736px;
  }
}
@media only screen and (orientation: portrait) and (max-height: 667px) {
  .header {
    min-height: 667px;
  }
}
@media only screen and (orientation: portrait) and (max-height: 568px) {
  .header {
    min-height: 568px;
  }
}
.header-inner {
  align-items: flex-end;
  display: flex;
  order: 2;
  height: 6rem;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 2rem;
  position: absolute;
  bottom: 0;
  left: 1rem;
  right: 1rem;
}
.header-nav-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: 0rem;
  list-style: none;
  margin: 0;
  order: 1;
  overflow: hidden;
  padding: 0;
}
@media only screen and (min-width: 750px) {
  .header-nav-list {
    flex-direction: row;
    height: auto;
    gap: 1rem;
  }
}

.footer {
  align-items: flex-start;
}
.footer-inner {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: space-between;
}
@media only screen and (min-width: 750px) {
  .footer-inner {
    align-items: flex-start;
    flex-direction: row;
    gap: 0;
  }
}
.footer-inner-col {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}
.footer-inner-col-left {
  flex-direction: column;
  gap: 2.75rem;
}
@media only screen and (min-width: 750px) {
  .footer-inner-col-left {
    align-items: flex-start;
    justify-content: flex-end;
    width: auto;
  }
}
.footer-inner-col-right {
  flex-direction: column;
  gap: 0.5rem;
}
@media only screen and (min-width: 750px) {
  .footer-inner-col-right {
    align-items: flex-end;
    gap: 2.25rem;
    justify-content: flex-end;
    width: auto;
  }
}
.footer-nav-list {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  list-style: none;
  margin: 0;
  margin-right: 0.35rem;
  order: 1;
  overflow: hidden;
  padding: 0;
}
@media only screen and (min-width: 750px) {
  .footer-nav-list {
    align-items: flex-start;
  }
}
.footer-social-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: 0 auto;
  max-width: 18rem;
  padding: 0;
}
@media only screen and (min-width: 400px) {
  .footer-social-list {
    max-width: none;
  }
}
@media only screen and (min-width: 750px) {
  .footer-social-list {
    gap: 0.5rem;
    justify-content: space-between;
    margin: 1rem 0;
    padding-left: 5rem;
  }
}
.footer-social-list-item {
  display: flex;
}
.footer-social-list-item-icon {
  fill: #FDFCFC;
  /* The Fallback */
  fill: #fdfcfc;
  display: flex;
}
.footer-social-list-item-link {
  display: flex;
  decoration: none;
}
.footer-social-list-item-link .focus-border {
  display: none;
}
.footer-disclaimers {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.footer-disclaimers .p {
  margin: 0;
  text-align: center;
  width: 100%;
}
@media only screen and (min-width: 750px) {
  .footer-disclaimers .p {
    text-align: right;
  }
}

.header,
.footer {
  background-color: #010101;
  /* The Fallback */
  background-color: #010101;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 100%;
}
.header .h2-tag-line,
.footer .h2-tag-line {
  order: 1;
  margin: auto auto auto 1rem;
  padding-bottom: 6rem;
  text-align: left;
}
@media only screen and (min-width: 750px) {
  .header .h2-tag-line,
.footer .h2-tag-line {
    margin: auto;
    padding-bottom: 3rem;
    text-align: center;
  }
}
.header-logo,
.footer-logo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 4.75rem;
  margin: 0;
  pointer-events: all;
  width: 3.875rem;
}
.header-logo:hover, .header-logo:focus,
.footer-logo:hover,
.footer-logo:focus {
  outline: none;
}
.header-logo:hover,
.footer-logo:hover {
  cursor: pointer;
}
.header-logo-link,
.footer-logo-link {
  align-items: flex-start;
  display: flex;
  height: 5rem;
  flex-direction: column;
  gap: 0.25rem;
  justify-content: space-between;
  width: 100%;
}
.header-logo-link-mark,
.footer-logo-link-mark {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  gap: 12%;
  height: 3.2rem;
  justify-content: center;
  margin-right: 0.25rem;
  pointer-events: none;
  position: relative;
  width: 3rem;
}
@media only screen and (min-width: 750px) {
  .header-logo-link-mark,
.footer-logo-link-mark {
    margin-right: 0;
  }
}
.header-logo-link-mark-line,
.footer-logo-link-mark-line {
  background-color: #FDFCFC;
  /* The Fallback */
  background-color: #fdfcfc;
  border-radius: 3rem;
  display: block;
  height: 100%;
  pointer-events: none;
  width: 16%;
  z-index: 2;
}
.header-logo-link-mark-line:nth-child(1),
.footer-logo-link-mark-line:nth-child(1) {
  height: 45%;
}
.header-nav,
.footer-nav {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.header-nav-toggle,
.footer-nav-toggle {
  appearance: none;
  background-color: #010101;
  /* The Fallback */
  background-color: rgba(1, 1, 1, 0);
  border: 0;
  display: flex;
  justify-content: center;
  order: 2;
  padding: 0;
}
@media only screen and (min-width: 750px) {
  .header-nav-toggle,
.footer-nav-toggle {
    display: none;
  }
}
.header-nav-toggle-arrow-icon,
.footer-nav-toggle-arrow-icon {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: flex-end;
  overflow: hidden;
  padding-left: 0.3rem;
  width: 2.25rem;
}
.header-nav-toggle-arrow-icon .arrow,
.footer-nav-toggle-arrow-icon .arrow {
  display: block;
  margin-top: 0.1rem;
  width: 100%;
}
.header-nav-toggle-arrow-icon .arrow path,
.footer-nav-toggle-arrow-icon .arrow path {
  height: 0.65rem;
  width: 100%;
}
.header-nav-item,
.footer-nav-item {
  display: flex;
}
.footer-logo-link {
  align-items: center;
}
@media only screen and (min-width: 750px) {
  .footer-logo-link {
    align-items: flex-start;
  }
}

.article {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.section-inner {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  justify-content: flex-start;
}

.about,
.hello {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.about .content-wrapper,
.hello .content-wrapper {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.about {
  background-color: #F9FAFA;
  /* The Fallback */
  background-color: #f9fafa;
}
.about .h2 {
  text-align: center;
}
@media only screen and (min-width: 950px) {
  .about .h2 {
    text-align: left;
    writing-mode: tb-rl;
    transform: rotate(-180deg);
  }
}
.about .section-inner {
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}
@media only screen and (min-width: 750px) {
  .about .section-inner {
    align-items: flex-start;
    gap: 1.5rem;
  }
}
@media only screen and (min-width: 950px) {
  .about .section-inner {
    flex-direction: row;
    gap: 2rem;
  }
}
.about .layout-wrapper {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 750px) {
  .about .layout-wrapper {
    gap: 1rem;
  }
}
.about .content-wrapper {
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}
@media only screen and (min-width: 750px) {
  .about .content-wrapper {
    flex-direction: row;
    max-width: 40rem;
  }
}
.about .content-wrapper--break {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
@media only screen and (min-width: 750px) {
  .about .content-wrapper--break {
    max-width: 36rem;
    width: 34rem;
  }
}
.about .selfie {
  border-radius: 100%;
  height: 75vw;
  max-height: 22rem;
  margin: 0;
  max-width: 22rem;
  overflow: hidden;
  padding: 0;
  position: relative;
  text-align: center;
  width: 75vw;
}
@media only screen and (min-width: 750px) {
  .about .selfie {
    align-self: stretch;
    display: flex;
    border-radius: 0%;
    max-width: 17rem;
    width: 40%;
  }
}
.about .selfie img {
  display: block;
  margin: 0 auto;
  position: absolute;
  top: 0%;
  left: -30%;
  width: 161%;
}
@media only screen and (min-width: 750px) {
  .about .selfie img {
    object-fit: cover;
    position: static;
    width: 100%;
  }
}
@media only screen and (min-width: 750px) {
  .about .p--decorative {
    max-width: 20rem;
    width: 60%;
  }
}

.hello {
  background-color: #D1DCE7;
  /* The Fallback */
  background-color: #d1dce7;
}
@media only screen and (min-width: 750px) {
  .hello .content-wrapper {
    max-width: 600px;
  }
}

/*# sourceMappingURL=master.css.map */
