/* pt-serif-caption-regular - latin-ext_latin */
@font-face {
  font-family: "PT Serif Caption";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../../fonts/pt-serif-caption-v17-latin-ext_latin-regular.woff2") format("woff2"), url("../../fonts/pt-serif-caption-v17-latin-ext_latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* pt-serif-caption-italic - latin-ext_latin */
@font-face {
  font-family: "PT Serif Caption";
  font-style: italic;
  font-weight: 400;
  src: local(""), url("../../fonts/pt-serif-caption-v17-latin-ext_latin-italic.woff2") format("woff2"), url("../../fonts/pt-serif-caption-v17-latin-ext_latin-italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* heebo-100 - latin */
@font-face {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 100;
  src: local(""), url("../../fonts/heebo-v20-latin-100.woff2") format("woff2"), url("../../fonts/heebo-v20-latin-100.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* heebo-200 - latin */
@font-face {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 200;
  src: local(""), url("../../fonts/heebo-v20-latin-200.woff2") format("woff2"), url("../../fonts/heebo-v20-latin-200.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* heebo-300 - latin */
@font-face {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 300;
  src: local(""), url("../../fonts/heebo-v20-latin-300.woff2") format("woff2"), url("../../fonts/heebo-v20-latin-300.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* heebo-regular - latin */
@font-face {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../../fonts/heebo-v20-latin-regular.woff2") format("woff2"), url("../../fonts/heebo-v20-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* heebo-500 - latin */
@font-face {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../../fonts/heebo-v20-latin-500.woff2") format("woff2"), url("../../fonts/heebo-v20-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* heebo-600 - latin */
@font-face {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../../fonts/heebo-v20-latin-600.woff2") format("woff2"), url("../../fonts/heebo-v20-latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* heebo-800 - latin */
@font-face {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 800;
  src: local(""), url("../../fonts/heebo-v20-latin-800.woff2") format("woff2"), url("../../fonts/heebo-v20-latin-800.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* heebo-700 - latin */
@font-face {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../../fonts/heebo-v20-latin-700.woff2") format("woff2"), url("../../fonts/heebo-v20-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* heebo-900 - latin */
@font-face {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 900;
  src: local(""), url("../../fonts/heebo-v20-latin-900.woff2") format("woff2"), url("../../fonts/heebo-v20-latin-900.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
* {
  box-sizing: border-box;
}

html {
  line-height: 1.15; /* 1 */
}

body {
  margin: 0;
}

main {
  display: block;
}

figure {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

button,
input { /* 1 */
  overflow: visible;
}

button,
select { /* 1 */
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

ul {
  padding-inline-start: 5em;
}

@media (prefers-color-scheme: light) {
  img::selection,
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
p::selection,
a::selection,
span::selection {
    background-color: #2B849D; /* The Fallback */
    background-color: rgba(43, 132, 157, 0.25);
  }
}
@media (prefers-color-scheme: dark) {
  img::selection,
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
p::selection,
a::selection,
span::selection {
    background-color: #0A1A55; /* The Fallback */
    background-color: rgba(10, 26, 85, 0.25);
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: #343339;
}

a {
  color: #2B849D;
  position: relative;
  text-decoration: none;
  z-index: 1;
  outline-offset: 0rem;
  outline-style: solid;
  outline-width: 0rem;
  transition-duration: 0.3s, 0.3s;
  transition-property: outline-color, outline-offset;
  transition-timing-function: ease-out, ease-out;
}
a:focus {
  border-radius: 0.2rem;
  outline-offset: 0.2rem;
  outline-width: 0.3rem;
}
.header .h1 {
  font-size: 28px;
  font-weight: 600;
  line-height: 1.15;
  margin: 2rem auto 0;
}
.header .h2 {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0 auto;
}
.header .p {
  color: #666666;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0 auto;
}
.header .p .decorative {
  font-weight: 200;
}
.header .a {
  font-weight: 600;
  text-decoration: none;
}

.html {
  align-items: flex-start;
  display: flex;
  font-family: "Heebo", "Helvetica neue", Helvetica, Verdana, Sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  image-rendering: -webkit-optimize-contrast;
  justify-content: center;
  overflow-x: hidden;
  position: relative;
  width: 100%;
  z-index: 0;
}
.body {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 1;
}

.header {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 4rem;
  position: relative;
  width: 100%;
}

.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 1024px;
  padding: 0 56px;
  position: relative;
  width: 100%;
  z-index: 1;
}

.footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 16rem 5rem 12rem;
  gap: 1rem;
  width: 100%;
}
.footer .a, .footer .p {
  color: #2B849D;
  margin: 0 auto;
  padding: 0;
  line-height: 1;
  text-align: center;
}
.footer .a {
  font-weight: 500;
}
.nav-container {
  display: flex;
  margin: 4rem 0 0;
  padding: 0 0 1rem;
}

.nav {
  border-color: #D3D3D3;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0rem;
}

.tab-container {
  list-style: none;
  margin: 0;
  padding: 0.5rem 2rem;
  position: relative;
}

.tab {
  font-weight: 500;
}

.padlock {
  pointer-events: none;
  position: absolute;
  top: 0.67rem;
  left: 1.1rem;
}

.sparkle {
  pointer-events: none;
  position: absolute;
  top: 0.25rem;
  right: 1.4rem;
}
.sparkle path {
  fill: #2B849D;
}

.logo-container {
  display: flex;
  position: relative;
}

.half-oval {
  content: "";
  background-color: #F8FAFD;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  height: 12rem;
  position: absolute;
  top: 0rem; /* Position the square inside the parent */
  left: -12.5%;
  right: -12.5%;
  width: 125%; /* Adjust the size as needed */
  z-index: 0;
}

.logo {
  display: flex;
  margin: 0;
  position: relative;
  pointer-events: all;
}
.logo.large {
  height: 9.5rem;
  width: 9.5rem;
}
.logo.small {
  height: 2.25rem;
  width: 2.25rem;
}
.logo:hover {
  cursor: pointer;
}
.logo:focus {
  outline-offset: 0.5rem;
}

.progress-bar-container {
  background-color: rgba(32, 42, 171, 0.1);
  height: 3px;
  width: 100%;
  position: absolute;
  bottom: -3px;
  left: 0;
}

#progress-bar {
  --scrollAmount: 0%;
  background-image: linear-gradient(120deg, #2B849D 0%, #2B849D 100%);
  width: var(--scrollAmount);
  height: 2px;
  position: absolute;
  bottom: 1px;
  left: 0;
}

.social-links-container {
  align-self: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: space-between;
  margin: -0.5rem auto;
  padding: 0;
}

.social-icon,
.social-icon img {
  height: 2.75rem;
  width: 2.75rem;
}

.arrow-link {
  font-weight: 500;
  position: relative;
}
.arrow-link:before {
  content: "";
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.15), 0 2px 4px rgba(0, 0, 0, 0.15);
  height: 4rem;
  position: absolute;
  top: -1.45rem;
  left: calc(100% + 1rem);
  width: 4rem;
  z-index: 0;
}
.arrow-link:after {
  background-image: url("/icons/svg/arrow.svg");
  background-size: contain;
  background-repeat: no-repeat;
  content: "";
  height: 1.7rem;
  position: absolute;
  top: -0.4rem;
  left: calc(100% + 2.1rem);
  width: 1.7rem;
  z-index: 100;
}

.tab#recommendations {
  color: #343339;
  font-weight: 700;
  pointer-events: none;
}

.recommendation {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 auto 24px;
  padding: 2rem;
}
.recommendation:nth-child(1) {
  padding-top: 0.05rem;
}

.rec-meta {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.rec-meta .h2 {
  line-height: 1.25;
  margin: 0;
  text-align: center;
  width: 100%;
}
.rec-meta .h3 {
  color: #666666;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.25;
  margin: 0;
  text-align: center;
  width: 100%;
}

.description {
  width: 100%;
}
.description .p {
  font-weight: 400;
  line-height: 1.75;
  width: 100%;
}

.headshot {
  border-color: #D3D3D3;
  border-radius: 100%;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 0 0 12px #F8FAFD;
  height: 8rem;
  margin: 2rem auto;
  width: 8rem;
}

.hr {
  background-color: #D3D3D3;
  border: 0;
  display: block;
  height: 1px;
  margin: 0;
  width: 75%;
}

/*# sourceMappingURL=master.css.map */
