//** TODO **//
@use "../../styles" as *;


// ****** FIRST AS OF JAN 22, '22 *******
// * Optimize images for different screen times to reduce
//   load time

// * SET UP SCSS SO THAT YOU ARE ONLY BRINGING CERTAIN STYLE SHEETS IN AT
//   CERTAIN TIMES SO THAT YOU DON'T HAVE TO WORRY ABOUT OVERRIDING STYLES

// * Continue adding style updates for different screen sizes

// * Complete menus

// * Add any necessary additional pages




		// ****** LATER OR SOMEDAY *********
		// * Add micro-hovers and animations with the option to switch them off
		// * Add dark mode palette with an automatic feature that matches system setting
		// as well as the ability to turn it off or on manually
		// * Create the ability to set a cookie and allow the user to save their preferences
		// when visiting the site


//***********************************************************//
//**            INITIAL STYLES/ CUSTOM RESETS              **//
//***********************************************************//


.html {
	display: flex;
	font-family: "Roboto", "Helvetica neue", Helvetica, Verdana, Sans-serif;
	font-size: calc(20px + 13 * ((30vw - 500px) / 680));
	-webkit-font-smoothing: antialiased;
	image-rendering: -webkit-optimize-contrast;
	overflow-x: hidden;
	position: relative;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
	width: 100%;
	z-index: 0;

	@media only screen and (min-width: 1100px) {
		font-size: calc(16px + 6 * ((39vw - 320px) / 680));
	}

	@media only screen and (min-width: 2000px) {
		font-size: 20px;
	}
}

.body {
	align-items: center;
	appearance: none;
	-webkit-appearance: none;
	display: flex;
	flex-direction: column;
	height: 100vh;
	overflow-x: hidden;
	position: relative;
	width: 100%;
	z-index: 1;
}

.body * {
	box-sizing: border-box;
}

img,
.button {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}


//***********************************************************//
//**                       TYPOGRAPHY                      **//
//***********************************************************//

// selection color(s)
img::selection,
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
p::selection,
a::selection {
	// @include background-color($gunmetal, 0.25);
}

// typography mods
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.p,
.link,
.label {
	letter-spacing: 0.025rem;

	// top/bottom margin
	&--margin-large {
		margin-top: 2rem;
		margin-bottom: 2rem;
	}
	&--margin-medium {
		margin-top: 1.25rem;
		margin-bottom: 1.25rem;
	}
	&--margin-small {
		margin-top: 0.75rem;
		margin-bottom: 0.75rem;
	}
	&--margin-x-small { // experimental
		margin-top: 0.5rem;
		margin-bottom: 0.5rem;
	}
	&--margin-xx-small { // experimental
		margin-top: 0.125rem;
		margin-bottom: 0.125rem;
	}
	&--margin-xxx-small { // experimental
		margin-top: 0rem;
		margin-bottom: 0rem;
	}

	// line-height
	&--line-height-large {
		line-height: 210%;
	}
	&--line-height-medium {
		line-height: 173%;
	}
	&--line-height-small { // experimental
		line-height: 136%;
	}
	&--line-height-x-small { // experimental
		line-height: 99%;
	}
	&--line-height-xx-small { // experimental
		line-height: 62%;
	}
	&--line-height-xxx-small { // experimental
		line-height: 25%;
	}


	// sizing
	&--xx-large {
		font-size: 5rem;
	}
	&--x-large {
		font-size: 4rem;
	}
	&--large {
		font-size: 3rem;
	}
	&--medium {
		font-size: 2rem;
	}
	&--small {
		font-size: 1.5rem;
	}
	&--x-small {
		font-size: 1.25rem;
	}
	&--xx-small {
		font-size: 1rem;
	}
	&--xxx-small {
		font-size: 0.75rem;
	}

	// weight
	&--weight-100 {
		font-weight: 100;
	}
	&--weight-200 {
		font-weight: 200;
	}
	&--weight-300 {
		font-weight: 300;
	}
	&--weight-400 {
		font-weight: 400;
	}
	&--weight-500 {
		font-weight: 500;
	}
	&--weight-600 {
		font-weight: 600;
	}
	&--weight-700 {
		font-weight: 700;
	}
	&--weight-800 {
		font-weight: 800;
	}
	&--weight-900 {
		font-weight: 900;
	}

	// case
	&--lower {
		text-transform: lowercase;
	}
	&--upper {
		text-transform: capitalize;
	}

	// coloring
	&--light {
		@include color($bright-white, 1);
	}
	&--dark {
		@include color($black, 1);
	}
	&--decorative {
		@include color($charcoal, 1);
		font-family: "PT Serif Caption";
	}
}

// title-specific
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	margin: 0;
	padding: 0;
}

// links
.link {
	text-decoration: none;

	&--arrow {
		display: flex;
		justify-content: center;
		margin: 0;
		padding: 0;

		&-text {

		}
		&-arrow-icon {
			display: flex;
			height: 1rrem;
			position: relative;
			width: 3.25rem;

			&-head-top {
				@include background-color($black, 1);
				border-radius: 3rem;
				display: flex;
				height: 0.0625rem;
				position: absolute;
					top: calc(50% - 0.07rem);
					right: -0.125rem;
				transform: rotate(40deg);
				width: 0.25rem;
			}
			&-head-btm {
				@include background-color($black, 1);
				border-radius: 3rem;
				display: flex;
				height: 0.0625rem;
				position: absolute;
					top: calc(50% + 0.07rem);
					right: -0.125rem;
				transform: rotate(-40deg);
				width: 0.25rem;
			}
			&-tail {
				@include background-color($black, 1);
				border-radius: 3rem;
				display: flex;
				height: 0.0625rem;
				position: absolute;
					top: 50%;
					left: 0.3rem;
				width: 3rem;
			}
		}
	}
}


//***********************************************************//
//**                      GENERAL LAYOUT                   **//
//***********************************************************//

.body,
.landing {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.h2-tag-line,
.header-inner,
.section-inner,
.footer-inner {
	width: calc(100% - 2rem);

	@media only screen and (min-width: 750px) {
		max-width: 100rem;
		width: calc(100% - 12rem);
	}
}

.h2-tag-line {
	max-width: 18rem;

	@media only screen and (min-width: 400px) {
		max-width: 20rem;
	}

	@media only screen and (min-width: 750px) {
		max-width: 44rem;
	}
}

.header,
.section,
.footer {
	width: 100%;

	&-inner {
		margin: 0 auto;
		padding-top: 7.5rem;
		padding-bottom: 5.5rem;
	}
}

//***********************************************************//
//**                        HEADER                         **//
//***********************************************************//

// header block - branded & nav

.header {
	align-items: flex-end;
	min-height: 480px;
	height: 100vh;

	&-inner {
		align-items: flex-end;
		display: flex;
		order: 2;
		height: 6rem;
		flex-direction: row;
		justify-content: space-between;
		margin: 0 auto;
		padding: 0;
		padding-bottom: 2rem;
		position: absolute;
			bottom: 0;
			left: 1rem;
			right: 1rem;
	}

	&-nav {

		&-list {
			display: flex;
			flex-direction: column;
			gap: 0.5rem;
			height: 0rem;
			list-style: none;
			margin: 0;
			order: 1;
			overflow: hidden;
			padding: 0;

			 //
			@media only screen and (min-width: 750px) {
				flex-direction: row;
				height: auto;
				gap: 1rem;
			}
		}
	}
}

.footer {
	align-items: flex-start;

	&-inner {
		align-items: center;
		display: flex;
		flex-direction: column;
		gap: 3rem;
		justify-content: space-between;

		@media only screen and (min-width: 750px) {
			align-items: flex-start;
			flex-direction: row;
			gap: 0;
		}

		&-col {
			align-items: center;
			display: flex;
			justify-content: center;
			width: 100%;


			&-left {
				flex-direction: column;
				gap: 2.75rem;

				@media only screen and (min-width: 750px) {
					align-items: flex-start;
					justify-content: flex-end;
					width: auto;
				}
			}
			&-right {
				flex-direction: column;
				gap: 0.5rem;

				@media only screen and (min-width: 750px) {
					align-items: flex-end;
					gap: 2.25rem;
					justify-content: flex-end;
					width: auto;
				}
			}
		}
	}

	&-nav {

		&-list {
			align-items: center;
			display: flex;
			flex-direction: column;
			gap: 0.6rem;
			list-style: none;
			margin: 0;
			margin-right: 0.35rem;
			order: 1;
			overflow: hidden;
			padding: 0;


			@media only screen and (min-width: 750px) {
				align-items: flex-start;
			}
		}
	}

	&-social {

		&-list {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
			list-style: none;
			margin: 0 auto;
			max-width: 18rem;
			padding: 0;

			@media only screen and (min-width: 400px) {
				max-width: none;
			}

			@media only screen and (min-width: 750px) {
				gap: 0.5rem;
				justify-content: space-between;
				margin: 1rem 0;
				padding-left: 5rem;
			}

			&-item {
				display: flex;

				&-icon {
					@include fill($bright-white, 1);
					display: flex;
				}

				&-link {
					display: flex;
					decoration: none;

					.focus-border {
						display: none;
					}
				}
			}
		}
	}

	&-disclaimers {
		display: flex;
		flex-direction: column;
		width: 100%;

		.p {
			margin: 0;
			text-align: center;
			width: 100%;

			@media only screen and (min-width: 750px) {
				text-align: right;
			}
		}
	}
}

.header,
.footer {
	@include background-color($black, 1);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	width: 100%;

	.h2-tag-line {
		order: 1;
		margin: auto auto auto 1rem;

		text-align: left;

		@media only screen and (min-width: 750px) {
			margin: auto;
			text-align: center;
		}
	}

	&-logo {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		height: 4.75rem;
		margin: 0;
		pointer-events: all;
		width: 3.875rem;

		&:hover,
		&:focus {
			outline: none;
		}
		&:hover {
			cursor: pointer;
		}

		&-link {
			align-items: flex-start;
			display: flex;
			height: 5rem;
			flex-direction: column;
			gap: 0.25rem;
			justify-content: space-between;
			width: 100%;

			&-mark {
				align-items: flex-end;
				display: flex;
				flex-direction: row;
				gap: 12%;
				height: 3.2rem;
				justify-content: center;
				margin-right: 0.25rem;
				pointer-events: none;
				position: relative;
				width: 3rem;

				@media only screen and (min-width: 750px) {
					margin-right: 0;
				}

				&-line {
					@include background-color($bright-white, 1);
					border-radius: 3rem;
					display: block;
					height: 100%;
					pointer-events: none;
					width: 16%;
					z-index: 2;

					&:nth-child(1) {
						height: 45%;
					}
				}
			}
		}
	}

	&-nav {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;

		&-toggle {
			appearance: none;
			@include background-color($black, 0);
			border: 0;
			display: flex;
			justify-content: center;
			order: 2;
			padding: 0;

			 //
			@media only screen and (min-width: 750px) {
				display: none;
			}

			&-text {
				// TBD
			}

			&-arrow-icon {
				display: flex;
				height: 1rem;
				position: relative;
				width: 3.25rem;

				&-head-top {
					@include background-color($bright-white, 1);
					border-radius: 3rem;
					display: flex;
					height: 0.0625rem;
					position: absolute;
						top: calc(50% - 0.07rem);
						right: -0.125rem;
					transform: rotate(40deg);
					width: 0.25rem;
				}
				&-head-btm {
					@include background-color($bright-white, 1);
					border-radius: 3rem;
					display: flex;
					height: 0.0625rem;
					position: absolute;
						top: calc(50% + 0.07rem);
						right: -0.125rem;
					transform: rotate(-40deg);
					width: 0.25rem;
				}
				&-tail {
					@include background-color($bright-white, 1);
					border-radius: 3rem;
					display: flex;
					height: 0.0625rem;
					position: absolute;
						top: 50%;
						left: 0.3rem;
					width: 3rem;
				}
			}
		}

		&-item {
			display: flex;
		}
		&-focus-border {
			// TBD
		}
	}
}

.footer {
	&-logo-link {
		align-items: center;

		@media only screen and (min-width: 750px) {
			align-items: flex-start;
		}
	}
}

//***********************************************************//
//**                      ARTICLES                         **//
//***********************************************************//

.article {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
}

//***********************************************************//
//**                      SECTIONS                         **//
//***********************************************************//

.section {
	&-inner {
		align-items: flex-start;
		display: flex;
		flex-direction: column;
		gap: 2.5rem;
		justify-content: flex-start;
	}
}

.about,
.hello {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;

	.content-wrapper {
		align-items: flex-start;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
	}
}

.about {
	@include background-color($dim-white, 1);

	.h2 {
		text-align: center;

		@media only screen and (min-width: 950px) {
			text-align: left;
			writing-mode: tb-rl;
			transform: rotate(-180deg);
		}
	}

	.section-inner {
		align-items: center;
		flex-direction: column;
		gap: 4rem;

		@media only screen and (min-width: 750px) {
			align-items: flex-start;
			gap: 1.5rem;
		}

		@media only screen and (min-width: 950px) {
			flex-direction: row;
			gap: 2rem;
		}
	}

	.layout-wrapper {
		display: flex;
		flex-direction: column;

		@media only screen and (min-width: 750px) {
			gap: 1rem;
		}
	}

	.content-wrapper {
		align-items: center;
		flex-direction: column;
		gap: 3rem;

		@media only screen and (min-width: 750px) {
			flex-direction: row;
			max-width: 40rem;
		}

		&--break {
			align-items: flex-start;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;

			@media only screen and (min-width: 750px) {
				max-width: 36rem;
				width: 34rem;
			}
		}
	}

	.selfie {
		border-radius: 100%;
		height: 75vw;
		max-height: 22rem;
		margin: 0;
		max-width: 22rem;
		overflow: hidden;
		padding: 0;
		position: relative;
		text-align: center;
		width: 75vw;

		@media only screen and (min-width: 750px) {
			align-self: stretch;
			display: flex;
			border-radius: 0%;
			max-width: 17rem;
			width: 40%;
		}

		// @media only screen and (min-width: 950px) {
		// 	width: 46%;
		// }

		img {
			display: block;
			margin: 0 auto;
			position: absolute;
				top: 0%;
				left: -30%;
			width: 161%;

			@media only screen and (min-width: 750px) {
				object-fit: cover;
				position: static;
				width: 100%;
			}
		}
	}

	.p--decorative {

		@media only screen and (min-width: 750px) {
			max-width: 20rem;
			width: 60%;
		}
	}
}

.hello {
	@include background-color($emo-blue, 1);

	.content-wrapper {
		@media only screen and (min-width: 750px) {
			max-width: 600px;
		}
	}
}


//***********************************************************//
//**                       FOOTER                          **//
//***********************************************************//



















//***********************************************************//
//**                      MEDIA QUERIES                    **//
//***********************************************************//

// EXAMPLE OF HOW TO SEPARATE STYLES OUT INTO MEDIA QUERIES
//		@import url("/inc/Styles/full.css") (min-width: 940px);

// EXAMPLE OF ACCESSIBLE MEDIA QUERY
// 		@media (prefers-reduced-motion: reduce) {
//			.Toggle__display {
//			transition-duration: 0ms;
//			}
//		}


// MOBILE - PORTRAIT //
@media only screen and (pointer: coarse) and (orientation: portrait) and (min-device-width: 0px) {
	// Silence is golden.
}
// MOBILE - LANDSCAPE //
@media only screen and (pointer: coarse) and (orientation: landscape) and (min-device-width: 0px) {
	// Silence is golden.
}



// HOVER CAPABILITIES ONLY ** ** //
@media only screen and (hover: hover) {
	// Silence is golden.
}


// DARK AND LIGHT MODES (EXAMPLES)
//
// @media (prefers-color-scheme: dark) {
//   (ENTER CODE HERE)
// }
//
// @media (prefers-color-scheme: light) {
//   (ENTER CODE HERE)
// }
//
// PREFERS REDUCED MOTION (EXAMPLES)
//   (ENTER CODE HERE)
// }
//
// /* Tone down the animation to avoid vestibular motion triggers like scaling or panning large objects. */
// @media (prefers-reduced-motion) {
//   .animation {
//     animation-name: dissolve;
//   }
// }
