//** TODO **//
@use "../../styles" as *;

//***********************************************************//
//**              LIGHT / DARK MODE PALLETES               **//
//***********************************************************//





//***********************************************************//
//**            INITIAL STYLES / CUSTOM RESETS             **//
//***********************************************************//





.layout-bg--light {
	@media (prefers-color-scheme: light) {
			@include background-color($light--lightest-background);
	}
	@media (prefers-color-scheme: dark) {
			@include background-color($dark--lightest-background);
	}
}
.layout-bg--dark {
	@media (prefers-color-scheme: light) {
			@include background-color($light--darkest-background);
	}
	@media (prefers-color-scheme: dark) {
			@include background-color($dark--darkest-background);
	}
}

//***********************************************************//
//**                       TYPOGRAPHY                      **//
//***********************************************************//

// selection color(s)
img::selection,
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
p::selection,
a::selection,
span::selection {
	@media (prefers-color-scheme: light) {
			@include background-color($light--dark-background, 0.25);
	}
	@media (prefers-color-scheme: dark) {
			@include background-color($dark--dark-background, 0.25);
	}
}

// typography mods
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.p,
.link,
.label {
	letter-spacing: 0.025rem;

	&--style-italic {
		font-style: italic;
	}

	// top/bottom margin
	&--margin-large {
		margin-top: 2rem;
		margin-bottom: 2rem;
	}
	&--margin-medium {
		margin-top: 1.25rem;
		margin-bottom: 1.25rem;
	}
	&--margin-small {
		margin-top: 0.75rem;
		margin-bottom: 0.75rem;
	}
	&--margin-x-small { // experimental
		margin-top: 0.5rem;
		margin-bottom: 0.5rem;
	}
	&--margin-xx-small { // experimental
		margin-top: 0.125rem;
		margin-bottom: 0.125rem;
	}
	&--margin-xxx-small { // experimental
		margin-top: 0rem;
		margin-bottom: 0rem;
	}

	// line-height
	&--line-height-large {
		line-height: 210%;
	}
	&--line-height-medium {
		line-height: 173%;
	}
	&--line-height-small { // experimental
		line-height: 148%;
	}
	&--line-height-x-small { // experimental
		line-height: 99%;
	}
	&--line-height-xx-small { // experimental
		line-height: 62%;
	}
	&--line-height-xxx-small { // experimental
		line-height: 25%;
	}

	// sizing
	&--xxxx-large {
		font-size: 7rem;
	}
	&--xxx-large {
		font-size: 20vw;

		@media only screen and (min-width: 290px) {
			font-size: 6rem;
		}
	}
	&--xx-large {
		font-size: 5rem;
	}
	&--x-large {
		font-size: 4rem;
	}
	&--large {
		font-size: 3rem;
	}
	&--medium {
		font-size: 2rem;
	}
	&--small {
		font-size: 1.5rem;
	}
	&--x-small {
		font-size: 1.4rem;
	}
	&--xx-small {
		font-size: 1rem;
	}
	&--xxx-small {
		font-size: 0.75rem;
	}

	// weight
	&--weight-100 {
		font-weight: 100;
	}
	&--weight-200 {
		font-weight: 200;
	}
	&--weight-300 {
		font-weight: 300;
	}
	&--weight-400 {
		font-weight: 400;
	}
	&--weight-500 {
		font-weight: 500;
	}
	&--weight-600 {
		font-weight: 600;
	}
	&--weight-700 {
		font-weight: 700;
	}
	&--weight-800 {
		font-weight: 800;
	}
	&--weight-900 {
		font-weight: 900;
	}

	// case
	&--lower {
		text-transform: lowercase;
	}
	&--upper {
		text-transform: capitalize;
	}

	// coloring
	&--light {
		@media (prefers-color-scheme: light) {
				@include color($light--lightest-text);
		}
		@media (prefers-color-scheme: dark) {
				@include color($dark--lightest-text);
		}
	}
	&--dark {
		@media (prefers-color-scheme: light) {
				@include color($light--darkest-text);
		}
		@media (prefers-color-scheme: dark) {
				@include color($dark--darkest-text);
		}
	}
	&--decorative {
		@media (prefers-color-scheme: light) {
				@include color($light--dark-text);
		}
		@media (prefers-color-scheme: dark) {
				@include color($dark--dark-text);
		}
		font-family: "PT Serif Caption";
		font-style: italic;
		letter-spacing: 0rem;
	}

	// alignment
	&--align-center-mbl {
		margin: 0 auto;
		text-align: center;
	}
	&--align-left-mbl {
		text-align: left;
	}
	&--align-right-mbl {
		text-align: right;
	}

	@media only screen and (min-width: 640px) {
		&--align-center-dsktp-sml {
			margin: 0 auto;
			text-align: center;
		}
		&--align-left-dsktp-sml {
			text-align: left;
		}
		&--align-right-dsktp-sml {
			text-align: right;
		}
	}
	@media only screen and (min-width: 950px) {
		&--align-center-dsktp-md {
			margin: 0 auto;
			text-align: center;
		}
		&--align-left-dsktp-md {
			text-align: left;
		}
		&--align-right-dsktp-md {
			text-align: right;
		}
	}
	@media only screen and (min-width: 1200px) {
		&--align-center-dsktp-lg {
			margin: 0 auto;
			text-align: center;
		}
		&--align-left-dsktp-lg {
			text-align: left;
		}
		&--align-right-dsktp-lg {
			text-align: right;
		}
	}
}

// title-specific
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	margin: 0;
	padding: 0;
}

// links
.link {
	position: relative;
	text-decoration: none;
	z-index: 1;

	//animations
	@media (prefers-color-scheme: light) {
			@include outline-color($light--light-outline-color);
	}
	@media (prefers-color-scheme: dark) {
			@include outline-color($dark--light-outline-color);
	}
	outline-offset: 0rem;
	outline-style: solid;
	outline-width: 0rem;
	transition-duration: 0.3s, 0.3s;
	transition-property: outline-color, outline-offset;
	transition-timing-function: ease-out, ease-out;

	&:focus {
		border-radius: 0.2rem;
		outline-offset: 0.2rem;
		outline-width: 0.3rem;
	}

	&--light:focus,
	&--border-light:focus {
		@media (prefers-color-scheme: light) {
				@include outline-color($light--light-outline-color);
		}
		@media (prefers-color-scheme: dark) {
				@include outline-color($dark--light-outline-color);
		}
	}

	&--dark:focus,
	&--border-dark:focus {
		@media (prefers-color-scheme: light) {
				@include outline-color($light--darkest-outline-color);
		}
		@media (prefers-color-scheme: dark) {
				@include outline-color($dark--darkest-outline-color);
		}
	}
}

.header-logo-link:focus {
	outline-offset: 0.5rem;
}

//***********************************************************//
//**                        LAYOUT                         **//
//***********************************************************//

// DOCUMENT CONTAINER
.html {
	display: flex;
	height: -webkit-fill-available;
	font-family: "Heebo", "Helvetica neue", Helvetica, Verdana, Sans-serif;
	font-size: 62.5%;
	-webkit-font-smoothing: antialiased;
	image-rendering: -webkit-optimize-contrast;
	overflow-x: hidden;
	position: relative;
	width: 100%;
	z-index: 0;

	@media only screen and (min-width: 640px) {
		font-size: 62.5%;
	}

	@media only screen and (min-width: 1100px) {
		font-size: 62.5%;
	}
}

// BODY CONTAINER
.body {
	align-items: center;
	appearance: none;
	-webkit-appearance: none;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	gap: 10rem;
	min-height: -webkit-fill-available;
	padding: 1rem;
	position: relative;
	width: 100%;
	z-index: 1;
}

// HEADER CONTAINER
.header {
	align-items: center;
	height: 6rem;
	justify-content: center;
 	padding-top: 0;
	padding-bottom: 1rem;
	width: 100%;

	// HEADER LOGO
	&-logo {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		height: 5rem;
		margin: 0;
		pointer-events: all;
		width: auto;

		&:hover {
			cursor: pointer;
		}
		&-link {
			align-items: flex-start;
			display: flex;
			height: 100%;
			flex-direction: column;
			gap: 0.25rem;
			justify-content: space-between;
			width: 100%;

			@media only screen and (min-width: 640px) {
				//silence
			}

			&-mark {
				align-items: flex-end;
				display: flex;
				flex-direction: row;
				gap: 12%;
				height: 3.2rem;
				justify-content: center;
				margin-right: 0.25rem;
				pointer-events: none;
				position: relative;
				width: 3rem;

				@media only screen and (min-width: 640px) {
					margin-right: 0;
					transform: scale(1);
				}

				&-line {
					@media (prefers-color-scheme: light) {
							@include background-color($light--lightest-background);
					}
					@media (prefers-color-scheme: dark) {
							@include background-color($dark--lightest-background);
					}
					border-radius: 3rem;
					display: block;
					height: 100%;
					pointer-events: none;
					width: 16%;
					z-index: 2;

					&:nth-child(1) {
						height: 45%;
					}
				}
			}
		}
	}

// NAVBAR
.navbar {
	align-items: flex-end;
	display: flex;
	height: 5rem;
	justify-content: space-between;
	margin: 0 auto;
	padding: 0;
	position: relative;
	width: 100%;

	@media only screen and (min-width: 640px) {
		max-width: 91rem;
	}

	.menu-button {
		appearance: none;
		@media (prefers-color-scheme: light) {
			@include background-color($light--darkest-fill, 0);
		}
		@media (prefers-color-scheme: dark) {
			@include background-color($light--darkest-fill, 0);
		}
		border-radius: 0rem;
		border-width: 0;
		cursor: pointer;
		display: flex;
		gap: 0.5rem;
		height: auto;
		justify-content: center;
		padding: 0.25rem 2rem 0;
		width: auto;

		&-label {
			@media (prefers-color-scheme: light) {
				@include color($light--lightest-text, 1);
			}
			@media (prefers-color-scheme: dark) {
				@include color($light--lightest-text, 1);
			}
			display: inline-flex;
			text-transform: lowercase;
		}
		&-arrow {
			@media (prefers-color-scheme: light) {
				@include background-color($light--lightest-background, 1);
			}
			@media (prefers-color-scheme: dark) {
				@include background-color($light--lightest-background, 1);
			}
			border-radius: 0.2rem;
			display: inline-flex;
			height: 0.1rem;
			margin: auto 0;
			position: relative;
			width: 2rem;

			&:before,
			&:after {
				@media (prefers-color-scheme: light) {
					@include background-color($light--lightest-background, 1);
				}
				@media (prefers-color-scheme: dark) {
					@include background-color($light--lightest-background, 1);
				}
				border-radius: 0.2rem;
				content: '';
				display: block;
				height: 0.1rem;
				position: absolute;
					right: -0.05rem;
				width: 0.5rem;
			}
			&:before {
				bottom: 0.15rem;
				transform: rotate(45deg);
			}
			&:after {
				top: 0.15rem;
				transform: rotate(-45deg);
			}
		}
	}
}
}

// MAIN MENU CONTAINER (nav)
.main-menu {
	align-items: center;
	backdrop-filter: blur(0.3125rem);

	@media (prefers-color-scheme: light) {
		@include background-color($light--darkest-background, 0.97);
	}

	@media (prefers-color-scheme: dark) {
		@include background-color($dark--darkest-background, 0.97);
	}

	display: flex;
	height: 100vh;
	justify-content: center;
	opacity: 0;
	position: fixed;
		top: 0;
		left: 0;
	transition-property: visibility, opacity;
	transition-delay: 0s, 0s;
	transition-duration: 0.5s, 0.5s;
	transition-timing-function: ease-in, ease-in;
	visibility: hidden;
	width: 100%;
	z-index: 999; // in back of floating nav bar

	&.visible {
		opacity: 1;
		visibility: visible;
	}

	&-list {
		align-items: center;
		display: flex;
		flex-direction: column;
		gap: 1rem;
		justify-content: center;
		list-style: none;
		margin: 0rem;
		padding: 0rem;

		&-item {
			align-items: center;
			justify-content: center;

			&-link {
				align-items: center;
				justify-content: center;
				text-shadow: white 0px 0px 0px;
				transition-property: text-shadow;
				transition-delay: 0s;
				transition-duration: 0.5s;
				transition-timing-function: ease-in;

				&.display {
					text-shadow: white 1px 0px 10px;
				}
			}
		}
	}
}

// MAIN CONTENT CONTAINER
.main {
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: space-between;
	position: relative;
	width: 100%;
	z-index: 1;
}

// H2 - POSITIONING
.h2-tag-line {
	margin: auto auto auto 0rem;
	order: 1;
	padding-bottom: 6rem;
	position: relative;
	text-align: left;

	&-cursor {
		display: inline-block;
		height: 7rem;
		padding-right: 6.5rem;
		position: relative;

		&:after {
			animation: cursor-blink 0.9s infinite;
			@media (prefers-color-scheme: light) {
					@include background-color($light--lightest-background);
			}
			@media (prefers-color-scheme: dark) {
					@include background-color($dark--lightest-background);
			}
			border-radius: 0.015rem;
			content: '';
			display: inline-block;
			height: 7.75rem;
			pointer-events: none;
			position: absolute;
				top: -0.5rem;
				right: 0rem;
			width: 4.8rem;
		}
	}
}

// H2 - ANIMATIONS
@keyframes cursor-blink {
	0% {
	  opacity: 0;
	}
}
@keyframes cursor-blink {
  0% {opacity: 0}
  20% {opacity: 0.95}
  27% {opacity: 1}
  100% {opacity: 0}
}

// FOOTER
.footer {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: space-between;
	margin: 0 auto;
	width: 100%;

	@media only screen and (min-width: 640px) {
		max-width: 91rem;
	}

	&-list {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		list-style: none;
		margin: 0 auto;
		padding: 0;

		@media only screen and (min-width: 640px) {
			gap: 0.5rem;
			justify-content: space-between;
			margin: -0.75rem 0 0;
		}

		&-item {
			display: flex;
			height: 4rem;
			width: 4rem;

			&-icon {
				@media (prefers-color-scheme: light) {
						@include fill($light--darkest-fill, 1);
				}
				@media (prefers-color-scheme: dark) {
						@include fill($light--darkest-fill, 1);
				}
				display: flex;
				width: 4rem;
			}

			&-link {
				display: flex;
				decoration: none;
				height: 4rem;
				width: 4rem;
			}
		}
	}

	&-disclaimers {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		width: 100%;

		.p {
			margin: 0;
			width: 100%;
		}
	}
}

//***********************************************************//
//**                      MEDIA QUERIES                    **//
//***********************************************************//

// EXAMPLE OF HOW TO SEPARATE STYLES OUT INTO MEDIA QUERIES
//		@import url("/inc/Styles/full.css") (min-width: 940px);

// EXAMPLE OF ACCESSIBLE MEDIA QUERY
// 		@media (prefers-reduced-motion: reduce) {
//			.Toggle__display {
//			transition-duration: 0ms;
//			}
//		}


// MOBILE - PORTRAIT //
@media only screen and (pointer: coarse) and (orientation: portrait) and (min-device-width: 0px) {
	// Silence is golden.
}

// MOBILE - LANDSCAPE //
@media only screen and (pointer: coarse) and (orientation: landscape) and (min-device-width: 0px) {
	// Silence is golden.
}


// HOVER CAPABILITIES ONLY ** ** //
@media only screen and (hover: hover) {
	// Silence is golden.
}

// PREFERS REDUCED MOTION (EXAMPLES)
//   (ENTER CODE HERE)
// }

// @media (prefers-reduced-motion) {
//   .animation {
//     animation-name: dissolve;
//   }
// }
