//** TODO **//
@use "../../styles" as *;


		// ****** LATER OR SOMEDAY *********
		// * Add micro-hovers and animations with the option to switch them off
		// * Add dark mode palette with an automatic feature that matches system setting
		// as well as the ability to turn it off or on manually

//***********************************************************//
//**            INITIAL STYLES / CUSTOM RESETS             **//
//***********************************************************//


.html {
	display: flex;
	height: -webkit-fill-available;
	font-family: "Heebo", "Helvetica neue", Helvetica, Verdana, Sans-serif;
	font-size: 62.5%;
	-webkit-font-smoothing: antialiased;
	image-rendering: -webkit-optimize-contrast;
	overflow-x: hidden;
	position: relative;
	width: 100%;
	z-index: 0;



	@media only screen and (min-width: 790px) {
		font-size: 62.5%;
	}

	@media only screen and (min-width: 1100px) {
		font-size: 62.5%;
	}
}

.body {
	align-items: center;
	appearance: none;
	-webkit-appearance: none;
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;
	z-index: 1;

	min-height: -webkit-fill-available;
}

.body * {
	box-sizing: border-box;
}

img,
.button {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.layout-bg--light {
	@include background-color($fog, 1);
}
.layout-bg--dark {
	@include background-color($stiletto, 1);
}

//***********************************************************//
//**                       TYPOGRAPHY                      **//
//***********************************************************//

// selection color(s)
img::selection,
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
p::selection,
a::selection,
span::selection {
	@include background-color($alley-cat, 0.25);
}

// typography mods
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.p,
.link,
.label {
	letter-spacing: 0.025rem;

	// top/bottom margin
	&--margin-large {
		margin-top: 2rem;
		margin-bottom: 2rem;
	}
	&--margin-medium {
		margin-top: 1.25rem;
		margin-bottom: 1.25rem;
	}
	&--margin-small {
		margin-top: 0.75rem;
		margin-bottom: 0.75rem;
	}
	&--margin-x-small { // experimental
		margin-top: 0.5rem;
		margin-bottom: 0.5rem;
	}
	&--margin-xx-small { // experimental
		margin-top: 0.125rem;
		margin-bottom: 0.125rem;
	}
	&--margin-xxx-small { // experimental
		margin-top: 0rem;
		margin-bottom: 0rem;
	}

	// line-height
	&--line-height-large {
		line-height: 210%;
	}
	&--line-height-medium {
		line-height: 173%;
	}
	&--line-height-small { // experimental
		line-height: 148%;
	}
	&--line-height-x-small { // experimental
		line-height: 99%;
	}
	&--line-height-xx-small { // experimental
		line-height: 62%;
	}
	&--line-height-xxx-small { // experimental
		line-height: 25%;
	}

	// sizing
	&--xxxx-large {
		font-size: 14vw;

		@media only screen and (min-width: 567px) {
			font-size: 8rem;
		}
	}
	&--xxx-large {
		font-size: 20vw;

		@media only screen and (min-width: 290px) {
			font-size: 6rem;
		}
	}
	&--xx-large {
		font-size: 5rem;
	}
	&--x-large {
		font-size: 4rem;
	}
	&--large {
		font-size: 3rem;
	}
	&--medium {
		font-size: 2rem;
	}
	&--small {
		font-size: 1.5rem;
	}
	&--x-small {
		font-size: 1.6rem;
	}
	&--xx-small {
		font-size: 1rem;
	}
	&--xxx-small {
		font-size: 0.75rem;
	}

	// weight
	&--weight-100 {
		font-weight: 100;
	}
	&--weight-200 {
		font-weight: 200;
	}
	&--weight-300 {
		font-weight: 300;
	}
	&--weight-400 {
		font-weight: 400;
	}
	&--weight-500 {
		font-weight: 500;
	}
	&--weight-600 {
		font-weight: 600;
	}
	&--weight-700 {
		font-weight: 700;
	}
	&--weight-800 {
		font-weight: 800;
	}
	&--weight-900 {
		font-weight: 900;
	}

	// case
	&--lower {
		text-transform: lowercase;
	}
	&--upper {
		text-transform: capitalize;
	}

	// coloring
	&--light {
		@include color($fog, 1);
	}
	&--dark {
		@include color($stiletto, 1);
	}
	&--decorative {
		@include color($alley-cat, 1);
		font-family: "PT Serif Caption";
		font-style: italic;
		letter-spacing: 0rem;
	}

	// alignment
	&--align-center-mbl {
		margin: 0 auto;
		text-align: center;
	}
	&--align-left-mbl {
		text-align: left;
	}
	&--align-right-mbl {
		text-align: right;
	}

	@media only screen and (min-width: 790px) {
		&--align-center-dsktp-sml {
			margin: 0 auto;
			text-align: center;
		}
		&--align-left-dsktp-sml {
			text-align: left;
		}
		&--align-right-dsktp-sml {
			text-align: right;
		}
	}
	@media only screen and (min-width: 950px) {
		&--align-center-dsktp-md {
			margin: 0 auto;
			text-align: center;
		}
		&--align-left-dsktp-md {
			text-align: left;
		}
		&--align-right-dsktp-md {
			text-align: right;
		}
	}
	@media only screen and (min-width: 1200px) {
		&--align-center-dsktp-lg {
			margin: 0 auto;
			text-align: center;
		}
		&--align-left-dsktp-lg {
			text-align: left;
		}
		&--align-right-dsktp-lg {
			text-align: right;
		}
	}
}

// title-specific
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	margin: 0;
	padding: 0;
}

// links
.link {
	text-decoration: none;
}



// focus border parents

.link,
.button {
	position: relative;
	z-index: 1;

	//animations
	outline-color: rgba(white, 0);
	outline-offset: 0rem;
	outline-style: solid;
	outline-width: 0rem;
	transition-duration: 0.3s, 0.3s;
	transition-property: outline-color, outline-offset;
	transition-timing-function: ease-out, ease-out;


	&--light:focus,
	&--border-light:focus {
		outline-color: rgba($fog, 0.6);
	}

	&--dark:focus,
	&--border-dark:focus {
		outline-color: rgba($stiletto, 0.6);
	}
}

.button:focus {
	outline-offset: -0.125rem;
	outline-width: 0.5rem;
}

.link:focus {
	border-radius: 0.2rem;
	outline-offset: 0.2rem;
	outline-width: 0.3rem;
}

.header-logo-link:focus {
	outline-offset: 0.5rem;
}


.button {

	.label {
		white-space: nowrap;
	}

	// .focus-border {
	// 	border-radius: 3.125rem;
	// 	border-width: 0.25rem;
	// 	height: calc(100% + 0.5rem);
	// 		top: 50%;
	// 		left: 50%;
	// 	transform: translate(-50%, -50%);
	// 	width: calc(100% + 0.5rem);
	// }
}

// focus border
// .focus-border {
// 	@include border-color($flint-shard, 0);
// 	border-radius: 0.25rem;
// 	border-style: solid;
// 	border-width: 0.25rem;
// 	display: block;
// 	height: calc(100% + 1rem);
// 	pointer-events: none;
// 	position: absolute;
// 		top: 50%;
// 		left: 50%;
// 	transform: translate(-50%, -50%);
// 	transition-property: border-color, height, width;
// 	transition-delay: 0s, 0.1s, 0.1s;
// 	transition-duration: 0.2s, 0.2s, 0.2s;
// 	transition-timing-function: ease-out, ease-out, ease-out;
// 	width: calc(100% + 1rem);
// 	z-index: -2;
// }
//
// .link:focus .focus-border {
// 	height: calc(100% + 0.5rem);
// 	width: calc(100% + 0.5rem);
// }
//
// .button:focus .focus-border {
// 	height: calc(100% + 1rem);
// 	width: calc(100% + 1rem);
// }
//
// .link:focus .focus-border,
// .button:focus .focus-border {
// 	@include border-color($flint-shard, 1);
// }


// buttons containers
.wrapper {
	&--article-content {
		align-items: center;
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
		justify-content: center;
		margin: 0 auto;
		max-width: 81rem;
	}
	&--button-grp {
		align-items: center;
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
		justify-content: center;
		margin: 0 auto;
		max-width: 25rem;
		width: 100%;

		@media only screen and (min-width: 400px) {
			flex-direction: row;
			width: auto;
		}

		.button {
			flex-grow: 1;
			width: 100%;

			@media only screen and (min-width: 400px) {
				width: auto;
			}
		}
	}
}

// buttons
.button {
	align-items: center;
	appearance: none;
	border-radius: 3rem;
	display: flex;
	justify-content: center;
	text-decoration: none;

	&--size-md {
		padding: 1rem 2.75rem;
	}

	&--bg-dark {
		@include background-color($stiletto, 1);
	}
	&--bg-light {
		@include background-color($fog, 1);
	}

	&--label {
		display: flex;
		letter-spacing: 0.05rem;
	}

	&--border-dark {
		@include border-color($stiletto, 1);
	}
	&--border-light {
		@include border-color($fog, 1);
	}

	&--solid,
	&--outline {
		border-style: solid;
		border-width: 0.25rem;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}
}

// neighboring labels
.label + .label {
	margin-left: 0.25rem;

	@media only screen and (orientation: portrait) {
		margin-left: 0.15rem;
	}

	@media only screen and (min-width: 390px) and (orientation: portrait) {
		margin-left: 0.55rem;
	}
}

//***********************************************************//
//**                        LAYOUT                         **//
//***********************************************************//

.body,
.landing {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.landing {
	position: relative;
	z-index: 1;
}

.article,
.header,
.section,
.footer {
	width: 100%;

	&-inner {
		margin: 0 auto;
		padding-top: 7.5rem;
		padding-bottom: 5.5rem;
	}
}
.header {
	align-items: flex-end;
	height: 100vh; /* Fallback for browsers that do not support Custom Properties */
	height: calc(var(--vh, 1vh) * 100);
	padding-top: 0;
	padding-bottom: 0;

	// transition height when native mobile nav bars "jerk"
	@media only screen and (pointer: coarse) {
		transition-property: height;
		transition-duration: 0.3s;
		transition-timing-function: ease-out;
	}
}

.article {
	padding-top: 10rem;
}

.section {
	display: flex;
	flex-direction: column;
	gap: 3rem;
}

.floating-nav-bar--inner,
.article-inner,
.header-inner,
.section-inner,
.footer-inner {
	width: calc(100% - 2rem);

	@media only screen and (min-width: 790px) {
		max-width: 91rem;
		width: calc(100% - 4rem);
	}

	@media only screen and (min-width: 950px) {
		width: calc(100% - 12rem);
	}
}

@keyframes cursor-blink {
	0% {
	  opacity: 0;
	}
}
@keyframes cursor-blink {
  0% {opacity: 0}
  30% {opacity: 1}
  100% {opacity: 0}
}

.h2-tag-line {
	margin: auto auto auto 1rem;
	order: 1;
	padding-bottom: 6rem;
	position: relative;
	text-align: left;

	@media only screen and (min-width: 790px) {
		margin: auto;
		padding-bottom: 3rem;
	}

	&-cursor {
		display: inline-block;
		height: 7rem;
		position: relative;

		&:after {
			animation: cursor-blink 0.8s infinite;
			@include background-color($fog, 1);
			content: '';
			display: inline-block;
			height: 15.5vw;
			position: absolute;
				top: -0.884vw;
				right: -2.78vw;
			width: 0.67vw;


			@media only screen and (min-width: 567px) {
				height: 8.75rem;
					top: -0.5rem;
					right: -1.75rem;
				width: 0.375rem;
			}
		}
	}
}

.floating-nav-bar {
	align-items: center;
	backdrop-filter: blur(5px);
	@include background-color($stiletto, 0.97);
	display: flex;
	flex-direction: column;
	order: 2;
	height: 10rem;
	margin: 0 auto;
	padding: 0;
	position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
	z-index: 1000;

	&.fixed {
		position: fixed;
			top: 0;
			left: 1rem;
			right: 1rem;
	}

	@media only screen and (min-width: 790px) {
		height: 9.5rem;
	}

	&--inner {
		align-items: center;
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		height: 100%;
		justify-content: space-between;
		margin: 0 auto;
		padding: 0;
		padding-bottom: 2rem;
		width: 100%;

		@media only screen and (min-width: 790px) {
			align-items: flex-end;
			flex-direction: row;
		}
	}

	&-nav {

		&-list {
			display: flex;
			flex-direction: row;
			gap: 1rem;
			list-style: none;
			margin: 0;
			order: 1;
			padding: 0;
		}
	}
}

.footer {
	align-items: flex-start;

	&-inner {
		align-items: center;
		display: flex;
		flex-direction: column;
		gap: 3rem;
		justify-content: space-between;

		@media only screen and (min-width: 790px) {
			align-items: flex-start;
			flex-direction: row;
			gap: 0;
		}

		&-col {
			align-items: center;
			display: flex;
			justify-content: center;
			width: 100%;


			&-left {
				flex-direction: column;
				gap: 2.5rem;
				order: 2;

				@media only screen and (min-width: 790px) {
					align-items: flex-start;
					order: 1;
					justify-content: flex-end;
					width: auto;
				}
			}
			&-right {
				flex-direction: column;
				gap: 3rem;
				order: 1;

				@media only screen and (min-width: 790px) {
					align-items: flex-end;
					gap: 2.4rem;
					order: 2;
					justify-content: flex-end;
					width: auto;
				}
			}
		}
	}

	&-nav {

		&-list {
			align-items: center;
			display: flex;
			flex-direction: column;
			list-style: none;
			margin: 0;
			margin-right: 0.35rem;
			order: 1;
			overflow: hidden;
			padding: 0;


			@media only screen and (min-width: 790px) {
				align-items: flex-start;
			}
		}
	}

	&-social {

		&-list {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			height: 4rem;
			justify-content: center;
			list-style: none;
			margin: 0 auto;
			max-width: 22rem;
			padding: 0;

			@media only screen and (min-width: 790px) {
				gap: 0.5rem;
				justify-content: space-between;
				margin: -0.75rem 0 0;
				max-width: none;
				padding-left: 5rem;
			}

			&-item {
				display: flex;
				height: 4rem;
				width: 4rem;

				&-icon {
					height: 4rem;
					@include fill($stiletto, 1);
					display: flex;
					width: 4rem;
				}

				&-link {
					display: flex;
					decoration: none;
					height: 4rem;
					width: 4rem;
				}
			}
		}
	}

	&-disclaimers {
		display: flex;
		flex-direction: column;
		width: 100%;

		.p {
			margin: 0;
			width: 100%;
		}
	}
}

.header,
.footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	width: 100%;

	&-logo {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		height: 5rem;
		margin: 0;
		pointer-events: all;
		width: auto;

		&:hover {
			cursor: pointer;
		}
		&-link {
			align-items: center;
			display: flex;
			height: 5rem;
			flex-direction: column;
			gap: 0.25rem;
			justify-content: space-between;
			width: 100%;

			@media only screen and (min-width: 790px) {
				align-items: flex-start;
			}

			&-mark {
				align-items: flex-end;
				display: flex;
				flex-direction: row;
				gap: 12%;
				height: 3.2rem;
				justify-content: center;
				margin-right: 0.25rem;
				pointer-events: none;
				position: relative;
				width: 3rem;

				@media only screen and (min-width: 790px) {
					margin-right: 0;
				}

				&-line {
					@include background-color($fog, 1);
					border-radius: 3rem;
					display: block;
					height: 100%;
					pointer-events: none;
					width: 16%;
					z-index: 2;

					&:nth-child(1) {
						height: 45%;
					}
				}
			}
		}
	}

	&-nav {
		display: flex;
		flex-direction: column;

		&-item {
			display: flex;
		}
		&-focus-border {
			// TBD
		}
	}
}

.footer {

	&-logo-link {
		align-items: center;

		@media only screen and (min-width: 790px) {
			align-items: flex-start;
		}
	}
}

.article {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
}



//***********************************************************//
//**                      MEDIA QUERIES                    **//
//***********************************************************//

// EXAMPLE OF HOW TO SEPARATE STYLES OUT INTO MEDIA QUERIES
//		@import url("/inc/Styles/full.css") (min-width: 940px);

// EXAMPLE OF ACCESSIBLE MEDIA QUERY
// 		@media (prefers-reduced-motion: reduce) {
//			.Toggle__display {
//			transition-duration: 0ms;
//			}
//		}


// MOBILE - PORTRAIT //
@media only screen and (pointer: coarse) and (orientation: portrait) and (min-device-width: 0px) {
	// Silence is golden.
}

// MOBILE - LANDSCAPE //
@media only screen and (pointer: coarse) and (orientation: landscape) and (min-device-width: 0px) {
	// Silence is golden.
}



// HOVER CAPABILITIES ONLY ** ** //
@media only screen and (hover: hover) {
	// Silence is golden.
}


// DARK AND LIGHT MODES (EXAMPLES)
//
// @media (prefers-color-scheme: dark) {
//   (ENTER CODE HERE)
// }
//
// @media (prefers-color-scheme: light) {
//   (ENTER CODE HERE)
// }
//
// PREFERS REDUCED MOTION (EXAMPLES)
//   (ENTER CODE HERE)
// }
//
// /* Tone down the animation to avoid vestibular motion triggers like scaling or panning large objects. */
// @media (prefers-reduced-motion) {
//   .animation {
//     animation-name: dissolve;
//   }
// }
