//** TODO **//
@use "../../styles/tokens/tokens_colors_darkmode" as *;
@use "../../styles/tokens/tokens_colors_lightmode" as *;
@use "../../styles/tokens/tokens_global" as *;
@use "../../styles/tokens/tokens_mixins" as *;

//***********************************************************//
//**                     NAV SELECTION                     **//
//***********************************************************//
.tab {
	&#recommendations {
		color: #343339;
		font-weight: 700;
		pointer-events: none;
	}
}

//***********************************************************//
//**                      PAGE LAYOUT                      **//
//***********************************************************//

.recommendation {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin: 0 auto 24px;
	padding: 2rem;

	&:nth-child(1) {
		padding-top: .05rem;
	}
}
.rec-meta {
	align-items: center;
	display: flex;
	flex-direction: column;

	.h2 {
		line-height: 1.25;
		margin: 0;
		text-align: center;
		width: 100%;
	}
	.h3 {
		color: #666666;
		font-size: 18px;
		font-weight: 400;
		line-height: 1.25;
		margin: 0;
		text-align: center;
		width: 100%;
	}
}
.description {
	width: 100%;
	.p {
		font-weight: 400;
		line-height: 1.75;
		width: 100%;
	}
}

//***********************************************************//
//**                 PAGE DESIGN ELEMENTS                  **//
//***********************************************************//
.headshot {
	border-color: #D3D3D3;
	border-radius: 100%;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 0 0 12px #F8FAFD;
	height: 8rem;
	margin: 2rem auto;
	width: 8rem;
}

.hr {
	background-color: #D3D3D3;
	border: 0;
	display: block;
	height: 1px;
	margin: 0;
	width: 75%;
}


//***********************************************************//
//**                      MEDIA QUERIES                    **//
//***********************************************************//

// EXAMPLE OF HOW TO SEPARATE STYLES OUT INTO MEDIA QUERIES
//		@import url("/inc/Styles/full.css") (min-width: 940px);

// EXAMPLE OF ACCESSIBLE MEDIA QUERY
// 		@media (prefers-reduced-motion: reduce) {
//			.Toggle__display {
//			transition-duration: 0ms;
//			}
//		}


// MOBILE - PORTRAIT //
@media only screen and (pointer: coarse) and (orientation: portrait) and (min-device-width: 0px) {
	// Silence is golden.
}

// MOBILE - LANDSCAPE //
@media only screen and (pointer: coarse) and (orientation: landscape) and (min-device-width: 0px) {
	// Silence is golden.
}


// HOVER CAPABILITIES ONLY ** ** //
@media only screen and (hover: hover) {
	// Silence is golden.
}

// PREFERS REDUCED MOTION (EXAMPLES)
//   (ENTER CODE HERE)
// }

// @media (prefers-reduced-motion) {
//   .animation {
//     animation-name: dissolve;
//   }
// }