//** TODO **//
// * Optimize images for different screen times to reduce
//   load time
// * Continue adding style updates for different screen sizes
// * Start targeting landscape vs portrait in some cases
// * Test ::selection CSS to ensure it's working as desired on each page element
// * Create mobile responsive CSS media queries and style as needed
// * Add micro-interactions and animations with the option to switch them off
// * Add dark mode palette with an automatic feature that matches system setting
// as well as the ability to turn it off or on manually
// * Create the ability to set a cookie and allow the user to save their preferences
// when visiting the site
// * Complete menu and additional pages
// * Re-check and refine and build code out in BEM methodology once you've come
//   to a stopping point
// * Make a portion of your CSS (typography, main scaffolding,
//   first content block and its children, etc. ) partially internal, and
//   partially inline. See: https://www.ewaycorp.com/blog/advantages-of-inline-css/
//   for more information.

@import "../../fonts/fonts";
@import "../resets/normalize";
@import "../tokens/tokens";

//**-----TYPOGRAPHY-----**//

// selection color(s)
img::selection,
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
p::selection,
a::selection {
	@include background-color($gunmetal, 0.25);
}
.p--dark-mode::selection,
.link--dark-mode::selection,
.btn__label::selection {
	@include background-color($white, 0.25);
}


// titles
.h2 {
	align-self: stretch;
	color: $dark-copy-text;
	flex-grow: 0;
	font-size: 4.5em;
	font-weight: 600;
	line-height: 0.88em;
	letter-spacing: -0.055em;
	margin: 0.23em 0em;
}


// title mods -- size
.h2--large {
	font-size: 7em;
}


// body copy
.p {
	flex-grow: 0;
	margin: 0.67em 0em;

	&:last-child {
		margin-bottom: 0;
	}
}


// body copy mods -- widths
.p--contained {
	align-self: auto;
}
.p--full {
	align-self: stretch;
}


// body copy mods -- text size
.p--small-text {
	font-size: 1em;
	font-weight: 500;
	letter-spacing: -0.01%;
}
.p--medium-text {
	font-size: 1em;
	font-weight: 500;
	letter-spacing: -0.01%;
}
.p--large-text {
	font-size: 1.5em;
	font-weight: 400;
	letter-spacing: -0.025em;
}


// body copy mods -- mode coloring
.p--light-mode {
	color: $dark-copy-text;
}
.p--dark-mode {
	color: $light-copy-text;
}


// body copy mods -- line-height
.p--line-height-large { // .p
	line-height: 1.34em;
}
.p--line-hight-medium {
	line-height: 1.25em;
}
.p--line-hight-small {
	line-height: 1em;
}





//**-----INTERACTIVE-ELEMENTS-----**//


// links (text only)
.link {
	appearance: none;
	color: inherit;
	cursor: default;
	display: inline-flex;
	font-weight: 500; // play with this in desktop
	padding: 0em;
	position: relative;
	text-decoration: none;

	&:focus {
		outline: none;
	}
	&:hover {
		cursor: pointer;
	}
}


// link (text only) focus border
.link__focus-border {
	border-style: solid;
	border-radius: 0.5rem;
	border-width: 0.125em;
	display: block;
	height: calc(100% + 1.25rem);
	pointer-events: none;
	position: absolute;
		top: -0.5rem;
		left: -0.75rem;
	width: calc(100% + 1.5rem);
}


// link (text only) mods -- mode coloring
.link--dark-mode {
	&,
	&:visited {
		@include color($light-interactive-rest, 1);
	}
	& .link__focus-border,
	&:visited .link__focus-border {
		@include border-color($light-interactive-rest, 0);
	}
	&:hover,
	&:focus {
		@include color($light-interactive-hover, 1);
		text-decoration: none;
	}
	&:hover .link__focus-border,
	&:focus .link__focus-border {
		@include border-color($light-interactive-hover, 0.75);
	}
	&:active {
		@include color($light-interactive-press, 1);
	}
	&:active .link__focus-border {
		@include border-color($light-interactive-press, 0);
	}
}
.link--light-mode {
	&,
	&:visited {
		@include color($medium-interactive-rest, 1);
	}
	& .link__focus-border,
	&:visited .focus-border {
		@include border-color($medium-interactive-rest, 0);
	}
	&:hover,
	&:focus {
		@include color($medium-interactive-hover, 1);
		text-decoration: none;
	}
	&:hover .link__focus-border,
	&:focus .link__focus-border {
		@include border-color($medium-interactive-hover, 0.75);
	}
	&:active {
		@include color($medium-interactive-press, 1);
	}
	&:active .link__focus-border {
		@include border-color($medium-interactive-press, 0);
	}
}


// button
.btn {
	appearance: none;
	align-items: center;
	@include background-color($btn-bg-disabled, 1);
	border: 0;
	border-radius: 6em;
	@include color($dark-copy-text, 1);
	cursor: default;
	display: flex;
	font-weight: 600;
	font-size: 1.375em;
	justify-content: center;
	line-height: 2em;
	letter-spacing: 0.075em;
	padding: 0.5em 3em;
	position: relative;
	text-decoration: none;

	&:focus {
		outline: none;
	}
	&:hover {
		cursor: pointer;
	}
	&:hover,
	&:focus,
	&:active {
		color: $label-interaction;
	}
	.btn__label {
		display: inline-flex;
		white-space: nowrap;
	}
	.btn__focus-border {
		border-style: solid;
		border-radius: 4.5em;
		border-width: 0.125em;
		display: block;
		height: calc(100% + 0.5em);
		pointer-events: none;
		position: absolute;
			top: -0.25em;
			left: -0.25em;
		width: calc(100% + 0.5em);
	}
}


// button mods -- primary and secondary
.btn--primary {
	&,
	&:visited {
		@include background-color($primary-btn-bg-rest, 1);
	}
	& .btn__focus-border,
	&:visited .btn__focus-border {
		@include border-color($primary-btn-bg-rest, 0);
	}
	&:hover,
	&:focus {
		@include background-color($primary-btn-bg-hover, 1);
	}
	&:hover .btn__focus-border,
	&:focus .btn__focus-border {
		@include border-color($primary-btn-bg-hover, 1);
	}
}
.btn--secondary {
	&,
	&:visited {
		@include background-color($secondary-btn-bg-rest, 1);
	}
	& .btn__focus-border,
	&:visited .btn__focus-border {
		@include border-color($secondary-btn-bg-rest, 0);
	}
	&:hover,
	&:focus {
		@include background-color($secondary-btn-bg-hover, 1);
	}
	&:hover .btn__focus-border,
	&:focus .btn__focus-border {
		@include border-color($secondary-btn-bg-hover, 1);
	}
}
.btn--primary,
.btn--secondary {
	&,
	&:visited {
		@include color($label-rest, 1);
	}
	&:active,
	&:active:focus {
		@include color($label-interaction, 1);
		@include background-color($button-press, 1);
	}
	&:active .btn__focus-border,
	&:active:focus .btn__focus-border {
		@include border-color($button-press, 0);
	}
}


// header nav button
.header__nav-btn {
	align-items: center;
	appearance: none;
	@include background-color($primary-btn-bg-rest, 0);
	border: 0;
	border-radius: 100%;
	display: none;
	flex-direction: column;
	height: 5em;
	justify-content: center;
	margin: 0em;
	padding: 0em;
	pointer-events: all;
	position: absolute;
		top: 1.5em;
		right: 2.5em;
	width: 5em;
	z-index: 3;

	&:hover {
		cursor: pointer;
	}

	.header__nav-btn__inner {
		align-items: center;
		display: flex;
		flex-direction: column;
		gap: 0.25em;
		height: 100%;
		justify-content: center;
		pointer-events: none;
		width: 100%;
	}

	.header__nav-btn__focus-border {
		@include border-color($primary-btn-bg-rest, 0);
		border-radius: 12.5em;
		border-style: solid;
		border-width: 0.25em;
		display: block;
		height: calc(100% + 0.75em);
		pointer-events: none;
		position: absolute;
			top: calc(50% - 0.65em);
			left: 50%;
		transform: translate(-50%, -50%);
		width: calc(100% + 0.75em);
	}
	&:hover .header__nav-btn__focus-border,
	&:focus .header__nav-btn__focus-border {
		@include border-color($primary-btn-bg-hover, 1);
	}
	&:active .header__nav-btn__focus-border {
		@include border-color($button-press, 0);
	}

	.header__nav-btn__elipses {
		@include background-color($primary-btn-bg-rest, 0);
		border-radius: 100%;
		display: flex;
		height: 100%;
		position: absolute;
			top: calc(50% - 0.65em);
			left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
	}
	&:hover .header__nav-btn__elipses,
	&:focus .header__nav-btn__elipses {
		@include background-color($primary-btn-bg-hover, 1);
	}
	&:active .header__nav-btn__elipses {
		@include background-color($button-press, 1);
	}

	.header__nav-btn__icon {
		display: block;
		height: 2em;
		line-height: 0;
		position: relative;
		width: 2em;

		.header__nav-btn__icon__line {
			@include background-color($primary-btn-bg-rest, 1);
			border-radius: 3.125em;
			display: block;
			height: 0.275em;
			position: absolute;
				top: 0;
				left: 0;
			width: 2em;
		}
	}

	.header__nav-btn__icon--hamburger {

		.header__nav-btn__icon__line:nth-child(1) {
			opacity: 1;
			transform: translate(0%, 0%) rotate(0deg);
		}

		.header__nav-btn__icon__line:nth-child(2) {
			opacity: 1;
			transform: translate(0%, 250%) rotate(0deg);
		}

		.header__nav-btn__icon__line:nth-child(3) {
			opacity: 1;
			transform: translate(0%, 500%) rotate(0deg);
		}
	}

	&:hover .header__nav-btn__icon__line,
	&:focus .header__nav-btn__icon__line,
	&:active .header__nav-btn__icon__line {
		@include background-color($label-interaction, 1);
	}


	.header__nav-btn__icon--close {
		// nothing yet.
	}

	.header__nav-btn__label {
		@include color($primary-btn-bg-rest, 1);
		display: block;
		font-size: 0.75em;
		font-weight: 600;
		letter-spacing: .05em;
		line-height: 1;
		margin: 0 auto;
		text-align: center;
		width: 4em;
	}
	&:hover .header__nav-btn__label,
	&:focus .header__nav-btn__label {
		opacity: 0;
	}
}





//**-----BLOCKS-----**//


// parent/root blocks
* {
	box-sizing: border-box;
}
.html {
	display: flex;
	@include background-color($dark-charchoal, 1);
	font-family: "Inter", sans-serif;
	font-size: 100%;
	overflow-x: hidden;
	position: relative;
	width: 100%;
	z-index: 0;
}

.body {
	align-items: center;
	@include background-color($ghost-white, 1);
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
	position: relative;
	width: 100%;
	z-index: 1;
}


// header block
.header {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 8.75em;
	pointer-events: none;
	position: absolute;
		top: 0;
		left: 50%;
	transform: translate(-50%, 0%);
	width: 100%;
	z-index: 2;
}

.header__inner {
	align-items: center;
	height: 100%;
	display: flex;
	max-width: 65em;
	position: relative;
	width: 100%;
}


// header logo block
.header__logo {
	align-items: flex-start;
	display: flex;
	flex-direction: row;
	height: 5em;
	justify-content: left;
	pointer-events: all;
	position: absolute;
		top: 2em;
		left: 4em;
	width: 5em;
	z-index: 3;
}


// header logo mark block
.header__logo__mark {
	align-items: flex-end;
	display: flex;
	flex-direction: row;
	gap: 0.45em;
	justify-content: center;
}


// header logo lines
.header__logo__line {
	@include background-color($upper-half-background, 1);
	border-radius: 3em;
	display: block;
	height: 4.75em;
	width: 0.875em;
}
.header__logo__line:nth-child(1) {
	height: 2.25em;
}


// header logo title block
.header__logo__title {
	color: rgba(0,0,0,0%);
	height: 100%;
	font-size: 0.125em;
	overflow: hidden;
	position: absolute;
		top: 0%;
		left: 0%;
	width: 100%;
}


// header nav
.header__nav {
	@include background-color($dark-charchoal, 1);
	display: none;
	height: 3.75em;
	position: relative;
}


// header nav inner block
.header__nav__inner {
	align-items: center;
	height: 100%;
	display: flex;
	position: relative;
	width: 100%;
}


// TEMPORARY UNTIL READY TO DISPLAY
.header__nav__menu,
.header__nav__menu__item {
	display: none;
	height: 0em;
	margin: 0em;
	overflow: hidden;
	padding: 0em;
	width: 0em;
}


// landing block
.landing {
	align-items: center;
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;
}
.landing__inner {
	align-items: center;
	height: 100%;
	display: flex;
	flex-direction: column;
	max-width: 65em;
	position: relative;
	width: 100%;
	z-index: 1;
}


// landing block mods -- rectangle decorations (not shown on mobile)
.landing__rectangle {
	// display: none; mobile portrait only
	display: block;
	pointer-events: none;
	position: absolute;
	width: 50%;
	z-index: -1;

	&:after {
		content: '';
		display: block;
		height: 6vw;
		position: absolute;
			right: 0;
		width: 100%;
	}
}

// landing block decorations -- rectangles (positioning)
.landing__rectangle--left {
	left: 0;
}
.landing__rectangle--right {
	right: 0;
}
.landing__rectangle--top {
	top: 0;
}
.landing__rectangle--bottom {
	bottom: 0;
}

// landing block decorations -- rectangles (colors)
.landing__rectangle--anti-flash-white {
	@include background-color($anti-flash-white, 1);

	&:after {
		@include triangle(left, bottom, $anti-flash-white);
	}
}
.landing__rectangle--cultured {
	@include background-color($cultured, 1);

	&:after {
		@include triangle(left, bottom, $ghost-white);
	}
}


// landing block decorations -- rectangles (specfic dimensions)
.landing__rectangle-top-left-height {
	// height: calc(43em - 2.75vw);
	// height: calc(48.55em - 6vw);
	height: calc(45.15em - 6vw);

	&:after {
		top: calc(45.15em - 6vw);
	}
}
.landing__rectangle-top-right--height {
	height: 45em;

	&:after {
		top: 45em;
	}
}
.landing__rectangle-bottom-left-height {
	// height: calc(23.5em + 2.75vw);
	height: calc(23.35em + 6vw);

	&:after {
		bottom: 23.35em;
	}
}
.landing__rectangle-bottom-right--height {
	// height: 21.625em;
	height: 19.75em;

	&:after {
		bottom: calc(23.65em - 6vw);
	}
}





// landing-section block
.landing-section {
	align-items: flex-end;
	display: flex;
	justify-content: flex-start;
	position: relative;
	width: 100%;
}


// landing-section block mods -- heights
.landing-section--tall {
	height: auto;
}
.landing-section--short {
	height: auto;
}


// landing-section block mods -- halfed layout
.landing-section--halves {
	// flex-direction: column-reverse; (mobile portrait)
	flex-direction: row;
}
.landing-section--halves-reversed {
	flex-direction: row-reverse;
	// flex-direction: column-reverse;  (mobile portrait)
}


// landing-section block mods -- colors
.landing-section--ghost-white {
	@include background-color($ghost-white, 1);
}
.landing-section--cultured {
	@include background-color($cultured, 1);
}


// landing-section block mods -- slant decorations
.landing-section--slant {

	&:before {
		@include background-color($ghost-white, 1);
		content: '';
		height: 3.75em;
		pointer-events: none;
		position: absolute;
			top: 0;
			right: 0;
		width: 50%;
		z-index: 1;
	}
	&:after {
		@include triangle(right, top, $cultured);
		content: '';
		height: 3.75em;
		pointer-events: none;
		position: absolute;
			top: 0;
			right: 0;
		width: 50%;
		z-index: 2;
	}
}


// landing-section content block
.landing-section-content {
	display: flex;
	// padding: 10em 2em 10em; mobile portrait only
	padding: 7em 2.5em 3em;
	width: 100%;
}


// landing-section content block mods -- width
.landing-section-content--halved {
	width: 50%;
	// width: 100%; mobile portrait only
}
.landing-section-content--full {
	width: 100%;
}


// landing-section content inner block
.landing-section-content__inner {
	align-items: flex-start;
	align-self: center;
	display: flex;
	height: 100%;
	flex-direction: column;
	position: relative;
	width: 100%;
}


// landing section image container block
.landing-section-image-container {
	display: block;
	// height: 106em; mobile portrait only?
	height: 60em;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: relative;
	// width: 100%; mobile portrait only
	width: 50%;
}


// landing section image container block mods -- triangle decorations
.landing-section-image-container-triangle:after {
	content: '';
	display: block;
	height: 3.75em;
	position: absolute;
	width: 100%;
	z-index: 1;
}
.landing-section-image-container--triangle--top--right--ghost-white:after {
	@include triangle(left, bottom, $ghost-white);
		top: 0;
		left: 0;
}
.landing-section-image-container--triangle--bottom--right--ghost-white:after {
	@include triangle(right, top, $ghost-white);
		bottom: 0;
		left: 0;
}
.landing-section-image-container--triangle--bottom--right--cultured:after {
	@include triangle(right, top, $cultured);
		bottom: 0;
		left: 0;
}


// landing section image container block mods -- curve decorations
.landing-section-image-container--curved--bottom--right {
	// border-bottom-right-radius: 10em; all mobile at certain screen size ...
	border-bottom-right-radius: 15vw;
}
.landing-section-image-container--curved--top--left {
	// border-bottom-right-radius: 10em; all mobile at certain screen size ...
	border-top-left-radius: 15vw;
}


// landing section image
.landing-section-image {
	display: block;
	height: calc(100% - 0.0625em);
	object-fit: cover; /* or object-fit: contain; */
	width: 100%;
}


// landing section button group
.landing-section-content__btn-grp {
	flex-direction: column;
	display: flex;
	gap: 2em;
	margin-top: 4em;
	width: 100%;
}


// footer block
.footer {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
	padding: 8em 4em 6em;
	position: relative;
	width: 100%;

	&:after {
		@include background-color($footer-background, 1);
		content: '';
		height: calc(100% - 0.125em);
		display: block;
		position: absolute;
			bottom: 0;
			left: 0;
		width: 100%;
	}
}


// footer block decorative elipses
.footer__elipses {
	@include background-color($elipses-background, 1);
	border-radius: 100%;
	display: flex;
	height: 8em;
	position: absolute;
		top: 0%;
		left: 50%;
	min-width: calc(100% + 40em);
	transform: translate(-50%, -50%);
	z-index: 2;
}


// footer block inner
.footer__inner {
	align-items: center;
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 0em;
	justify-content: center;
	max-width: 65em;
	position: relative;
	width: 100%;
	z-index: 1;
}


// footer section block
.footer-section {
	align-items: center;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	width: 100%;
}


// footer section block inner
.footer-section__inner {
	align-items: center;
	height: 100%;
	display: flex;
	// flex-wrap: // wrap; wrap on portrait
	flex-wrap: nowrap;
	justify-content: center;
	position: relative;
	padding: 0em;
	width: 100%;
}


// footer section block mods -- menu (social)
.footer-section__inner--menu {
	flex-direction: row;
	gap: 1em;
	list-style-type: none;
	padding: 0;
}


// footer section block mods -- dots
.footer-section__inner--dots {
	display: flex;
	flex-direction: row;
	gap: 1em;
	list-style: none;
}


// footer section dot block decorations
.footer__section__dot {
	border-radius: 100%;
	height: 0.5em;
	width: 0.5em;
}


// footer section dot block decoration mods -- colors
.footer__section__dot--red {
	@include background-color($red, 1);
}
.footer__section__dot--orange {
	@include background-color($orange, 1);
}
.footer__section__dot--yellow {
	@include background-color($yellow, 1);
}
.footer__section__dot--green {
	@include background-color($green, 1);
}
.footer__section__dot--blue {
	@include background-color($blue, 1);
}
.footer__section__dot--violet {
	@include background-color($violet, 1);
}


// footer section block mods -- disclaimers
.footer-section__inner--disclaimers {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	list-style: none;
	padding: 0;
}


// footer menu item
.footer__menu__item {
	display: flex;
	height: 4em;
	margin: 0;
	padding: 0;
	width: 4em;
}


// footer menu item link (social icons)
.footer__menu__item__link {
	align-items: center;
	border-radius: 9em;
	display: flex;
	height: 3em;
	justify-content: center;
	position: relative;
	text-decoration: none;
	width: 3em;

	.footer__menu__item__link__focus-border {
		@include border-color($ghost-white, 0);
		border-radius: 9em;
		border-style: solid;
		border-width: 0.25em;
		display: block;
		height: calc(100% + 1.25em);
		pointer-events: none;
		position: absolute;
			top: -0.625em;
			left: -0.625em;
		width: calc(100% + 1.25em);
	}
	&:focus {
		outline: none;
	}
	&,
	&:visited {
		@include background-color($secondary-btn-bg-hover, 0);
	}
	&:visited .footer__menu__item__link__focus-border {
		@include border-color($ghost-white, 0);
	}
	&:hover,
	&:focus {
		@include background-color($secondary-btn-bg-hover, 0.25);
	}
	&:hover .footer__menu__item__link__focus-border,
	&:focus .footer__menu__item__link__focus-border {
		@include border-color($ghost-white, 0.75);
	}
	&:active {
		@include background-color($secondary-btn-bg-hover, 0.25);
	}
	&:active .footer__menu__item__link__focus-border {
		@include border-color($ghost-white, 0);
	}
}


// footer menu item link image/icon (social icons)
.footer__menu__item__link__image {
	display: flex;
	height: 3em;
	width: 3em;
}


/// mobile only nav
.nav__mobile {
	display: flex;
	@include background-color($dark-charchoal, 1);
	box-shadow: 0px 7px 15px 10px rgba(0,0,0,0.76);
	flex-direction: column;
	height: 11em;
	padding: 1em 4em;
	position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
	width: 100%;
	z-index: 3;
}
.nav__mobile__inner {
	display: flex;
	height: 100%;
	flex-direction: column;
	width: 100%;
}
.nav__mobile__menu {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	list-style: none;
	padding: 0em;
}
.nav__mobile__menu__item {
	align-items: center;
 	display: flex;
	flex-direction: column;
	height: 7em;
	justify-content: center;
	width: 8em;
}
.nav__mobile__menu__item__btn {
	align-items: center;
	appearance: none;
	border: 0em;
	@include background-color($dark-charchoal, 0);
	display: flex;
	flex-direction: column;
	height: 7em;
	gap: 0.75em 0em;
	justify-content: center;
	width: 8em;
}
.nav__mobile__menu__item__btn__image {
	height: 4em;
	width: 4em;
}
.nav__mobile__menu__item__btn__label {
	display: flex;
	font-size: 1.5em;
	@include color($ghost-white, 1);
}
.nav__mobile__menu__item__btn__focus-border {
	display: none; // temp
}


@media only screen
	and (hover: hover) {
	// devices with hover support only
	// add styles here for input devices
	// that can "hover" interactive elements
}

@media only screen
	and (orientation: portrait)
	and (min-device-width: 450px),
	(orientation: portrait)
	and (min-width: 1024px) {
	.nav__mobile {
		display: none;
	}
	.header__nav-btn {
		display: flex;
	}
}
@media only screen
	and (orientation: landscape) {
		.nav__mobile {
			display: none;
		}
		.header__nav-btn {
			display: flex;
		}
}

@media only screen
	and (max-device-width: 401px)
	and (orientation: portrait) {

}

@media only screen
	and (min-device-width: 916px) {
		.btn {
			font-size: 1em;
			letter-spacing: 0.01em;
			padding: 0.5em 3em;
		}
		.landing-section-content__btn-grp {
			flex-direction: row;
			width: auto;
		}
}

@media only screen
	and (min-width: 401px) {
		.landing-section-image-container {
			height: 100%;
		}
}



@media only screen
	and (min-width: 549px) {
		.h2 {
			font-size: 2em;
		}
}
@media only screen
	and (min-width: 598px) {
		.h2 {
			font-size: 2.25em;
		}
}
@media only screen
	and (min-width: 646px) {
		.h2 {
			font-size: 2.5em;
		}
}
@media only screen
	and (min-width: 696px) {
		.h2 {
			font-size: 2.75em;
		}
}
@media only screen
	and (min-width: 743px) {
		.h2 {
			font-size: 3em;
		}
}
@media only screen
	and (min-width: 792px) {
		.h2 {
			font-size: 3.25em;
		}
}
@media only screen
	and (min-width: 845px) {
		.h2 {
			font-size: 3.5em;
		}
}
@media only screen
	and (min-width: 890px) {
		.h2 {
			font-size: 3.75em;
		}
}
@media only screen
	and (min-width: 938px) {
		.h2 {
			font-size: 4em;
		}
}
@media only screen
	and (min-width: 1041px) {
		.h2 {
			font-size: 4.5em;
		}
		.landing-section--tall {
			height: 45em;
		}
		.landing-section--short {
			height: 23.5em;
		}
}
