//** TODO **//




// ****** FIRST AS OF JAN 22, '22 *******
// * Optimize images for different screen times to reduce
//   load time

// * SET UP SCSS SO THAT YOU ARE ONLY BRINGING CERTAIN STYLE SHEETS IN AT
//   CERTAIN TIMES SO THAT YOU DON'T HAVE TO WORRY ABOUT OVERRIDING STYLES

// * Continue adding style updates for different screen sizes

// * Complete menus

// * Add any necessary additional pages




		// ****** LATER OR SOMEDAY *********
		// * Add micro-interactions and animations with the option to switch them off
		// * Add dark mode palette with an automatic feature that matches system setting
		// as well as the ability to turn it off or on manually
		// * Create the ability to set a cookie and allow the user to save their preferences
		// when visiting the site


//***********************************************************//
//**                         ASSETS                        **//
//***********************************************************//


@import "../../fonts/fonts";
@import "../resets/normalize";
@import "../tokens/tokens";


//***********************************************************//
//**            INITIAL STYLES/ CUSTOM RESETS              **//
//***********************************************************//


.html {
	display: flex;
	@include background-color($dark-charchoal, 1);
	font-family: "Inter", sans-serif;
	font-size: 100%;
	-webkit-font-smoothing: antialiased;
	overflow-x: hidden;
	position: relative;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
	width: 100%;
	z-index: 0;
}

.body {
	align-items: center;
	appearance: none;
	-webkit-appearance: none;
	@include background-color($ghost-white, 1);
	// @include background-color(#FAFAFA, 1);
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
	position: relative;
	width: 100%;
	z-index: 1;
}

.body * {
	box-sizing: border-box;
}

img,
.btn {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

// decorative background triangles for desktop view
.bg-decorative-triangle:before {
	content: '';
	display: block;
	position: absolute;
		left: 0;
	width: 100%;
	z-index: 0;
}
.bg-decorative-triangle {
	display: block;
	position: absolute;
		left: 50%;
	transform: translate(-50%, 0%);
	width: 100%;

	&.top {
		background-color: $cultured;
		height: calc(43em - 3vw);
			top: 0;

		&:before {
			border-top: 6vw solid $cultured;
			border-left: 100vw solid transparent;
			height: 0em;
				top: calc(43em - 3vw);
		}
	}
	&.bottom {
		background-color: $cultured;
		height: calc(53.75em + 3vw);
			bottom: 0;

		&:before {
			border-top: 6vw solid $ghost-white;
			border-left: 100vw solid transparent;
			height: 0em;
				bottom: calc(53.75em - 3vw);
		}
	}
}

//***********************************************************//
//**                       TYPOGRAPHY                      **//
//***********************************************************//


// selection color(s)
img::selection,
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
p::selection,
a::selection {
	@include background-color($gunmetal, 0.25);
}
.p--dark-mode::selection,
.link--dark-mode::selection,
.btn__label::selection {
	@include background-color($white, 0.25);
}


// titles
.h2 { // this is right for smallest mobile; change in a media query
	align-self: stretch;
	color: $dark-copy-text;
	flex-grow: 0;
	font-size: 3.42em;
	font-weight: 600;
	line-height: 1em;
	letter-spacing: -0.04em;
	margin: 0.40em 0em 0.08em;
}


// title mods -- size
.h2--large {
	font-size: 5em; // this is right for smallest mobile; change in a media query
}


// body copy
.p { // this is right for smallest mobile; change in a media query
	flex-grow: 0;
	margin: 0.67em 0em;

	&:last-child {
		margin-bottom: 0;
	}
}


// body copy mods -- widths
.p--contained {
	align-self: auto;
}
.p--full {
	align-self: stretch;
}


// body copy mods -- text size
.p--small-text {
	font-size: 1.2em; // this is right for smallest mobile; change in a media query
	font-weight: 500;
	letter-spacing: -0.01em;
}
.p--medium-text {
	font-size: 1.3em; // this is right for smallest mobile; change in a media query
	font-weight: 500;
	letter-spacing: -0.01em;
}
.p--large-text {
	font-size: 1.6em; // this is right for smallest mobile; change in a media query
	font-weight: 500;
	letter-spacing: -0.025em;
}
.landing-section-content:last-child .p--large-text {
	margin-bottom: 0;
}


// body copy mods -- mode coloring
.p--light-mode {
	color: $dark-copy-text;
}
.p--dark-mode {
	color: $light-copy-text;
}


// body copy mods -- line-height
.p--line-height-large {
	line-height: 1.4em;
}
.p--line-height-medium {
	line-height: 1.5em;
}
.p--line-height-small {
	line-height: 1em;
}


//***********************************************************//
//**                         LINKS                         **//
//***********************************************************//


// links (text only)
.link {
	appearance: none;
	color: inherit;
	cursor: default;
	display: inline-flex;
	font-weight: 800; // play with this in desktop
	padding: 0em;
	position: relative;
	text-decoration: none;
}
// link (text only) focus border
.link__focus-border {
	border-style: solid;
	border-radius: 0.5rem;
	border-width: 0.125em;
	display: block;
	height: calc(100% + 1.25rem);
	pointer-events: none;
	position: absolute;
		top: -0.5rem;
		left: -0.75rem;
	width: calc(100% + 1.5rem);
}
.link--dark-mode {
	& .link__focus-border {
		@include border-color($light-interactive-rest, 0);
	}
}
.link--light-mode {
	& .link__focus-border {
		@include border-color($medium-interactive-rest, 0);
	}
}

//***********************************************************//
//**                        BUTTONS                        **//
//***********************************************************//


// button
.btn {
	appearance: none;
	align-items: center;
	@include background-color($btn-bg-disabled, 1);
	border: 0;
	border-radius: 6em;
	@include color($dark-copy-text, 1);
	cursor: default;
	display: flex;
	font-weight: 800;
	font-size: 1.35em;
	justify-content: center;
	line-height: 2em;
	letter-spacing: 0.02em;
	padding: 0.45em 2.15em;
	position: relative;
	text-decoration: none;

	&:focus {
		outline: none;
	}
	&:hover {
		cursor: pointer;
	}
	&:hover,
	&:focus,
	&:active {
		color: $label-interaction;
	}
	.btn__label {
		display: inline-flex;
		white-space: nowrap;
	}
	.btn__focus-border {
		border-style: solid;
		border-radius: 4.5em;
		border-width: 0.125em;
		display: block;
		height: calc(100% + 0.5em);
		pointer-events: none;
		position: absolute;
			top: -0.25em;
			left: -0.25em;
		width: calc(100% + 0.5em);
	}
}


// button mods -- primary and secondary
.btn--primary {
	&,
	&:visited {
		@include background-color($primary-btn-bg-rest, 1);
	}
	& .btn__focus-border,
	&:visited .btn__focus-border {
		@include border-color($primary-btn-bg-rest, 0);
	}
	&:hover,
	&:focus {
		@include background-color($primary-btn-bg-hover, 1);
	}
	&:hover .btn__focus-border,
	&:focus .btn__focus-border {
		@include border-color($primary-btn-bg-hover, 1);
	}
}
.btn--secondary {
	&,
	&:visited {
		@include background-color($secondary-btn-bg-rest, 1);
	}
	& .btn__focus-border,
	&:visited .btn__focus-border {
		@include border-color($secondary-btn-bg-rest, 0);
	}
	&:hover,
	&:focus {
		@include background-color($secondary-btn-bg-hover, 1);
	}
	&:hover .btn__focus-border,
	&:focus .btn__focus-border {
		@include border-color($secondary-btn-bg-hover, 1);
	}
}
.btn--primary,
.btn--secondary {
	&,
	&:visited {
		@include color($label-rest, 1);
	}
	&:active,
	&:active:focus {
		@include color($label-interaction, 1);
		@include background-color($button-press, 1);
	}
	&:active .btn__focus-border,
	&:active:focus .btn__focus-border {
		@include border-color($button-press, 0);
	}
}


// header nav button
// .header__nav-btn {
// 	align-items: center;
// 	appearance: none;
// 	@include background-color($primary-btn-bg-rest, 0);
// 	border: 0;
// 	border-radius: 100%;
// 	display: none;
// 	flex-direction: column;
// 	height: 4em;
// 	justify-content: center;
// 	margin: 0em;
// 	padding: 0em;
// 	pointer-events: all;
// 	position: absolute;
// 		top: 1.5em;
// 		right: 0em;
// 	width: 4em;
// 	z-index: 3;
//
// 	.header__nav-btn__inner {
// 		align-items: center;
// 		display: flex;
// 		flex-direction: column;
// 		gap: 0.25em;
// 		height: 100%;
// 		justify-content: center;
// 		pointer-events: none;
// 		width: 100%;
// 	}
//
// 	.header__nav-btn__focus-border {
// 		@include border-color($primary-btn-bg-rest, 0);
// 		border-radius: 12.5em;
// 		border-style: solid;
// 		border-width: 0.25em;
// 		display: block;
// 		height: calc(100% + 0.75em);
// 		pointer-events: none;
// 		position: absolute;
// 			top: calc(50% - 0.65em);
// 			left: 50%;
// 		transform: translate(-50%, -50%);
// 		width: calc(100% + 0.75em);
// 	}
// 	.header__nav-btn__elipses {
// 		@include background-color($primary-btn-bg-rest, 0);
// 		border-radius: 100%;
// 		display: flex;
// 		height: 100%;
// 		position: absolute;
// 			top: calc(50% - 0.65em);
// 			left: 50%;
// 		transform: translate(-50%, -50%);
// 		width: 100%;
// 	}
// 	.header__nav-btn__icon {
// 		display: block;
// 		height: 2em;
// 		line-height: 0;
// 		position: relative;
// 		width: 2em;
// 		.header__nav-btn__icon__line {
// 			@include background-color($primary-btn-bg-rest, 1);
// 			border-radius: 3.125em;
// 			display: block;
// 			height: 0.275em;
// 			position: absolute;
// 				top: 0;
// 				left: 0;
// 			width: 2em;
// 		}
// 	}
//
// 	.header__nav-btn__icon--hamburger {
// 		.header__nav-btn__icon__line:nth-child(1) {
// 			opacity: 1;
// 			transform: translate(0%, 0%) rotate(0deg);
// 		}
// 		.header__nav-btn__icon__line:nth-child(2) {
// 			opacity: 1;
// 			transform: translate(0%, 250%) rotate(0deg);
// 		}
// 		.header__nav-btn__icon__line:nth-child(3) {
// 			opacity: 1;
// 			transform: translate(0%, 500%) rotate(0deg);
// 		}
// 	}
// 	.header__nav-btn__icon--close {
// 		// nothing yet.
// 	}
// 	.header__nav-btn__label {
// 		@include color($primary-btn-bg-rest, 1);
// 		display: block;
// 		font-size: 0.75em;
// 		font-weight: 600;
// 		letter-spacing: .05em;
// 		line-height: 1;
// 		margin: 0 auto;
// 		text-align: center;
// 		width: 4em;
// 	}
// }


//***********************************************************//
//**                     HEADER BLOCKS                     **//
//***********************************************************//


// header block
.header {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 100vh;
	pointer-events: none;
	position: absolute;
		top: 0;
		left: 50%;
	transform: translate(-50%, 0%);
	width: 100%;
	z-index: 2;
}

//***********************************************************//
//**                      HEADER LOGO                      **//
//***********************************************************//


// header logo block
.header__logo {
	align-items: flex-start;
	border-radius: 0.25em;
	display: flex;
	flex-direction: row;
	height: 3.55em;
	justify-content: left;
	margin: 0;
	overflow: hidden;
	pointer-events: all;
	position: absolute;
		top: 1em;
		left: 1em;
	width: 3.55em;
	z-index: 3;
}

// header logo anchor wrapper
.header__logo__anchor {
	@include background-color($primary-btn-bg-hover, 0);
	height: 100%;
	overflow: hidden;
	padding: 0.55em;
	position: relative;
	width: 100%;
}

.header__logo__anchor__text {
	color: rgba(0,0,0,0%);
	font-size: 1px;
	height: 1px;
	overflow: hidden;
	pointer-events: none;
	position: absolute;
		top: -1px;
		left: -1px;
	width: 1px;
}
.header__logo__anchor:hover {
	@include background-color($primary-btn-bg-hover, 1);
	cursor: pointer;
}
.header__logo__anchor:focus {
	@include background-color($primary-btn-bg-hover, 1);
}


// header logo mark block
.header__logo__mark {
	align-items: flex-end;
	display: flex;
	flex-direction: row;
	gap: 0.25em;
	height: 100%;
	justify-content: center;
	pointer-events: none;
	width: 100%;
}

// header logo mark block lines
.header__logo__line {
	@include background-color($upper-half-background, 1);
	border-radius: 3em;
	display: block;
	height: 100%;
	width: 18%;
}
.header__logo__line:nth-child(1) {
	height: 45%;
}


//***********************************************************//
//**                 TOP-LEVEL MAIN MENU                   **//
//***********************************************************//

// EXPERIMENTAL LAYOUT
.jan-michael-wrapper {
	display: block;
	height: 100%;
	position: relative;
	max-width: 65em;
	min-height: 100vh;
	width: 100%;
}

/// MENU CONTROLS AND LAYOUT SETUP
.hidden-control {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
		top: -10000%;
		left: -10000%;
	width: 1px;
}

.main-navigation {
	align-items: flex-start;
	display: flex;
	height: 100%;
	justify-content: center;
	margin: 0 auto;
	pointer-events: none;
	position: absolute;
		top: 0;
		left: 50%;
	transform: translate(-50%,0%);
	width: 100vw;
	z-index: 10;
}

.main-navigation__wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
	max-width: 65em; // for the likes of buttons!!
	position: relative;
	width: 100%;
}

.main-navigation__menu {
	align-items: center;
	@include background-color($dark-charchoal, 1);
	display: flex;
	flex-direction: column;
	height: 100vh;
	list-style: none;
	justify-content: center;
	margin: 0;
	opacity: 0;
	overflow: hidden;
	padding: 0;
	pointer-events: none;
	position: absolute;
		top: 0;
		left: 50%;
	transform: translate(-50%,0%);
	visibility: hidden;
	width: 100vw;
	z-index: 2;
}

.main-navigation__menu__section {
	display: flex;
	flex-direction: column;
	max-width: 65em; // for the likes of buttons!!
	list-style: none;
	padding: 0;
	position: relative;
	width: 100%;
}

/// MENU BUTTON

.main-navigation__menu-btn {
	border-radius: 48px;
	align-items: center;
	display: flex;
	height: 40px;
	justify-content: center;
	pointer-events: all;
	position: absolute;
		top: 2.5em;
		right: 3em;
	width: 117px;
	z-index: 3;

	&:after {
		@include background-color($dark-charchoal, 1);
		border-radius: 12em;
		height: 44px;
		position: absolute;
			top: 2em;
			right: 3em;
		width: 44px;
		z-index: 3;
	}
}

.main-navigation__menu-btn:hover {
	cursor: pointer;
}

.main-navigation__menu-btn__inner {
	border: solid 2px $cultured;
	border-radius: 48px;
	box-shadow: -8px -4px 7px rgba(243, 246, 247, 0.77), 4px 5px 9px rgba(31, 32, 36, 0.49), inset 4px 4px 9px rgba(53, 61, 70, 0.28);
	@include background-color(#F0F2F2, 1);
	display:flex;
	height: 100%;
	pointer-events: none;
	position: relative;
	width: 100%;
}

.main-navigation__menu-btn__handle {
	border-radius: 100%;
	@include background-color($primary-btn-bg-rest, 1);
	display: flex;
	height: 36px;
	position: absolute;
		top: 0%;
		left: 0%;
	transform: translate(214%, 0%);
	width: 36px;
}

.main-navigation__menu-btn__handle__inner {
	border-radius: 100%;
	display: flex;
	height: 100%;
	position: relative;
	width: 100%;

	&:before {
		border-radius: 100%;
		border: solid 2px purple;
		content: '';
		display: flex;
		height: calc(100% + 4px);
		opacity: 0;
		position: absolute;
			top: -4px;
			left: -4px;
		width: calc(100% + 4px);
	}
}

.main-navigation__menu-btn__handle__bar {
	@include background-color($ghost-white, 1);
	border-radius: 6em;
	display: flex;
	height: 3px;
	position: absolute;
		top: 46%;
		left: 50%;
	transform: translate(-50%, 0%) rotate(0deg);
	width: 1em;

	&--top {
		transform: translate(-50%, -200%) rotate(0deg);
	}

	&--middle {
		transform: translate(-50%, 0%) rotate(0deg);
	}

	&--bottom {
		transform: translate(-50%, 200%) rotate(0deg);
	}

}


.main-navigation__menu-btn__label-menu {
	align-items: center;
	display: flex;
	height: 100%;
	@include color($dark-charchoal, 1);
	font-size: 1em;
	font-weight: 600;
	justify-content: center;
	padding-right: 18px;
	pointer-events: none;
	position: absolute;
		top: 0;
		left: 0;
	width: 100%;

	&::selection {
		@include background-color($dark-charchoal, 0);
		@include color($dark-charchoal, 1);
	}
}

.main-navigation__menu-btn__label-close {
	align-items: center;
	display: none;
	height: 100%;
	@include color($ghost-white, 1);
	font-size: 1em;
	font-weight: 600;
	justify-content: center;
	padding-left: 18px;
	pointer-events: none;
	position: absolute;
		top: 0;
		left: 0;
	width: 100%;

	&::selection {
		@include background-color($ghost-white, 0);
		@include color($ghost-white, 1);
	}
}


/// MENU CONTENT AND MENU ITEMS

.main-navigation__menu__title {
	align-items: center;
	color: $dim-gray;
	display: flex;
	font-size: 1em;
	font-weight: 700;
	text-align: center;
	justify-content: center;
	text-transform: uppercase;
}

.main-navigation__menu-item {
	align-items: center;
	display: flex;
	justify-content: center;
	max-width: 65em;
}

.main-navigation__menu-item__link {
	color: $ghost-white;
	font-size: 3em;
	text-decoration: none;
}

.main-navigation__toggler:checked + .main-navigation__menu-btn {

	.main-navigation__menu-btn__inner {
		border: solid 2px $dark-charchoal;
		box-shadow: -8px -4px 7px rgba(243, 246, 247, 0.03), 4px 5px 9px rgba(31, 32, 36, 0.59), inset 4px 4px 9px rgba(0, 0, 0, 0.20);
		@include background-color($dark-charchoal, 1);


		.main-navigation__menu-btn__handle {
			@include background-color($ghost-white, 1);
			transform: translate(0%, 0%);
		}
		.main-navigation__menu-btn__handle__bar {
			@include background-color($dark-charchoal, 1);

			&--top {
				transform: translate(-50%, 0%) rotate(45deg);
			}

			&--middle {
				@include background-color($dark-charchoal, 0);
				transform: translate(-50%, 0%) rotate(0deg) scale(0);
			}

			&--bottom {
				transform: translate(-50%, 0%) rotate(-45deg);
			}
		}


		.main-navigation__menu-btn__label-menu {
			display: none;
		}
		.main-navigation__menu-btn__label-close {
			display: flex;
		}
	}
}

.main-navigation__menu-item:focus,
.main-navigation__menu-item:hover {
	// outline: none;
	text-decoration: underline;
	// add focus borders in this area
}

.main-navigation__toggler:checked + .main-navigation__menu-btn .expanded-text {
	display: inline;
}

.main-navigation__toggler:checked + .main-navigation__menu-btn .collapsed-text {
	display: none;
}

.main-navigation__toggler:not(:checked) + .main-navigation__menu-btn .expanded-text {
	display: none;
}

.main-navigation__toggler:not(:checked) + .main-navigation__menu-btn .collapsed-text {
	display: inline;
}

.main-navigation__toggler:checked ~ .main-navigation__menu {
	opacity: 1;
	pointer-events: all;
	visibility: visible;
}

.main-navigation__toggler:checked ~ .landing,
.main-navigation__toggler:checked ~ .footer,
.main-navigation__toggler:checked ~ .nav__mobile {
	display: none;
}

// this may be wrong on the following couple of selectors ...
// ... :hover might need to go on .main-navigation__menu-btn instead - check other browsers
.main-navigation__toggler:hover + .main-navigation__menu-btn .main-navigation__menu-btn__inner .main-navigation__menu-btn__handle {
	@include background-color($primary-btn-bg-hover, 1);
}
.main-navigation__toggler:checked:hover + .main-navigation__menu-btn .main-navigation__menu-btn__inner .main-navigation__menu-btn__handle {
	@include background-color($cultured, 1);
}

.main-navigation__toggler:hover + .main-navigation__menu-btn .main-navigation__menu-btn__inner .main-navigation__menu-btn__handle .main-navigation__menu-btn__handle__inner:before,
.main-navigation__toggler:focus + .main-navigation__menu-btn .main-navigation__menu-btn__inner .main-navigation__menu-btn__handle .main-navigation__menu-btn__handle__inner:before,
.main-navigation__toggler:focus-within + .main-navigation__menu-btn .main-navigation__menu-btn__inner .main-navigation__menu-btn__handle .main-navigation__menu-btn__handle__inner:before {
	border: 2px solid $primary-btn-bg-hover;
	opacity: 1;
}

.main-navigation__toggler:active + .main-navigation__menu-btn .main-navigation__menu-btn__inner .main-navigation__menu-btn__handle .main-navigation__menu-btn__handle__inner:before {
	border: 2px solid $primary-btn-bg-hover;
	opacity: 0;
}

.main-navigation__toggler:checked:focus + .main-navigation__menu-btn .main-navigation__menu-btn__inner .main-navigation__menu-btn__handle .main-navigation__menu-btn__handle__inner:before,
.main-navigation__toggler:checked:focus-within + .main-navigation__menu-btn .main-navigation__menu-btn__inner .main-navigation__menu-btn__handle .main-navigation__menu-btn__handle__inner:before {
	border: 2px solid $cultured;
	opacity: 1;
}

.main-navigation__toggler:checked:active + .main-navigation__menu-btn .main-navigation__menu-btn__inner .main-navigation__menu-btn__handle .main-navigation__menu-btn__handle__inner:before {
	border: 2px solid $cultured;
	opacity: 0;
}


[data-menu-origin="right"] {
	left: auto;
	right: 0;
}










// header nav
.header__nav {
	@include background-color($dark-charchoal, 1);
	display: none;
	height: 3.75em;
	position: relative;
}


// header nav inner block
.header__nav__inner {
	align-items: center;
	height: 100%;
	display: flex;
	position: relative;
	width: 100%;
}


// TEMPORARY UNTIL READY TO DISPLAY
.header__nav__menu,
.header__nav__menu__item {
	display: none;
	height: 0em;
	margin: 0em;
	overflow: hidden;
	padding: 0em;
	width: 0em;
}


//***********************************************************//
//**                   MOBILE-ONLY NAV                     **//
//***********************************************************//


/// mobile only nav
nav {
	display: none;
}
.nav__mobile {
	display: none;
	@include background-color($dark-charchoal, 1);
	box-shadow: 0px 7px 15px 10px rgba(0,0,0,0.76);
	flex-direction: column;
	height: 5em;
	padding: 0.5em 1em;
	position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
	width: 100%;
	z-index: 3;
}
.nav__mobile__inner {
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: center;
	width: 100%;
}
.nav__mobile__menu {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	list-style: none;
	padding: 0em;
	margin: 0em;
}
.nav__mobile__menu__item {
	align-items: center;
 	display: flex;
	flex-direction: column;
	height: 3.5em;
	justify-content: center;
	width: 4em;
}
.nav__mobile__menu__item__btn {
	align-items: center;
	appearance: none;
	border: 0em;
	@include background-color($dark-charchoal, 0);
	display: flex;
	flex-direction: column;
	height: 3.5em;
	gap: 0.25em 0em;
	justify-content: center;
	width: 4em;
}
.nav__mobile__menu__item__btn__image {
	height: 2em;
	width: 2em;
}
.nav__mobile__menu__item__btn__label {
	display: flex;
	font-size: 0.75em;
	@include color($ghost-white, 1);
}
.nav__mobile__menu__item__btn__focus-border {
	display: none; // temp
}


//***********************************************************//
//**               LANDING CONTENT BLOCKS                  **//
//***********************************************************//


// landing block
.landing {
	align-items: center;
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;
}
// landing block inner
.landing__inner {
	align-items: center;
	height: 100%;
	display: flex;
	flex-direction: column;
	max-width: 65em;
	position: relative;
	width: 100%;
	z-index: 1;
}

// landing-section block
.landing-section {
	align-items: flex-end;
	display: flex;
	justify-content: flex-start;
	position: relative;
	width: 100%;
}


// landing-section block mods -- heights
.landing-section--tall {
	height: auto;
}
.landing-section--short {
	height: auto;
}

.landing-section--halves {
	flex-direction: row;
}

// landing-section block mods -- halfed layout
.landing-section--halves {
	flex-direction: column-reverse;
}
.landing-section--halves-reversed {
	flex-direction: column-reverse;
}


// landing-section block mods -- colors
.landing-section--ghost-white {
	@include background-color($ghost-white, 1);
}
.landing-section--cultured {
	@include background-color($cultured, 1);
}


// landing-section block mods -- slant decorations
.landing-section--slant {

	&:before {
		@include background-color($ghost-white, 1);
		content: '';
		height: 2em;
		pointer-events: none;
		position: absolute;
			top: 0;
			right: 0;
		width: 100%;
		z-index: 1;
	}
	&:after {
		@include triangle(right, top, $cultured);
		content: '';
		height: 2em;
		pointer-events: none;
		position: absolute;
			top: 0;
			right: 0;
		width: 100%;
		z-index: 2;
	}
}


// landing-section content block
.landing-section-content {
	display: flex;
	justify-content: center;
	padding: 1em 1em 2.5em;
	width: 100%;
}

// landing-section content block mods -- width
.landing-section-content--halved {
	width: 100%;
}
.landing-section-content--full {
	width: 100%;
}


// landing-section content inner block
.landing-section-content__inner {
	align-items: flex-start;
	align-self: center;
	display: flex;
	height: 100%;
	flex-direction: column;
	max-width: 23em;
	position: relative;
	width: 100%;
}


// landing section image container block
.landing-section-image-container {
	display: block;
	height: 100%;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: relative;
	width: 100%;
}


.landing-section-image-container-triangle {
	&:after {
		content: '';
		display: block;
		height: 0em;
		position: absolute;
			left: 0;
			right: 0;
		width: 0em;
	}

	&--top:after {
		border-top: 1.95em solid red;
		border-left: 520px solid transparent;
			top: 0;
	}
	&--bottom:after {
		border-bottom: 1.95em solid red;
		border-right: 520px solid transparent;
			bottom: 0;
	}
}

.landing-section:first-child .landing-section-image-container-triangle {
	&--bottom:after {
		border-bottom: 1.95em solid $ghost-white;
	}
}
.landing-section:nth-child(2) .landing-section-image-container-triangle {
	&--top:after {
		border-top: 1.95em solid $ghost-white;
	}
}
.landing-section:nth-child(3) .landing-section-image-container-triangle {
	&--bottom:after {
		border-bottom: 1.95em solid $cultured;
	}
}

// landing section image container block mods -- curve decorations
.landing-section-image-container--curved--bottom--right {
	border-bottom-right-radius: 0em;
}
.landing-section-image-container--curved--top--left {
	border-top-left-radius: 0em;
}


// landing section image
.landing-section-image {
	display: block;
	height: 100%;
	object-fit: cover; /* or object-fit: contain; */
	width: 100%;
}


// landing section button group
.landing-section-content__btn-grp {
	flex-direction: column;
	display: flex;
	gap: 1.25em;
	margin-top: 1em;
	width: 100%;
}


//***********************************************************//
//**                         FOOTER                        **//
//***********************************************************//


// footer block
.footer {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 32.75em;
	justify-content: center;
	position: relative;
	width: 100%;
	z-index: 1;
}


// footer block inner
.footer__inner {
	align-items: center;
	@include background-color($footer-background, 1);
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 0em;
	justify-content: center;
	overflow: hidden;
	position: absolute;
		top: 0;
		left: 50%;
	transform: translate(-50%, 0);
	width: 100vw;
	z-index: 1;
}


// footer block decorative elipses
.footer__elipses {
	@include background-color($elipses-background, 1);
	border-radius: 100%;
	display: flex;
	height: 8em;
	position: absolute;
		top: 0%;
		left: 50%;
	min-width: calc(100% + 40em);
	transform: translate(-50%, -50%);
	z-index: 2;
}


// footer section block
.footer-section {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 65em;
	position: relative;
	width: 100%;
}


// footer section block inner
.footer-section__inner {
	align-items: center;
	height: 100%;
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	position: relative;
	padding: 0em;
	width: 100%;
}


// footer section block mods -- menu (social)
.footer-section__inner--menu {
	flex-direction: row;
	flex-wrap: wrap;
	gap: 0.5em 0.5em;
	list-style-type: none;
	padding: 0;
}


// footer section block mods -- dots
.footer-section__inner--dots {
	display: flex;
	flex-direction: row;
	gap: 1em;
	list-style: none;
}


// footer section dot block decorations
.footer__section__dot {
	border-radius: 100%;
	height: 0.5em;
	width: 0.5em;
}


// footer section dot block decoration mods -- colors
.footer__section__dot--red {
	@include background-color($red, 1);
}
.footer__section__dot--orange {
	@include background-color($orange, 1);
}
.footer__section__dot--yellow {
	@include background-color($yellow, 1);
}
.footer__section__dot--green {
	@include background-color($green, 1);
}
.footer__section__dot--blue {
	@include background-color($blue, 1);
}
.footer__section__dot--violet {
	@include background-color($violet, 1);
}


// footer section block mods -- disclaimers
.footer-section__inner--disclaimers {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	list-style: none;
	padding: 0;
}


// footer menu item
.footer__menu__item {
	display: flex;
	height: 4em;
	margin: 0;
	padding: 0;
	width: 4em;
}


// footer menu item link (social icons)
.footer__menu__item__link {
	align-items: center;
	border-radius: 9em;
	display: flex;
	height: 4em;
	justify-content: center;
	position: relative;
	text-decoration: none;
	width: 4em;

	.footer__menu__item__link__focus-border {
		@include border-color($ghost-white, 0);
		border-radius: 9em;
		border-style: solid;
		border-width: 0.25em;
		display: block;
		height: calc(100% + 1.25em);
		pointer-events: none;
		position: absolute;
			top: -0.625em;
			left: -0.625em;
		width: calc(100% + 1.25em);
	}
	&:focus {
		outline: none;
	}
	&,
	&:visited {
		@include background-color($secondary-btn-bg-hover, 0);
	}
	&:visited .footer__menu__item__link__focus-border {
		@include border-color($ghost-white, 0);
	}
	&:hover,
	&:focus {
		@include background-color($secondary-btn-bg-hover, 0.25);
	}
	&:hover .footer__menu__item__link__focus-border,
	&:focus .footer__menu__item__link__focus-border {
		@include border-color($ghost-white, 0.75);
	}
	&:active {
		@include background-color($secondary-btn-bg-hover, 0.25);
	}
	&:active .footer__menu__item__link__focus-border {
		@include border-color($ghost-white, 0);
	}
}


// footer menu item link image/icon (social icons)
.footer__menu__item__link__image {
	display: flex;
	height: 4em;
	width: 4em;
}


// COLUMNED LAYOUTS FOR MOBILE / PORTRAIT / AND BASE STYLES - *GREEN*
.landing {
	&:after {
		background-color: white;
		border: solid 1px gray;
		content: '~';
		display: none;
		align-items: center;
		height: 60px;
		font-size: 1.2em;
		font-weight: 500;
		justify-content: center;
		position: fixed;
			top: 0;
			left: 0;
		text-align: center;
		width: 80px;
		z-index: 15;
	}
}


//***********************************************************//
//**                      MEDIA QUERIES                    **//
//***********************************************************//

// EXAMPLE OF HOW TO SEPARATE STYLES OUT INTO MEDIA QUERIES
//		@import url("/inc/Styles/full.css") (min-width: 940px);

// EXAMPLE OF ACCESSIBLE MEDIA QUERY
// 		@media (prefers-reduced-motion: reduce) {
//			.Toggle__display {
//			transition-duration: 0ms;
//			}
//		}


// MOBILE - PORTRAIT //
@media only screen and (pointer: coarse) and (orientation: portrait) and (min-device-width: 0px) {
	.landing {
		&:after {
			background-color: #FFFAF0;
			content: 'BASE Mobile';
		}
	}

	// PORTRAIT //
	@media only screen and (max-width: 767px){
		nav,
		.nav__mobile {
			display: flex;
		}
	}
}
// MOBILE - LANDSCAPE //
@media only screen and (pointer: coarse) and (orientation: landscape) and (min-device-width: 0px) {
	.landing {
		&:after {
			background-color: #FFFAF0;
			content: 'BASE Mobile';
		}
	}

	// place holder for where button should appear in mobile
	// .header__nav-btn {
	// 	display: flex;
	// }
	// HANDLE THE REST IN MOBILE and DESKTOP //
}


// MOBILE and DESKTOP //
@media only screen and (min-width: 320px) {
	.landing {
		&:after {
			background-color: #FFFAF0;
			content: '320px Both';
		}
	}

	.landing-section-content__inner {
		max-width: 17em;
	}
	.h2 {
		font-size: 2.7em;
	}
	.h2--large {
		font-size: 3.8em;
	}
	.p--small-text {
		font-size: 1em;
	}
	.p--medium-text {
		font-size: 1.1em;
	}
	.p--large-text {
		font-size: 1.5em;
	}
	.btn {
		font-size: 1em;
	}
}
// MOBILE and DESKTOP //
@media only screen and (min-width: 375px) {
	.landing {
		&:after {
			background-color: #FFFAF0;
			content: '375px Both';
		}
	}

	.landing-section-content__inner {
		max-width: 21.65em;
	}
	.footer-section__inner {
		max-width: 21em;
	}
	.h2 {
		font-size: 3.42em;
	}
	.h2--large {
		font-size: 4.8em;
	}
}
// MOBILE and DESKTOP //
@media only screen and (min-width: 390px) {
	.landing {
		&:after {
			background-color: #FFFAF0;
			content: '390px Both';
		}
	}

	.landing-section-content__inner {
		max-width: 22.2em;
	}
	.h2 {
		font-size: 3.54em;
	}
	.h2--large {
		font-size: 5.2em;
	}
}
// MOBILE and DESKTOP //
@media only screen and (min-width: 393px) {
	.landing {
		&:after {
			background-color: #FFFAF0;
			content: '393px Both';
		}
	}

	// TYPOGRAPHY //
	.landing-section-content__inner {
		max-width: 22.5em;
	}
	.h2 {
		font-size: 3.59em;
	}
	.h2--large {
		font-size: 5.285em;
	}
}
// MOBILE and DESKTOP //
@media only screen and (min-width: 412px) {
	.landing {
		&:after {
			background-color: #FFFAF0;
			content: '412px Both';
		}
	}
}
// MOBILE and DESKTOP //
@media only screen and (min-width: 414px) {
	.landing {
		&:after {
			background-color: #FFFAF0;
			content: '414px Both';
		}
	}
}
// MOBILE and DESKTOP //
@media only screen and (min-width: 440px) {
	.landing {
		&:after {
			background-color: #FFFAF0;
			content: '440px Both';
		}
	}

	// TYPOGRAPHY //
	.landing-section-content__inner {
		max-width: 25em;
	}
	.h2 {
		font-size: 3.99em;
	}
	.h2--large {
		font-size: 5.4em;
	}
	.p--small-text {
		font-size: 0.9em;
	}
	.p--medium-text {
		font-size: 1em;
	}
	.p--large-text {
		font-size: 1.3em;
	}
	.btn {
		font-size: 1em;
	}
}
// MOBILE and DESKTOP //
@media only screen and (min-width: 480px) {
	.landing {
		&:after {
			background-color: #FFFAF0;
			content: '480px Both';
		}
	}

	// TYPOGRAPHY //
	.landing-section-content__inner {
		max-width: 28em;
	}
	.footer-section__inner {
		max-width: none;
	}
	.h2 {
		font-size: 4.45em;
	}
	.h2--large {
		font-size: 5.9em;
	}
}
// MOBILE and DESKTOP //
@media only screen and (min-width: 540px) {
	.landing {
		&:after {
			background-color: #FFFAF0;
			content: '540px Both';
		}
	}

	//**  LANDSCAPE LAYOUTS **//
	.landing-section--halves {
		flex-direction: row;
	}
	.landing-section--halves-reversed {
		flex-direction: row-reverse;
	}
	.landing-section-content {
		padding: 4em 1em 2.5em;
	}
	.landing-section:first-child .landing-section-content {
		padding: 4.5em 1em 2.5em;
	}
	.landing-section:last-child .landing-section-content__inner {
		max-width: 33.5em;
	}
	.landing-section-content--halved {
		width: 50%;
	}
	.landing-section-image-container {
		height: 100%;
		width: 50%;
	}
	.landing-section:nth-child(3) .landing-section-image-container-triangle:after {
		@include triangle(right, top, $cultured);
	}
	.landing-section-image-container {
		min-height: 100%;
	}
	.landing-section-image-container--curved--top--left {
		border-top-left-radius: 8em;
	}
	.landing-section-image-container--curved--bottom--right {
		border-bottom-right-radius: 8em;
	}
	.landing-section--slant:before {
		width: 50%;
	}
	.landing-section--slant:after {
		width: 50%;
	}


	// TYPOGRAPHY //
	.landing-section-content__inner {
		max-width: 14.9em;
	}
	.h2 {
		font-size: 2.37em;
	}
	.h2--large {
		font-size: 4.8em;
	}
	.p--small-text {
		font-size: 0.8em;
	}
	.p--medium-text {
		font-size: 0.9em;
	}
	.p--large-text {
		font-size: 1.2em;
	}
	.btn {
		font-size: 0.9em;
	}
}
// MOBILE and DESKTOP //
@media only screen and (min-width: 590px) {
	.landing {
		&:after {
			background-color: #FFFAF0;
			content: '590px Both';
		}
	}

	// TYPOGRAPHY //
	.landing-section-content__inner {
		max-width: 15.15em;
	}
	.landing-section:last-child .landing-section-content__inner {
	    max-width: 37em;
	}
	.h2 {
		font-size: 2.41em;
	}
	.h2--large {
		font-size: 4.8em;
	}
}
// MOBILE and DESKTOP //
@media only screen and (min-width: 653px) {
	.landing {
		&:after {
			background-color: #FFFAF0;
			content: '653px Both';
		}
	}

	// TYPOGRAPHY //
	.landing-section-content__inner {
		max-width: 18.25em;
	}
	.landing-section:last-child .landing-section-content__inner {
		max-width: 38.5em;
	}
	.h2 {
		font-size: 2.9em;
	}
	.h2--large {
		font-size: 4.8em;
	}
}
// MOBILE and DESKTOP //
@media only screen and (min-width: 667px) {
	.landing {
		&:after {
			background-color: #FFFAF0;
			content: '667px Both';
		}
	}

	// Silence is golden.
}
// MOBILE and DESKTOP //
@media only screen and (min-width: 736px) {
	.landing {
		&:after {
			background-color: #FFFAF0;
			content: '736px Both';
		}
	}

	// TYPOGRAPHY //
	.landing-section-content__inner {
		max-width: 20.4em;
	}
	.landing-section:last-child .landing-section-content__inner {
		max-width: 42.5em;
	}
	.h2 {
		font-size: 3.25em;
	}
	.h2--large {
		font-size: 4.8em;
	}
}
// MOBILE and DESKTOP //
@media only screen and (min-width: 740px) {
	.landing {
		&:after {
			background-color: #FFFAF0;
			content: '740px Both';
		}
	}
	// place holder for where button should appear in desktop and mobile
	// .header__nav-btn {
	// 	display: flex;
	// }
	nav,
	.nav__mobile {
		display: none;
	}
	// Silence is golden.
}
// MOBILE and DESKTOP //
@media only screen and (min-width: 768px) {
	.landing {
		&:after {
			background-color: #FFFAF0;
			content: '768px Both';
		}
	}

	// TYPOGRAPHY //
	.landing-section-content__inner {
		max-width: 21.8em;
	}
	.landing-section:last-child .landing-section-content__inner {
		max-width: 45em;
	}
	.h2 {
		font-size: 3.45em;
	}
	.h2--large {
		font-size: 4.8em;
	}

	// place holder for where button should appear in desktop after mobile
	// .header__nav-btn {
	// 	display: flex;
	// }
	nav,
	.nav__mobile {
		display: none;
	}

}
// MOBILE and DESKTOP //
@media only screen and (min-width: 812px) {
	.landing {
		&:after {
			background-color: #FFFAF0;
			content: '812px Both';
		}
	}

	// Silence.
}
// MOBILE and DESKTOP //
@media only screen and (min-width: 820px) {
	.landing {
		&:after {
			background-color: #FFFAF0;
			content: '820px Both';
		}
	}

	// Silence.
}
// MOBILE and DESKTOP //
@media only screen and (min-width: 844px) {
	.landing {
		&:after {
			background-color: #FFFAF0;
			content: '844px Both';
		}
	}

	// Silence.
}
// MOBILE and DESKTOP //
@media only screen and (min-width: 851px) {
	.landing {
		&:after {
			background-color: #FFFAF0;
			content: '851px Both';
		}
	}

	// Silence.
}
// MOBILE and DESKTOP //
@media only screen and (min-width: 896px) {
	.landing {
		&:after {
			background-color: #FFFAF0;
			content: '896px Both';
		}
	}

	// Silence.
}
// MOBILE and DESKTOP //
@media only screen and (min-width: 915px) {
	.landing {
		&:after {
			background-color: #FFFAF0;
			content: '915px Both';
		}
	}

	.landing-section-content__btn-grp {
		flex-direction: row;
		width: auto;
	}
	// Silence.
}
// MOBILE and DESKTOP //
@media only screen and (min-width: 1024px) {
	.landing {
		&:after {
			background-color: #FFFAF0;
			content: '1024px Both';
		}
	}

	//**  LAYOUT ADJUSTMENTS **//
	.header__logo {
		top: 0.25em;
		left: 1em;
	}
	// .header__nav-btn {
	// 	top: 1.75em;
	// 	right: 1.5em;
	// }
	.landing-section--tall {
		height: 43em;
	}
	.landing-section--short {
		height: 21em;
	}
	.landing-section-content,
	.landing-section:last-child .landing-section-content,
	.landing-section:first-child .landing-section-content {
		padding: 2.5em;
	}

	// TYPOGRAPHY //
	.landing-section-content__inner {
		max-width: none;
	}
	.landing-section:last-child .landing-section-content__inner {
		max-width: none;
	}
	.h2 {
		font-size: 4.45em;
		font-weight: 600;
		letter-spacing: -0.06em;
		line-height: 0.9em;
		margin: 0.4em 0em;
	}
	.h2--large {
		font-size: 6.55em;
	}
	.p--small-text {
		font-size: 0.95em;
	}
	.p--medium-text {
		font-size: 1.05em;
	}
	.p--large-text {
		font-size: 1.4em;
	}
	.btn {
		font-size: 1.05em;
	}
}


// HOVER CAPABILITIES ONLY ** ** //
@media only screen and (hover: hover) {

	// HEADER NAV BUTTON //
	// .header__nav-btn {
	// 	&:hover {
	// 		cursor: pointer;
	// 	}
	// 	&:hover .header__nav-btn__focus-border,
	// 	&:focus .header__nav-btn__focus-border {
	// 		@include border-color($primary-btn-bg-hover, 1);
	// 	}
	// 	&:active .header__nav-btn__focus-border {
	// 		@include border-color($button-press, 0);
	// 	}
	// 	&:hover .header__nav-btn__elipses,
	// 	&:focus .header__nav-btn__elipses {
	// 		@include background-color($primary-btn-bg-hover, 1);
	// 	}
	// 	&:active .header__nav-btn__elipses {
	// 		@include background-color($button-press, 1);
	// 	}
	// 	&:hover .header__nav-btn__icon__line,
	// 	&:focus .header__nav-btn__icon__line,
	// 	&:active .header__nav-btn__icon__line {
	// 		@include background-color($label-interaction, 1);
	// 	}
	// 	&:hover .header__nav-btn__label,
	// 	&:focus .header__nav-btn__label {
	// 		opacity: 0;
	// 	}
	// }

	// TEXT LINKS
	.link:focus {
		outline: none;
	}
	.link:hover {
		cursor: pointer;
	}

	// TEXT LINNK MODS -- COLOR MO
	.link--dark-mode {
		&,
		&:visited {
			@include color($light-interactive-rest, 1);
		}
		& .link__focus-border,
		&:visited .link__focus-border {
			@include border-color($light-interactive-rest, 0);
		}
		&:hover,
		&:focus {
			@include color($light-interactive-hover, 1);
			text-decoration: none;
		}
		&:hover .link__focus-border,
		&:focus .link__focus-border {
			@include border-color($light-interactive-hover, 0.75);
		}
		&:active {
			@include color($light-interactive-press, 1);
		}
		&:active .link__focus-border {
			@include border-color($light-interactive-press, 0);
		}
	}
	.link--light-mode {
		&,
		&:visited {
			@include color($medium-interactive-rest, 1);
		}
		& .link__focus-border,
		&:visited .focus-border {
			@include border-color($medium-interactive-rest, 0);
		}
		&:hover,
		&:focus {
			@include color($medium-interactive-hover, 1);
			text-decoration: none;
		}
		&:hover .link__focus-border,
		&:focus .link__focus-border {
			@include border-color($medium-interactive-hover, 0.75);
		}
		&:active {
			@include color($medium-interactive-press, 1);
		}
		&:active .link__focus-border {
			@include border-color($medium-interactive-press, 0);
		}
	}
}
