//** TODO **//




// ****** FIRST AS OF JAN 22, '22 *******
// * Optimize images for different screen times to reduce
//   load time

// * SET UP SCSS SO THAT YOU ARE ONLY BRINGING CERTAIN STYLE SHEETS IN AT
//   CERTAIN TIMES SO THAT YOU DON'T HAVE TO WORRY ABOUT OVERRIDING STYLES

// * Continue adding style updates for different screen sizes

// * Complete menus

// * Add any necessary additional pages




		// ****** LATER OR SOMEDAY *********
		// * Add micro-hovers and animations with the option to switch them off
		// * Add dark mode palette with an automatic feature that matches system setting
		// as well as the ability to turn it off or on manually
		// * Create the ability to set a cookie and allow the user to save their preferences
		// when visiting the site


//***********************************************************//
//**                         ASSETS                        **//
//***********************************************************//


@import "../../fonts/fonts";
@import "../resets/normalize";
@import "../tokens/tokens";


//***********************************************************//
//**            INITIAL STYLES/ CUSTOM RESETS              **//
//***********************************************************//


.html {
	display: flex;
	@include background-color($body-background, 1);
	font-family: "Roboto", "Helvetica neue", Helvetica, Verdana, Sans-serif;
	font-size: 100%;
	-webkit-font-smoothing: antialiased;
	overflow-x: hidden;
	position: relative;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
	width: 100%;
	z-index: 0;
}

.body {
	align-items: center;
	appearance: none;
	-webkit-appearance: none;
	@include background-color($body-background, 1);
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
	position: relative;
	width: 100%;
	z-index: 1;
}

.body * {
	box-sizing: border-box;
}

img,
.button {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}


//***********************************************************//
//**                     MASTER CONTAINER                  **//
//***********************************************************//


// main wrapper
.jan-michael-wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
	position: relative;
	max-width: 65em;
	min-height: 100vh;
	width: 100%;
}


//***********************************************************//
//**              DECORATIVE DESKTOP ELEMENTS              **//
//***********************************************************//


// decorative background triangles for desktop view
.bg-decorative-triangle:before {
	content: '';
	display: block;
	position: absolute;
		left: 0;
	width: 100%;
	z-index: 0;
}
.bg-decorative-triangle {
	display: none;
	opacity: 1;
	pointer-events: none;
	position: absolute;
		left: 50%;
	transform: translate(-50%, 0%);
	transition-property: opacity;
	transition-delay: 0s;
	transition-timing-function: linear;
	transition-duration: 1s;
	width: 100vw;

	&.top {
		background-color: $alice-blue;
		height: calc(43em - 3vw);
			top: 0;

		&:before {
			border-top: 6vw solid $alice-blue;
			border-left: 100vw solid transparent;
			height: 0em;
				top: calc(43em - 3vw);
		}
	}
	&.bottom {
		background-color: $alice-blue;
		height: calc(53.75em + 3vw);
			bottom: 0;

		&:before {
			border-top: 6vw solid $port-gore;
			border-left: 100vw solid transparent;
			height: 0em;
				bottom: calc(53.75em - 3vw);
		}
	}
}

//***********************************************************//
//**                       TYPOGRAPHY                      **//
//***********************************************************//


// selection color(s)
img::selection,
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
p::selection,
a::selection {
	@include background-color($gunmetal, 0.25);
}
.p--dark-mode::selection,
.link--dark-mode::selection,
.button__label::selection {
	@include background-color($white, 0.25);
}


// titles
.h2 { // this is right for smallest mobile; change in a media query
	align-self: stretch;
	color: $dark-copy-text;
	flex-grow: 0;
	font-size: 3.42em;
	font-weight: 600;
	line-height: 1em;
	letter-spacing: -0.04em;
	margin: 0.40em 0em 0.08em;
}


// title mods -- size
.h2--large {
	font-size: 5em; // this is right for smallest mobile; change in a media query
}


// body copy
.p { // this is right for smallest mobile; change in a media query
	flex-grow: 0;
	margin: 0.67em 0em;

	&:last-child {
		margin-bottom: 0;
	}
}


// body copy mods -- widths
.p--contained {
	align-self: auto;
}
.p--full {
	align-self: stretch;
}


// body copy mods -- text size
.p--small-text {
	font-size: 1.2em; // this is right for smallest mobile; change in a media query
	font-weight: 500;
	letter-spacing: -0.01em;
}
.p--medium-text {
	font-size: 1.3em; // this is right for smallest mobile; change in a media query
	font-weight: 500;
	letter-spacing: -0.01em;
}
.p--large-text {
	font-size: 1.6em; // this is right for smallest mobile; change in a media query
	font-weight: 500;
	letter-spacing: -0.025em;
}
.landing-section-content:last-child .p--large-text {
	margin-bottom: 0;
}


// body copy mods -- mode coloring
.p--light-mode {
	color: $dark-copy-text;
}
.p--dark-mode {
	color: $light-copy-text;
}


// body copy mods -- line-height
.p--line-height-large {
	line-height: 1.4em;
}
.p--line-height-medium {
	line-height: 1.5em;
}
.p--line-height-small {
	line-height: 1em;
}


//***********************************************************//
//**                         LINKS                         **//
//***********************************************************//


// links (text only)
.link {
	appearance: none;
	color: inherit;
	cursor: default;
	display: inline-flex;
	font-weight: 800; // play with this in desktop
	padding: 0em;
	position: relative;
	text-decoration: none;
}
// link (text only) focus border
.link__focus-border {
	border-style: solid;
	border-radius: 0.25rem;
	border-width: 0.125em;
	display: block;
	height: calc(100% + 0.3125rem);
	pointer-events: none;
	position: absolute;
		top: -0.175rem;
		left: -0.1875rem;
	width: calc(100% + 0.325rem);
}
.link--dark-mode {
	& .link__focus-border {
		@include border-color($interactive-rest--dark-mode, 0);
	}
}
.link--light-mode {
	& .link__focus-border {
		@include border-color($interactive-rest--light-mode, 0);
	}
}

//***********************************************************//
//**                        BUTTONS                        **//
//***********************************************************//


// button
.button {
	appearance: none;
	align-items: center;
	@include background-color($disabled-button-bg-rest--light-mode, 1);
	border: 0;
	border-radius: 6em;
	@include color($dark-copy-text, 1);
	cursor: default;
	display: flex;
	font-weight: 800;
	font-size: 1.35em;
	justify-content: center;
	line-height: 2em;
	letter-spacing: 0.02em;
	padding: 0.45em 2.15em;
	position: relative;
	text-decoration: none;

	&:focus {
		outline: none;
	}
	&:hover {
		cursor: pointer;
	}
	// &:hover,
	// &:focus,
	// &:active {
	// 	color: $primary-label-hover--light-mode;
	// }
	.button__label {
		display: inline-flex;
		white-space: nowrap;
	}
	.button__focus-border {
		border-style: solid;
		border-radius: 4.5em;
		border-width: 0.125em;
		display: block;
		height: calc(100% + 0.5em);
		pointer-events: none;
		position: absolute;
			top: -0.25em;
			left: -0.25em;
		width: calc(100% + 0.5em);
	}
}


// button mods -- primary and secondary
.button--primary {

	&,
	&:visited {
		@include color($primary-label-rest--light-mode, 1);
		@include background-color($primary-button-bg-rest--light-mode, 1);
	}
	& .button__focus-border,
	&:visited .button__focus-border {
		@include border-color($primary-button-bg-rest--light-mode, 0);
	}
	&:hover,
	&:focus {
		@include background-color($primary-button-bg-hover--light-mode, 1);
	}
	&:hover .button__focus-border,
	&:focus .button__focus-border {
		@include border-color($primary-button-bg-hover--light-mode, 1);
	}
	&:active,
	&:active:focus {
		@include color($primary-label-press--light-mode, 1);
		@include background-color($primary-button-press--light-mode, 1);
	}
	&:active .button__focus-border,
	&:active:focus .button__focus-border {
		@include border-color($primary-button-press--light-mode, 0);
	}
}
.button--secondary {
	&,
	&:visited {
		@include color($secondary-label-rest--light-mode, 1);
		@include background-color($secondary-button-bg-rest--light-mode, 1);
	}
	& .button__focus-border,
	&:visited .button__focus-border {
		@include border-color($secondary-button-bg-rest--light-mode, 0);
	}
	&:hover,
	&:focus {
		@include background-color($secondary-button-bg-hover--light-mode, 1);
	}
	&:hover .button__focus-border,
	&:focus .button__focus-border {
		@include border-color($secondary-button-bg-hover--light-mode, 1);
	}
	&:active,
	&:active:focus {
		@include color($secondary-label-press--light-mode, 1);
		@include background-color($secondary-button-press--light-mode, 1);
	}
	&:active .button__focus-border,
	&:active:focus .button__focus-border {
		@include border-color($secondary-button-press--light-mode, 0);
	}
}


//***********************************************************//
//**                    MAIN MENU BUTTON                   **//
//***********************************************************//


/// MENU BUTTON
.main-navigation__menu-button {
	border-radius: 48px;
	align-items: center;
	display: none;
	height: 32px;
	justify-content: center;
	opacity: 1;
	pointer-events: all;
	position: absolute;
		top: 2.5em;
		right: 3em;
	transition-property: opacity;
	transition-delay: 0s;
	transition-timing-function: linear;
	transition-duration: 1s;
	width: 92px;
	z-index: 11;
}

.main-navigation__menu-button:hover {
	cursor: pointer;
}

.main-navigation__menu-button__inner {
	@include background-color($black, 0.04);
	border-style: solid;
	border-width: 2px;
	border-color: rgba($black, 0.05);
	border-radius: 48px;
	box-shadow: 0px 0px 6px rgba($alice-blue, 0.75),
				-4px -4px 7px rgba($porcelain, 1),
				0px 5px 9px rgba($shark, 0.59),
				inset 2px 2px 9px rgba($black, 0.20);
	display:flex;
	height: 100%;
	pointer-events: none;
	position: relative;
	transition-property: box-shadow, border-color;
	transition-delay: 0s, 0s;
	transition-timing-function: ease-in-out, ease-in-out;
	transition-duration: 0.01s, 0.15s;
	width: 100%;
}


.main-navigation__menu-button__handle {
	border-radius: 100%;
	box-shadow: 1px 1px 1px rgba($black, 0.4),
				1px 1px 3px rgba($black, 0.25),
				inset 1px 1px 1px rgba($ghost-white, .05),
				inset 1px 1px 2px rgba($ghost-white, 0.05),
				inset -1px -1px 1px rgba($black, 0.05),
				inset -1px -1px 4px rgba($alice-blue, 0.05);
	@include background-color($primary-button-bg-rest--light-mode, 1);
	display: flex;
	height: 28px;
	position: absolute;
		top: 0%;
		left: 0%;
	transform: translate(214%, 0%);
	transition-property: transform;
	transition-delay: 0s;
	transition-timing-function: ease-in;
	transition-duration: 0.2s;
	width: 28px;
	z-index: 1;
}

.main-navigation__menu-button__handle__inner {
	border-radius: 100%;
	display: flex;
	height: 100%;
	position: relative;
	width: 100%;
}

.main-navigation__menu-button__handle__bar {
	@include background-color($ghost-white, 1);
	border-radius: 6em;
	display: flex;
	height: 1px;
	position: absolute;
		top: 50%;
		left: 50%;
	transform: translate(-50%, 0%) rotate(0deg);
	transition-property: background-color, transform, width;
	transition-delay: 0s, 0s, 0s;
	transition-timing-function: ease-in, ease-in, ease-in;
	transition-duration: 0.1s, 0.15s, 0.2s;
	width: 10px;

	&--top {
		transform: translate(-50%, -400%) rotate(0deg);
	}

	&--middle {
		transform: translate(-50%, 0%) rotate(0deg);
	}

	&--bottom {
		transform: translate(-50%, 400%) rotate(0deg);
	}

}


.main-navigation__menu-button__inner:after {
	align-items: center;
	content: 'Menu';
	display: flex;
	height: 100%;
	@include color($port-gore, 0.9);
	font-size: 0.8em;
	font-weight: 500;
	justify-content: center;
	opacity: 1;
	pointer-events: none;
	position: absolute;
		top: 1px;
		left: 1px;
	transform: translate(0px, 0);
	transition-property: transform, font-weight;
	transition-delay: 0s, 0s;
	transition-timing-function: ease-in, ease-in;
	transition-duration: 0.2s, 0.2s;
	width: calc(100% - 18px);
	z-index: 0;

	&::selection {
		@include background-color($port-gore, 0);
		@include color($port-gore, 1);
	}
}

.main-navigation__toggler:checked + .main-navigation__menu-button {


	.main-navigation__menu-button__inner {
		border-color: rgba($porcelain, 0.01);
		box-shadow: 0px 0px 6px rgba($port-gore, 0.75),
					-4px -4px 7px rgba($porcelain, 0.15),
					0px 5px 9px rgba($shark, 0.59),
					inset 2px 2px 9px rgba($black, 0.20);
		transition-duration: 0.01s, 0.15s;

		&:after {
			content: 'Close';
			@include color($ghost-white, 1);
			font-weight: 700;
			transform: translate(18px, 0);
		}

		.main-navigation__menu-button__handle {
			@include background-color($secondary-button-bg-rest--dark-mode, 1);
			box-shadow: -1px -1px 1px rgba($black, 0.4),
						-1px -1px 3px rgba($black, 0.25),
						inset 1px 1px 1px rgba($ghost-white, .5),
						inset 1px 1px 2px rgba($ghost-white, 0.5),
						inset -1px -1px 1px rgba($black, 0.5),
						inset -1px -1px 4px rgba($alice-blue, 0.5);
			transform: translate(0%, 0%);
		}
		.main-navigation__menu-button__handle__bar {
			@include background-color($secondary-label-rest--dark-mode, 1);
			width: 12px;

			&--top {
				transform: translate(-50%, 0%) rotate(45deg);
			}

			&--middle {
				@include background-color($port-gore, 0);
				transform: translate(-50%, 0%) rotate(0deg) scale(0);
			}

			&--bottom {
				transform: translate(-50%, 0%) rotate(-45deg);
			}
		}
	}
}

// this may be wrong on the following couple of selectors ...
// ... :hover might need to go on .main-navigation__menu-button instead - check other browsers
.main-navigation__toggler:hover + .main-navigation__menu-button .main-navigation__menu-button__inner .main-navigation__menu-button__handle {
	@include background-color($primary-button-bg-hover--light-mode, 1);
}
.main-navigation__toggler:checked:hover + .main-navigation__menu-button .main-navigation__menu-button__inner .main-navigation__menu-button__handle {
	@include background-color($alice-blue, 1);
}

.main-navigation__toggler:active + .main-navigation__menu-button .main-navigation__menu-button__inner .main-navigation__menu-button__handle .main-navigation__menu-button__handle__inner:before {
	border: 2px solid $primary-button-bg-hover--light-mode;
	opacity: 0;
}

.main-navigation__toggler:checked:hover + .main-navigation__menu-button .main-navigation__menu-button__inner .main-navigation__menu-button__handle .main-navigation__menu-button__handle__inner:before,
.main-navigation__toggler:checked:focus + .main-navigation__menu-button .main-navigation__menu-button__inner .main-navigation__menu-button__handle .main-navigation__menu-button__handle__inner:before,
.main-navigation__toggler:checked:focus-within + .main-navigation__menu-button .main-navigation__menu-button__inner .main-navigation__menu-button__handle .main-navigation__menu-button__handle__inner:before {
	border: 2px solid $alice-blue;
	opacity: 1;
}

.main-navigation__toggler:checked:active + .main-navigation__menu-button .main-navigation__menu-button__inner .main-navigation__menu-button__handle .main-navigation__menu-button__handle__inner:before {
	border: 2px solid $alice-blue;
	opacity: 0;
}


//***********************************************************//
//**                     HEADER BLOCK                      **//
//***********************************************************//


// header block
.header {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 100vh;
	pointer-events: none;
	position: absolute;
		top: 0;
		left: 50%;
	transform: translate(-50%, 0%);
	width: 100%;
	z-index: 2;
}

//***********************************************************//
//**                      HEADER LOGO                      **//
//***********************************************************//


// header logo block
.header__logo {
	align-items: flex-start;
	border-radius: 0.25em;
	display: flex;
	flex-direction: row;
	height: 2.75em;
	justify-content: left;
	margin: 0;
	pointer-events: all;
	position: absolute;
		top: 1em;
		left: 1em;
	width: 2.75em;
	z-index: 3;
}

// header logo anchor wrapper
.header__logo__anchor {
	@include background-color($port-gore, 0);
	border-radius: 0.25em;
	height: 100%;
	overflow: hidden;
	padding: 0.5em;
	pointer-events: none;
	position: relative;
	width: 100%;
}


.header__logo__anchor__text {
	color: rgba(0,0,0,0%);
	font-size: 1px;
	height: 1px;
	overflow: hidden;
	pointer-events: none;
	position: absolute;
		top: -1px;
		left: -1px;
	width: 1px;
}


// header logo mark block
.header__logo__mark {
	align-items: flex-end;
	display: flex;
	flex-direction: row;
	gap: 12%;
	height: 100%;
	justify-content: center;
	pointer-events: none;
	position: relative;
	width: 100%;
	z-index: 2;
}


// header logo mark block lines
.header__logo__line {
	box-shadow: 0 0 0px rgba($port-gore ,0.25), 0 0 0px rgba($port-gore ,0.25);
	@include background-color($upper-half-background, 1);
	border-radius: 3em;
	display: block;
	height: 100%;
	pointer-events: none;
	width: 16%;
	z-index: 2;
}


.header__logo__line:nth-child(1) {
	height: 45%;
}


.header__logo:hover,
.header__logo:focus {
	outline: none;
}
.header__logo:hover {
	cursor: pointer;
}

//***********************************************************//
//**                 TOP-LEVEL MAIN MENU                   **//
//***********************************************************//

/// MENU CONTROLS AND LAYOUT SETUP
.hidden-control {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	display: none;
	height: 1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
		top: -10000%;
		left: -10000%;
	width: 1px;
}

.main-navigation {
	align-items: flex-start;
	display: flex;
	height: 100%;
	justify-content: center;
	margin: 0 auto;
	pointer-events: none;
	position: absolute;
		top: 0;
		left: 50%;
	transform: translate(-50%,0%);
	width: 100vw;
	z-index: 10;
}

.main-navigation__wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
	max-width: 65em; // for the likes of buttons!!
	position: relative;
	width: 100%;
}

.main-navigation__menu {
	align-items: center;
	@include background-color($port-gore, 1);
	display: flex;
	flex-direction: column;
	height: 100vh;
	list-style: none;
	justify-content: center;
	margin: 0;
	opacity: 0;
	overflow: hidden;
	opacity: 0;
	padding: 0;
	pointer-events: none;
	position: absolute;
		top: 0;
		left: 50%;
	transform: translate(-50%,0%);
	transition-property: visibility, opacity;
	transition-delay: 0s, 0s;
	transition-timing-function: ease-in-out, ease-in-out;
	transition-duration: 0.2s, 0.2s;
	visibility: hidden;
	width: 100vw;
	z-index: 10;
}

.main-navigation__menu__section {
	display: flex;
	flex-direction: column;
	max-width: 65em; // for the likes of buttons!!
	list-style: none;
	padding: 0;
	position: relative;
	width: 100%;
}

.main-navigation__menu__title {
	align-items: center;
	color: $dim-gray;
	display: flex;
	font-size: 1em;
	font-weight: 700;
	text-align: center;
	justify-content: center;
	text-transform: uppercase;
}

.main-navigation__menu-item {
	align-items: center;
	display: flex;
	justify-content: center;
	max-width: 65em;
}

.main-navigation__menu-item::selection,
.main-navigation__menu-item__link::selection {
	background-color: transparent;
	@include color($alice-blue, 1);
}

.main-navigation__menu-item:focus {
	outline: none;
}

.main-navigation__menu-item__link {
	color: $ghost-white;
	display: inline-flex;
	font-size: 4em;
	font-weight: 400;
	position: relative;
	text-decoration: none;

	&:hover,
	&:focus {
		outline: 0;
		text-decoration: none;
	}

	&__focus-border {
		display: flex;
		@include border-color($alice-blue, 0);
		border-radius: 8px;
		border-style: solid;
		border-width: 2px;
		height: calc(100% + 8px);
		position: absolute;
			top: -4px;
			left: -8px;
		width: calc(100% + 16px);
	}

	&:hover &__focus-border,
	&:focus &__focus-border {
		@include border-color($alice-blue, 1);
	}

	&:active &__focus-border {
		opacity: 0;
	}
}




// after main nav toggle is clicked ...
.main-navigation__toggler:checked + .main-navigation__menu-button .expanded-text {
	display: inline;
}

.main-navigation__toggler:checked + .main-navigation__menu-button .collapsed-text {
	display: none;
}

.main-navigation__toggler:not(:checked) + .main-navigation__menu-button .expanded-text {
	display: none;
}

.main-navigation__toggler:not(:checked) + .main-navigation__menu-button .collapsed-text {
	display: inline;
}

.main-navigation__toggler:checked ~ .main-navigation__menu {
	opacity: 1;
	pointer-events: all;
	visibility: visible;
	transition-duration: 1s, 1s;
}


.main-navigation__toggler:checked ~ .landing,
.main-navigation__toggler:checked ~ .footer,
.main-navigation__toggler:checked ~ .nav__mobile,
.main-navigation__toggler:checked ~ .bg-decorative-triangle {
	display: none;
}

[data-menu-origin="right"] {
	left: auto;
	right: 0;
}


//***********************************************************//
//**                   MOBILE-ONLY NAV                     **//
//***********************************************************//


/// mobile only nav
nav {
	display: none;
}
.nav__mobile {
	display: none;
	@include background-color($port-gore, 1);
	box-shadow: 0px 7px 15px 10px rgba(0,0,0,0.76);
	flex-direction: column;
	height: 5em;
	opacity: 1;
	padding: 0.5em 1em;
	position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
	transition-property: opacity;
	transition-delay: 0s;
	transition-timing-function: linear;
	transition-duration: 1s;
	width: 100%;
	z-index: 3;
}
.nav__mobile__inner {
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: center;
	width: 100%;
}
.nav__mobile__menu {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	list-style: none;
	padding: 0em;
	margin: 0em;
}
.nav__mobile__menu__item {
	align-items: center;
 	display: flex;
	flex-direction: column;
	height: 3.5em;
	justify-content: center;
	width: 4em;
}
.nav__mobile__menu__item__button {
	align-items: center;
	appearance: none;
	border: 0em;
	@include background-color($port-gore, 0);
	display: flex;
	flex-direction: column;
	height: 3.5em;
	gap: 0.25em 0em;
	justify-content: center;
	width: 4em;
}
.nav__mobile__menu__item__button__image {
	height: 2em;
	width: 2em;
}
.nav__mobile__menu__item__button__label {
	display: flex;
	font-size: 0.75em;
	@include color($ghost-white, 1);
}
.nav__mobile__menu__item__button__focus-border {
	display: none; // temp
}


//***********************************************************//
//**               LANDING CONTENT BLOCKS                  **//
//***********************************************************//


// landing block
.landing {
	align-items: center;
	display: flex;
	flex-direction: column;
	opacity: 1;
	position: relative;
	transition-property: opacity;
	transition-delay: 0s;
	transition-timing-function: linear;
	transition-duration: 1s;
	width: 100%;
	z-index: 2;

	// landing block inner
	&__inner {
		align-items: center;
		height: 100%;
		display: flex;
		flex-direction: column;
		max-width: 65em;
		position: relative;
		width: 100%;
		z-index: 1;

		.landing-section:first-child {
			@include background-color($alice-blue, 1);
		}
		.landing-section:last-child {
			@include background-color($alice-blue, 1);
		}
	}

	// landing-section block
	&-section {
		align-items: flex-end;
		display: flex;
		justify-content: flex-start;
		position: relative;
		width: 100%;
	}


	// landing-section block mods -- heights
	&-section--tall {
		height: auto;
	}
	&-section--short {
		height: auto;
	}

	&-section--halves {
		flex-direction: row;
	}

	// landing-section block mods -- halfed layout
	&-section--halves {
		flex-direction: column-reverse;
	}
	&-section--halves-reversed {
		flex-direction: column-reverse;
	}


	// landing-section block mods -- colors
	&-section--ghost-white {
		@include background-color($ghost-white, 1);
	}
	&-section--cultured {
		@include background-color($alice-blue, 1);
	}


	// landing-section block mods -- slant decorations
	&-section--slant {

		&:before,
		&:after {
			content: '';
			display: block;
			height: 0em;
			pointer-events: none;
			position: absolute;
				top: 0;
				right: 0;
		}

		&:before {
			@include background-color($alice-blue, 1);
			z-index: 1;
			width: 100%;
		}
		&:after {
			border-top: 1.95em solid $port-gore;
			border-left: 520px solid transparent;
				top: 0;
			z-index: 2;
			width: 0%;
		}
	}


	// landing-section content block
	&-section-content {
		display: flex;
		justify-content: center;
		padding: 1em 1em 2.5em;
		width: 100%;
	}

	// landing-section content block mods -- width
	&-section-content--halved {
		width: 100%;
	}
	&-section-content--full {
		width: 100%;
	}


	// landing-section content inner block
	&-section-content__inner {
		align-items: flex-start;
		align-self: center;
		display: flex;
		height: 100%;
		flex-direction: column;
		max-width: 23em;
		position: relative;
		width: 100%;
	}

	&-section-content__title {

		&--light {
			@include color($port-gore, 1);
		}
		&--light {
			@include color($alice-blue, 1);
		}
	}


	// landing section image container block
	&-section-image-container {
		display: block;
		height: 100%;
		margin: 0;
		overflow: hidden;
		padding: 0;
		position: relative;
		width: 100%;
	}


	&-section-image-container-triangle {
		&:after {
			content: '';
			display: block;
			height: 0em;
			position: absolute;
				left: 0;
				right: 0;
			width: 0em;
		}

		&--top:after {
			border-top: 1.95em solid red;
			border-left: 520px solid transparent;
				top: 0;
		}

		&--bottom:after {
			border-bottom: 1.95em solid red;
			border-right: 520px solid transparent;
				bottom: 0;
		}
	}

	&-section:first-child .landing-section-image-container-triangle {
		&--bottom:after {
			border-bottom: 1.95em solid $port-gore;
		}
	}
	&-section:nth-child(2) .landing-section-image-container-triangle {
		&--top:after {
			border-top: 1.95em solid $alice-blue;
		}
	}
	&-section:nth-child(3) .landing-section-image-container-triangle {
		&--bottom:after {
			border-bottom: 1.95em solid $alice-blue;
		}
	}

	// landing section image container block mods -- curve decorations
	&-section-image-container--curved--bottom--right {
		border-bottom-right-radius: 0em;
	}
	&-section-image-container--curved--top--left {
		border-top-left-radius: 0em;
	}


	// landing section image
	&-section-image {
		display: block;
		height: 100%;
		object-fit: cover; /* or object-fit: contain; */
		width: 100%;
	}


	// landing section button group
	&-section-content__button-grp {
		flex-direction: column;
		display: flex;
		gap: 1.25em;
		margin-top: 1em;
		width: 100%;
	}
}



//***********************************************************//
//**                         FOOTER                        **//
//***********************************************************//


// footer block
.footer {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 32.75em;
	justify-content: center;
	opacity: 1;
	position: relative;
	transition-property: opacity;
	transition-delay: 0s;
	transition-timing-function: linear;
	transition-duration: 1s;
	width: 100%;
	z-index: 1;

	// footer block inner
	&__inner {
		align-items: center;
		@include background-color($footer-background, 1);
		height: 100%;
		display: flex;
		flex-direction: column;
		gap: 0em;
		justify-content: center;
		overflow: hidden;
		position: absolute;
			top: 0;
			left: 50%;
		transform: translate(-50%, 0);
		width: 100vw;
		z-index: 1;
	}

	// footer block decorative elipses
	&__elipses {
		@include background-color($elipses-background, 1);
		border-radius: 100%;
		display: flex;
		height: 8em;
		position: absolute;
			top: 0%;
			left: 50%;
		min-width: calc(100% + 40em);
		transform: translate(-50%, -50%);
		z-index: 2;
	}

	// footer section block
	&-section {
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		max-width: 65em;
		position: relative;
		width: 100%;
	}

	// footer section block inner
	&-section__inner {
		align-items: center;
		height: 100%;
		display: flex;
		flex-wrap: nowrap;
		justify-content: center;
		position: relative;
		padding: 0em;
		width: 100%;
	}

	// footer section block mods -- menu (social)
	&-section__inner--menu {
		flex-direction: row;
		flex-wrap: wrap;
		gap: 0.5em 0.5em;
		list-style-type: none;
		padding: 0;
	}

	// footer section block mods -- dots
	&-section__inner--dots {
		display: flex;
		flex-direction: row;
		gap: 1em;
		list-style: none;
	}

	// footer section dot block decorations
	&__section__dot {
		border-radius: 100%;
		height: 0.5em;
		width: 0.5em;

		// footer section dot block decoration mods -- colors
		&--red {
			@include background-color($red, 1);
		}
		&--orange {
			@include background-color($orange, 1);
		}
		&--yellow {
			@include background-color($yellow, 1);
		}
		&--green {
			@include background-color($green, 1);
		}
		&--blue {
			@include background-color($blue, 1);
		}
		&--violet {
			@include background-color($violet, 1);
		}
	}

	// footer section block mods -- disclaimers
	&-section__inner--disclaimers {
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		list-style: none;
		padding: 0;
	}

	// footer menu item
	&__menu__item {
		display: flex;
		height: 3em;
		margin: 0;
		padding: 0;
		width: 3em;

		// footer menu item link (social icons)
		&__link {
			align-items: center;
			border-radius: 100%;
			display: flex;
			height: 100%;
			justify-content: center;
			position: relative;
			text-decoration: none;
			width: 100%;

			// link states
			&:hover {
				cursor: pointer;
			}
			&:focus {
				outline: none;
			}
			&,
			&:visited {
				@include background-color($footer__menu__item__link__focus-border, 0);
			}
			&:hover,
			&:focus {
				@include background-color($footer__menu__item__link__background, 1);
			}
			&:active {
				@include background-color($footer__menu__item__link__background, 1);
			}

			// focus border
			&__focus-border {
				@include border-color($ghost-white, 0);
				border-radius: 100%;
				border-style: solid;
				border-width: 0.125em;
				display: block;
				height: calc(100% + 0.8em);
				pointer-events: none;
				position: absolute;
					top: -0.4em;
					left: -0.4em;
				width: calc(100% + 0.8em);
			}
			&:visited .footer__menu__item__link__focus-border {
				@include border-color($ghost-white, 0);
			}
			&:hover .footer__menu__item__link__focus-border,
			&:focus .footer__menu__item__link__focus-border {
				@include border-color($ghost-white, 0.75);
			}
			&:active &__focus-border {
				@include border-color($ghost-white, 0);
			}

			// icons
			&__image {
				border-radius: 100%;
				display: flex;
				height: 100%;
				pointer-events: none;
				width: 100%;

				& path,
				& rect {
					fill: $footer__menu__item__link__image--rest;
				}
			}
			&:hover &__image path,
			&:hover &__image rect,
			&:focus &__image path,
			&:focus &__image rect {
				fill: $footer__menu__item__link__image--hover;
			}
			&:active &__image path,
			&:active &__image rect {
				fill: $footer__menu__item__link__image--hover;
			}

		}
	}
}


// COLUMNED LAYOUTS FOR MOBILE / PORTRAIT / AND BASE STYLES - *GREEN*
.landing {
	&:after {
		background-color: white;
		border: solid 1px gray;
		content: '~';
		display: none;
		align-items: center;
		height: 60px;
		font-size: 1.2em;
		font-weight: 500;
		justify-content: center;
		position: fixed;
			top: 0;
			left: 0;
		text-align: center;
		width: 80px;
		z-index: 15;
	}
}


//***********************************************************//
//**                      MEDIA QUERIES                    **//
//***********************************************************//

// EXAMPLE OF HOW TO SEPARATE STYLES OUT INTO MEDIA QUERIES
//		@import url("/inc/Styles/full.css") (min-width: 940px);

// EXAMPLE OF ACCESSIBLE MEDIA QUERY
// 		@media (prefers-reduced-motion: reduce) {
//			.Toggle__display {
//			transition-duration: 0ms;
//			}
//		}


// MOBILE - PORTRAIT //
@media only screen and (pointer: coarse) and (orientation: portrait) and (min-device-width: 0px) {
	.landing {
		&:after {
			background-color: #FFFAF0;
			content: 'BASE Mobile';
		}
	}

	// PORTRAIT //
	@media only screen and (max-width: 767px){
		nav,
		.nav__mobile {
			display: flex;
		}
	}
}
// MOBILE - LANDSCAPE //
@media only screen and (pointer: coarse) and (orientation: landscape) and (min-device-width: 0px) {
	.landing {
		&:after {
			background-color: #FFFAF0;
			content: 'BASE Mobile';
		}
	}

	// place holder for where button should appear in mobile
	//landscape and desktop
	.main-navigation__toggler,
	.main-navigation__menu-button {
		display: flex;
	}


	// HANDLE THE REST IN MOBILE and DESKTOP //
}


// MOBILE and DESKTOP //
@media only screen and (min-width: 320px) {
	.landing {
		&:after {
			background-color: #FFFAF0;
			content: '320px Both';
		}
	}

	.landing-section-content__inner {
		max-width: 17em;
	}
	.h2 {
		font-size: 2.7em;
	}
	.h2--large {
		font-size: 3.8em;
	}
	.p--small-text {
		font-size: 1em;
	}
	.p--medium-text {
		font-size: 1.1em;
	}
	.p--large-text {
		font-size: 1.5em;
	}
	.button {
		font-size: 1em;
	}
}
// MOBILE and DESKTOP //
@media only screen and (min-width: 375px) {
	.landing {
		&:after {
			background-color: #FFFAF0;
			content: '375px Both';
		}
	}

	.landing-section-content__inner {
		max-width: 21.65em;
	}
	.footer-section__inner {
		max-width: 21em;
	}
	.h2 {
		font-size: 3.42em;
	}
	.h2--large {
		font-size: 4.8em;
	}
}
// MOBILE and DESKTOP //
@media only screen and (min-width: 390px) {
	.landing {
		&:after {
			background-color: #FFFAF0;
			content: '390px Both';
		}
	}

	.landing-section-content__inner {
		max-width: 22.2em;
	}
	.h2 {
		font-size: 3.54em;
	}
	.h2--large {
		font-size: 5.2em;
	}
}
// MOBILE and DESKTOP //
@media only screen and (min-width: 393px) {
	.landing {
		&:after {
			background-color: #FFFAF0;
			content: '393px Both';
		}
	}

	// TYPOGRAPHY //
	.landing-section-content__inner {
		max-width: 22.5em;
	}
	.h2 {
		font-size: 3.59em;
	}
	.h2--large {
		font-size: 5.285em;
	}
}
// MOBILE and DESKTOP //
@media only screen and (min-width: 412px) {
	.landing {
		&:after {
			background-color: #FFFAF0;
			content: '412px Both';
		}
	}
}
// MOBILE and DESKTOP //
@media only screen and (min-width: 414px) {
	.landing {
		&:after {
			background-color: #FFFAF0;
			content: '414px Both';
		}
	}
}
// MOBILE and DESKTOP //
@media only screen and (min-width: 440px) {
	.landing {
		&:after {
			background-color: #FFFAF0;
			content: '440px Both';
		}
	}

	// TYPOGRAPHY //
	.landing-section-content__inner {
		max-width: 25em;
	}
	.h2 {
		font-size: 3.99em;
	}
	.h2--large {
		font-size: 5.4em;
	}
	.p--small-text {
		font-size: 0.9em;
	}
	.p--medium-text {
		font-size: 1em;
	}
	.p--large-text {
		font-size: 1.3em;
	}
	.button {
		font-size: 1em;
	}
}
// MOBILE and DESKTOP //
@media only screen and (min-width: 480px) {
	.landing {
		&:after {
			background-color: #FFFAF0;
			content: '480px Both';
		}
	}

	// TYPOGRAPHY //
	.landing-section-content__inner {
		max-width: 28em;
	}
	.footer-section__inner {
		max-width: none;
	}
	.h2 {
		font-size: 4.45em;
	}
	.h2--large {
		font-size: 5.9em;
	}
}
// MOBILE and DESKTOP //
@media only screen and (min-width: 540px) {
	.landing {
		&:after {
			background-color: #FFFAF0;
			content: '540px Both';
		}
	}

	//**  LANDSCAPE LAYOUTS **//
	.landing-section--halves {
		flex-direction: row;
	}
	.landing-section--halves-reversed {
		flex-direction: row-reverse;
	}
	.landing-section-content {
		padding: 4em 1em 2.5em;
	}
	.landing-section:first-child .landing-section-content {
		padding: 4.5em 1em 2.5em;
	}
	.landing-section:last-child .landing-section-content__inner {
		max-width: 33.5em;
	}
	.landing-section-content--halved {
		width: 50%;
	}
	.landing-section-image-container {
		height: 100%;
		width: 50%;
	}
	.landing-section:nth-child(3) .landing-section-image-container-triangle:after {
		@include triangle(right, top, $alice-blue);
	}
	.landing-section-image-container {
		min-height: 100%;
	}
	.landing-section-image-container--curved--top--left {
		border-top-left-radius: 8em;
	}
	.landing-section-image-container--curved--bottom--right {
		border-bottom-right-radius: 8em;
	}
	.landing-section--slant:before {
		width: 50%;
	}
	.landing-section--slant:after {
		width: 0%;
	}


	// TYPOGRAPHY //
	.landing-section-content__inner {
		max-width: 14.9em;
	}
	.h2 {
		font-size: 2.37em;
	}
	.h2--large {
		font-size: 4.8em;
	}
	.p--small-text {
		font-size: 0.8em;
	}
	.p--medium-text {
		font-size: 0.9em;
	}
	.p--large-text {
		font-size: 1.2em;
	}
	.button {
		font-size: 0.9em;
	}
}
// MOBILE and DESKTOP //
@media only screen and (min-width: 590px) {
	.landing {
		&:after {
			background-color: #FFFAF0;
			content: '590px Both';
		}
	}

	// TYPOGRAPHY //
	.landing-section-content__inner {
		max-width: 15.15em;
	}
	.landing-section:last-child .landing-section-content__inner {
	    max-width: 37em;
	}
	.h2 {
		font-size: 2.41em;
	}
	.h2--large {
		font-size: 4.8em;
	}
}
// MOBILE and DESKTOP //
@media only screen and (min-width: 653px) {
	.landing {
		&:after {
			background-color: #FFFAF0;
			content: '653px Both';
		}
	}

	// TYPOGRAPHY //
	.landing-section-content__inner {
		max-width: 18.25em;
	}
	.landing-section:last-child .landing-section-content__inner {
		max-width: 38.5em;
	}
	.h2 {
		font-size: 2.9em;
	}
	.h2--large {
		font-size: 4.8em;
	}
}
// MOBILE and DESKTOP //
@media only screen and (min-width: 667px) {
	.landing {
		&:after {
			background-color: #FFFAF0;
			content: '667px Both';
		}
	}

	// Silence is golden.
}
// MOBILE and DESKTOP //
@media only screen and (min-width: 736px) {
	.landing {
		&:after {
			background-color: #FFFAF0;
			content: '736px Both';
		}
	}

	// TYPOGRAPHY //
	.landing-section-content__inner {
		max-width: 20.4em;
	}
	.landing-section:last-child .landing-section-content__inner {
		max-width: 42.5em;
	}
	.h2 {
		font-size: 3.25em;
	}
	.h2--large {
		font-size: 4.8em;
	}
}
// MOBILE and DESKTOP //
@media only screen and (min-width: 740px) {
	.landing {
		&:after {
			background-color: #FFFAF0;
			content: '740px Both';
		}
	}
	// place holder for where button should appear in desktop after mobile
	//landscape and desktop
	.main-navigation__toggler,
	.main-navigation__menu-button {
		display: flex;
	}
	nav,
	.nav__mobile {
		display: none;
	}
	// Silence is golden.
}
// MOBILE and DESKTOP //
@media only screen and (min-width: 768px) {
	.landing {
		&:after {
			background-color: #FFFAF0;
			content: '768px Both';
		}
	}

	// TYPOGRAPHY //
	.landing-section-content__inner {
		max-width: 21.8em;
	}
	.landing-section:last-child .landing-section-content__inner {
		max-width: 45em;
	}
	.h2 {
		font-size: 3.45em;
	}
	.h2--large {
		font-size: 4.8em;
	}
}
// MOBILE and DESKTOP //
@media only screen and (min-width: 812px) {
	.landing {
		&:after {
			background-color: #FFFAF0;
			content: '812px Both';
		}
	}

	// Silence.
}
// MOBILE and DESKTOP //
@media only screen and (min-width: 820px) {
	.landing {
		&:after {
			background-color: #FFFAF0;
			content: '820px Both';
		}
	}

	// Silence.
}
// MOBILE and DESKTOP //
@media only screen and (min-width: 844px) {
	.landing {
		&:after {
			background-color: #FFFAF0;
			content: '844px Both';
		}
	}

	// Silence.
}
// MOBILE and DESKTOP //
@media only screen and (min-width: 851px) {
	.landing {
		&:after {
			background-color: #FFFAF0;
			content: '851px Both';
		}
	}

	// Silence.
}
// MOBILE and DESKTOP //
@media only screen and (min-width: 896px) {
	.landing {
		&:after {
			background-color: #FFFAF0;
			content: '896px Both';
		}
	}

	// Silence.
}
// MOBILE and DESKTOP //
@media only screen and (min-width: 915px) {
	.landing {
		&:after {
			background-color: #FFFAF0;
			content: '915px Both';
		}
	}

	.landing-section-content__button-grp {
		flex-direction: row;
		width: auto;
	}
	// Silence.
}
// MOBILE and DESKTOP //
@media only screen and (min-width: 1024px) {
	.landing {
		&:after {
			background-color: #FFFAF0;
			content: '1024px Both';
		}
	}
	.landing .landing__inner .landing-section:first-child {
		@include background-color($alice-blue, 0);
	}

	//**  LAYOUT ADJUSTMENTS **//
	.header__logo {
		top: 0.5em;
		left: 1em;
	}
	// .header__nav-button {
	// 	top: 1.75em;
	// 	right: 1.5em;
	// }
	.landing-section--tall {
		height: 43em;
	}
	.landing-section--short {
		height: 21em;
	}
	.landing-section-content,
	.landing-section:last-child .landing-section-content,
	.landing-section:first-child .landing-section-content {
		padding: 2.5em;
	}

	// TYPOGRAPHY //
	.landing-section-content__inner {
		max-width: none;
	}
	.landing-section:last-child .landing-section-content__inner {
		max-width: none;
	}
	.h2 {
		font-size: 4.45em;
		font-weight: 600;
		letter-spacing: -0.03em;
		line-height: 1em;
		margin: 0.4em 0em;
	}
	.h2--large {
		font-size: 6.55em;
	}
	.p--small-text {
		font-size: 0.95em;
	}
	.p--medium-text {
		font-size: 1.05em;
	}
	.p--large-text {
		font-size: 1.4em;
	}
	.button {
		font-size: 1.05em;
	}
	.bg-decorative-triangle {
		display: flex;
	}
}


// HOVER CAPABILITIES ONLY ** ** //
@media only screen and (hover: hover) {

	// TEXT LINKS
	.link:focus {
		outline: none;
	}
	.link:hover {
		cursor: pointer;
	}

	// TEXT LINNK MODS -- COLOR MO
	.link--dark-mode {
		&,
		&:visited {
			@include color($interactive-rest--dark-mode, 1);
		}
		& .link__focus-border,
		&:visited .link__focus-border {
			@include border-color($interactive-rest--dark-mode, 0);
		}
		&:hover,
		&:focus {
			@include color($interactive-hover--dark-mode, 1);
			text-decoration: none;
		}
		&:hover .link__focus-border,
		&:focus .link__focus-border {
			@include border-color($interactive-hover--dark-mode, 1);
		}
		&:active {
			@include color($interactive-press--dark-mode, 1);
		}
		&:active .link__focus-border {
			@include border-color($interactive-press--dark-mode, 0);
		}
	}
	.link--light-mode {
		&,
		&:visited {
			@include color($interactive-rest--light-mode, 1);
		}
		& .link__focus-border,
		&:visited .focus-border {
			@include border-color($interactive-rest--light-mode, 0);
		}
		&:hover,
		&:focus {
			@include color($interactive-hover--light-mode, 1);
			text-decoration: none;
		}
		&:hover .link__focus-border,
		&:focus .link__focus-border {
			@include border-color($interactive-hover--light-mode, 1);
		}
		&:active {
			@include color($interactive-press--light-mode, 1);
		}
		&:active .link__focus-border {
			@include border-color($interactive-press--light-mode, 0);
		}
	}
}


// DAY AND NIGHT MODES (EXAMPLES)
// .day   { background: #eee; color: black; }
// .night { background: #333; color: white; }
//
// @media (prefers-color-scheme: dark) {
//   .day.dark-scheme   { background:  #333; color: white; }
//   .night.dark-scheme { background: black; color:  #ddd; }
// }
//
// @media (prefers-color-scheme: light) {
//   .day.light-scheme   { background: white; color:  #555; }
//   .night.light-scheme { background:  #eee; color: black; }
// }
//
// .day, .night {
//   display: inline-block;
//   padding: 1em;
//   width: 7em;
//   height: 2em;
//   vertical-align: middle;
// }


// PREFERS REDUCED MOTION (EXAMPLES)
// .animation {
//   animation: pulse 1s linear infinite both;
// }
//
// /* Tone down the animation to avoid vestibular motion triggers like scaling or panning large objects. */
// @media (prefers-reduced-motion) {
//   .animation {
//     animation-name: dissolve;
//   }
// }
