/* inter-100 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100;
  src: local(""), url("inter-v7-latin-100.woff2") format("woff2"), url("inter-v7-latin-100.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-200 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  src: local(""), url("inter-v7-latin-200.woff2") format("woff2"), url("inter-v7-latin-200.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-300 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  src: local(""), url("inter-v7-latin-300.woff2") format("woff2"), url("inter-v7-latin-300.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-regular - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("inter-v7-latin-regular.woff2") format("woff2"), url("inter-v7-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-500 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("inter-v7-latin-500.woff2") format("woff2"), url("inter-v7-latin-500.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-600 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("inter-v7-latin-600.woff2") format("woff2"), url("inter-v7-latin-600.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-700 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("inter-v7-latin-700.woff2") format("woff2"), url("inter-v7-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-900 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: local(""), url("inter-v7-latin-900.woff2") format("woff2"), url("inter-v7-latin-900.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-800 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  src: local(""), url("inter-v7-latin-800.woff2") format("woff2"), url("inter-v7-latin-800.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

button,
input {
  /* 1 */
  overflow: visible;
}

button,
select {
  /* 1 */
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

ul {
  padding-inline-start: 5em;
}

img::selection,
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
p::selection,
a::selection {
  background-color: #2C2E44;
  /* The Fallback */
  background-color: rgba(44, 46, 68, 0.25);
}

.p--dark-mode::selection,
.link--dark-mode::selection,
.btn__label::selection {
  background-color: #FFFFFF;
  /* The Fallback */
  background-color: rgba(255, 255, 255, 0.25);
}

.h2 {
  align-self: stretch;
  color: #303135;
  flex-grow: 0;
  font-size: 4.2em;
  font-weight: 600;
  line-height: 0.88em;
  letter-spacing: -0.055em;
  margin: 0.23em 0em;
}

.h2--large {
  font-size: 7em;
}

.p {
  flex-grow: 0;
  margin: 0.67em 0em;
}
.p:last-child {
  margin-bottom: 0;
}

.p--contained {
  align-self: auto;
}

.p--full {
  align-self: stretch;
}

.p--small-text {
  font-size: 1em;
  font-weight: 500;
  letter-spacing: -0.01em;
}

.p--medium-text {
  font-size: 1em;
  font-weight: 600;
  letter-spacing: -0.01em;
}

.p--large-text {
  font-size: 1.5em;
  font-weight: 400;
  letter-spacing: -0.025em;
}

.p--light-mode {
  color: #303135;
}

.p--dark-mode {
  color: #E8E8E8;
}

.p--line-height-large {
  line-height: 1.34em;
}

.p--line-hight-medium {
  line-height: 1.25em;
}

.p--line-hight-small {
  line-height: 1em;
}

.link {
  appearance: none;
  color: inherit;
  cursor: default;
  display: inline-flex;
  font-weight: 500;
  padding: 0em;
  position: relative;
  text-decoration: none;
}
.link:focus {
  outline: none;
}
.link:hover {
  cursor: pointer;
}

.link__focus-border {
  border-style: solid;
  border-radius: 0.5rem;
  border-width: 0.125em;
  display: block;
  height: calc(100% + 1.25rem);
  pointer-events: none;
  position: absolute;
  top: -0.5rem;
  left: -0.75rem;
  width: calc(100% + 1.5rem);
}

.link--dark-mode, .link--dark-mode:visited {
  color: #F3F6F7;
  /* The Fallback */
  color: #f3f6f7;
}
.link--dark-mode .link__focus-border, .link--dark-mode:visited .link__focus-border {
  border-color: #F3F6F7;
  /* The Fallback */
  border-color: rgba(243, 246, 247, 0);
}
.link--dark-mode:hover, .link--dark-mode:focus {
  color: #FFFFFF;
  /* The Fallback */
  color: white;
  text-decoration: none;
}
.link--dark-mode:hover .link__focus-border, .link--dark-mode:focus .link__focus-border {
  border-color: #FFFFFF;
  /* The Fallback */
  border-color: rgba(255, 255, 255, 0.75);
}
.link--dark-mode:active {
  color: #E8E8E8;
  /* The Fallback */
  color: #e8e8e8;
}
.link--dark-mode:active .link__focus-border {
  border-color: #E8E8E8;
  /* The Fallback */
  border-color: rgba(232, 232, 232, 0);
}

.link--light-mode, .link--light-mode:visited {
  color: #4F505E;
  /* The Fallback */
  color: #4f505e;
}
.link--light-mode .link__focus-border, .link--light-mode:visited .focus-border {
  border-color: #4F505E;
  /* The Fallback */
  border-color: rgba(79, 80, 94, 0);
}
.link--light-mode:hover, .link--light-mode:focus {
  color: #666773;
  /* The Fallback */
  color: #666773;
  text-decoration: none;
}
.link--light-mode:hover .link__focus-border, .link--light-mode:focus .link__focus-border {
  border-color: #666773;
  /* The Fallback */
  border-color: rgba(102, 103, 115, 0.75);
}
.link--light-mode:active {
  color: #1A1F1F;
  /* The Fallback */
  color: #1a1f1f;
}
.link--light-mode:active .link__focus-border {
  border-color: #1A1F1F;
  /* The Fallback */
  border-color: rgba(26, 31, 31, 0);
}

.btn {
  appearance: none;
  align-items: center;
  background-color: #E8E8E8;
  /* The Fallback */
  background-color: #e8e8e8;
  border: 0;
  border-radius: 6em;
  color: #303135;
  /* The Fallback */
  color: #303135;
  cursor: default;
  display: flex;
  font-weight: 700;
  font-size: 1.7em;
  justify-content: center;
  line-height: 2em;
  letter-spacing: 0.01em;
  padding: 0.5em 3em;
  position: relative;
  text-decoration: none;
}
.btn:focus {
  outline: none;
}
.btn:hover {
  cursor: pointer;
}
.btn:hover, .btn:focus, .btn:active {
  color: #FFFFFF;
}
.btn .btn__label {
  display: inline-flex;
  white-space: nowrap;
}
.btn .btn__focus-border {
  border-style: solid;
  border-radius: 4.5em;
  border-width: 0.125em;
  display: block;
  height: calc(100% + 0.5em);
  pointer-events: none;
  position: absolute;
  top: -0.25em;
  left: -0.25em;
  width: calc(100% + 0.5em);
}

.btn--primary, .btn--primary:visited {
  background-color: #2C2E44;
  /* The Fallback */
  background-color: #2c2e44;
}
.btn--primary .btn__focus-border, .btn--primary:visited .btn__focus-border {
  border-color: #2C2E44;
  /* The Fallback */
  border-color: rgba(44, 46, 68, 0);
}
.btn--primary:hover, .btn--primary:focus {
  background-color: #393B4F;
  /* The Fallback */
  background-color: #393b4f;
}
.btn--primary:hover .btn__focus-border, .btn--primary:focus .btn__focus-border {
  border-color: #393B4F;
  /* The Fallback */
  border-color: #393b4f;
}

.btn--secondary, .btn--secondary:visited {
  background-color: #4F505E;
  /* The Fallback */
  background-color: #4f505e;
}
.btn--secondary .btn__focus-border, .btn--secondary:visited .btn__focus-border {
  border-color: #4F505E;
  /* The Fallback */
  border-color: rgba(79, 80, 94, 0);
}
.btn--secondary:hover, .btn--secondary:focus {
  background-color: #666773;
  /* The Fallback */
  background-color: #666773;
}
.btn--secondary:hover .btn__focus-border, .btn--secondary:focus .btn__focus-border {
  border-color: #666773;
  /* The Fallback */
  border-color: #666773;
}

.btn--primary, .btn--primary:visited,
.btn--secondary,
.btn--secondary:visited {
  color: #F0F2F2;
  /* The Fallback */
  color: #f0f2f2;
}
.btn--primary:active, .btn--primary:active:focus,
.btn--secondary:active,
.btn--secondary:active:focus {
  color: #FFFFFF;
  /* The Fallback */
  color: white;
  background-color: #1A1F1F;
  /* The Fallback */
  background-color: #1a1f1f;
}
.btn--primary:active .btn__focus-border, .btn--primary:active:focus .btn__focus-border,
.btn--secondary:active .btn__focus-border,
.btn--secondary:active:focus .btn__focus-border {
  border-color: #1A1F1F;
  /* The Fallback */
  border-color: rgba(26, 31, 31, 0);
}

.header__nav-btn {
  align-items: center;
  appearance: none;
  background-color: #2C2E44;
  /* The Fallback */
  background-color: rgba(44, 46, 68, 0);
  border: 0;
  border-radius: 100%;
  display: none;
  flex-direction: column;
  height: 5em;
  justify-content: center;
  margin: 0em;
  padding: 0em;
  pointer-events: all;
  position: absolute;
  top: 1.5em;
  right: 1em;
  width: 5em;
  z-index: 3;
}
.header__nav-btn:hover {
  cursor: pointer;
}
.header__nav-btn .header__nav-btn__inner {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0.25em;
  height: 100%;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}
.header__nav-btn .header__nav-btn__focus-border {
  border-color: #2C2E44;
  /* The Fallback */
  border-color: rgba(44, 46, 68, 0);
  border-radius: 12.5em;
  border-style: solid;
  border-width: 0.25em;
  display: block;
  height: calc(100% + 0.75em);
  pointer-events: none;
  position: absolute;
  top: calc(50% - 0.65em);
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% + 0.75em);
}
.header__nav-btn:hover .header__nav-btn__focus-border, .header__nav-btn:focus .header__nav-btn__focus-border {
  border-color: #393B4F;
  /* The Fallback */
  border-color: #393b4f;
}
.header__nav-btn:active .header__nav-btn__focus-border {
  border-color: #1A1F1F;
  /* The Fallback */
  border-color: rgba(26, 31, 31, 0);
}
.header__nav-btn .header__nav-btn__elipses {
  background-color: #2C2E44;
  /* The Fallback */
  background-color: rgba(44, 46, 68, 0);
  border-radius: 100%;
  display: flex;
  height: 100%;
  position: absolute;
  top: calc(50% - 0.65em);
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.header__nav-btn:hover .header__nav-btn__elipses, .header__nav-btn:focus .header__nav-btn__elipses {
  background-color: #393B4F;
  /* The Fallback */
  background-color: #393b4f;
}
.header__nav-btn:active .header__nav-btn__elipses {
  background-color: #1A1F1F;
  /* The Fallback */
  background-color: #1a1f1f;
}
.header__nav-btn .header__nav-btn__icon {
  display: block;
  height: 2em;
  line-height: 0;
  position: relative;
  width: 2em;
}
.header__nav-btn .header__nav-btn__icon .header__nav-btn__icon__line {
  background-color: #2C2E44;
  /* The Fallback */
  background-color: #2c2e44;
  border-radius: 3.125em;
  display: block;
  height: 0.275em;
  position: absolute;
  top: 0;
  left: 0;
  width: 2em;
}
.header__nav-btn .header__nav-btn__icon--hamburger .header__nav-btn__icon__line:nth-child(1) {
  opacity: 1;
  transform: translate(0%, 0%) rotate(0deg);
}
.header__nav-btn .header__nav-btn__icon--hamburger .header__nav-btn__icon__line:nth-child(2) {
  opacity: 1;
  transform: translate(0%, 250%) rotate(0deg);
}
.header__nav-btn .header__nav-btn__icon--hamburger .header__nav-btn__icon__line:nth-child(3) {
  opacity: 1;
  transform: translate(0%, 500%) rotate(0deg);
}
.header__nav-btn:hover .header__nav-btn__icon__line, .header__nav-btn:focus .header__nav-btn__icon__line, .header__nav-btn:active .header__nav-btn__icon__line {
  background-color: #FFFFFF;
  /* The Fallback */
  background-color: white;
}
.header__nav-btn .header__nav-btn__label {
  color: #2C2E44;
  /* The Fallback */
  color: #2c2e44;
  display: block;
  font-size: 0.75em;
  font-weight: 600;
  letter-spacing: 0.05em;
  line-height: 1;
  margin: 0 auto;
  text-align: center;
  width: 4em;
}
.header__nav-btn:hover .header__nav-btn__label, .header__nav-btn:focus .header__nav-btn__label {
  opacity: 0;
}

body * {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

.html {
  display: flex;
  background-color: #303135;
  /* The Fallback */
  background-color: #303135;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  overflow-x: hidden;
  position: relative;
  width: 100%;
  z-index: 0;
}

.body {
  align-items: center;
  background-color: #F9FAFA;
  /* The Fallback */
  background-color: #f9fafa;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  position: relative;
  width: 100%;
  z-index: 1;
}

.header {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 8.75em;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 100%;
  z-index: 2;
}

.header__inner {
  align-items: center;
  height: 100%;
  display: flex;
  max-width: 65em;
  position: relative;
  width: 100%;
}

.header__logo {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  height: 5em;
  justify-content: left;
  pointer-events: all;
  position: absolute;
  top: 2em;
  left: 2.5em;
  width: 5em;
  z-index: 3;
}

.header__logo__mark {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  gap: 0.45em;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.header__logo__line {
  background-color: #F9FAFA;
  /* The Fallback */
  background-color: #f9fafa;
  border-radius: 3em;
  display: block;
  height: 100%;
  width: 18%;
}

.header__logo__line:nth-child(1) {
  height: 45%;
}

.header__logo__title {
  color: rgba(0, 0, 0, 0);
  height: 100%;
  font-size: 0.125em;
  overflow: hidden;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
}

.header__nav {
  background-color: #303135;
  /* The Fallback */
  background-color: #303135;
  display: none;
  height: 3.75em;
  position: relative;
}

.header__nav__inner {
  align-items: center;
  height: 100%;
  display: flex;
  position: relative;
  width: 100%;
}

.header__nav__menu,
.header__nav__menu__item {
  display: none;
  height: 0em;
  margin: 0em;
  overflow: hidden;
  padding: 0em;
  width: 0em;
}

.landing {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.landing__inner {
  align-items: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  max-width: 65em;
  position: relative;
  width: 100%;
  z-index: 1;
}

.landing__rectangle {
  display: block;
  pointer-events: none;
  position: absolute;
  width: 50%;
  z-index: -1;
}
.landing__rectangle:after {
  content: "";
  display: block;
  height: 6vw;
  position: absolute;
  right: 0;
  width: 100%;
}

.landing__rectangle--left {
  left: 0;
}

.landing__rectangle--right {
  right: 0;
}

.landing__rectangle--top {
  top: 0;
}

.landing__rectangle--bottom {
  bottom: 0;
}

.landing__rectangle--anti-flash-white {
  background-color: #F0F2F2;
  /* The Fallback */
  background-color: #f0f2f2;
}
.landing__rectangle--anti-flash-white:after {
  background: linear-gradient(to left bottom, #F0F2F2 50%, transparent 50%);
}

.landing__rectangle--cultured {
  background-color: #F3F6F7;
  /* The Fallback */
  background-color: #f3f6f7;
}
.landing__rectangle--cultured:after {
  background: linear-gradient(to left bottom, #F9FAFA 50%, transparent 50%);
}

.landing__rectangle-top-left-height {
  height: calc(45.15em - 6vw);
}
.landing__rectangle-top-left-height:after {
  top: calc(45.15em - 6vw);
}

.landing__rectangle-top-right--height {
  height: 45em;
}
.landing__rectangle-top-right--height:after {
  top: 45em;
}

.landing__rectangle-bottom-left-height {
  height: calc(23.35em + 6vw);
}
.landing__rectangle-bottom-left-height:after {
  bottom: 23.35em;
}

.landing__rectangle-bottom-right--height {
  height: 19.75em;
}
.landing__rectangle-bottom-right--height:after {
  bottom: calc(23.65em - 6vw);
}

.landing-section {
  align-items: flex-end;
  display: flex;
  justify-content: flex-start;
  position: relative;
  width: 100%;
}

.landing-section--tall {
  height: auto;
}

.landing-section--short {
  height: auto;
}

.landing-section--halves {
  flex-direction: row;
}

.landing-section--halves-reversed {
  flex-direction: row-reverse;
}

.landing-section--ghost-white {
  background-color: #F9FAFA;
  /* The Fallback */
  background-color: #f9fafa;
}

.landing-section--cultured {
  background-color: #F3F6F7;
  /* The Fallback */
  background-color: #f3f6f7;
}

.landing-section--slant:before {
  background-color: #F9FAFA;
  /* The Fallback */
  background-color: #f9fafa;
  content: "";
  height: 3.75em;
  pointer-events: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  z-index: 1;
}
.landing-section--slant:after {
  background: linear-gradient(to right top, #F3F6F7 50%, transparent 50%);
  content: "";
  height: 3.75em;
  pointer-events: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  z-index: 2;
}

.landing-section-content {
  display: flex;
  padding: 1em 2.5em 2.5em;
  width: 100%;
}

.landing-section-content--halved {
  width: 50%;
}

.landing-section-content--full {
  width: 100%;
}

.landing-section-content__inner {
  align-items: flex-start;
  align-self: center;
  display: flex;
  height: 100%;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.landing-section-image-container {
  display: block;
  height: 60em;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 50%;
}

.landing-section-image-container-triangle:after {
  content: "";
  display: block;
  height: 3.75em;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.landing-section-image-container--triangle--top--right--ghost-white:after {
  background: linear-gradient(to left bottom, #F9FAFA 50%, transparent 50%);
  top: 0;
  left: 0;
}

.landing-section-image-container--triangle--bottom--right--ghost-white:after {
  background: linear-gradient(to right top, #F9FAFA 50%, transparent 50%);
  bottom: 0;
  left: 0;
}

.landing-section-image-container--triangle--bottom--right--cultured:after {
  background: linear-gradient(to right top, #F3F6F7 50%, transparent 50%);
  bottom: 0;
  left: 0;
}

.landing-section-image-container--curved--bottom--right {
  border-bottom-right-radius: 15vw;
}

.landing-section-image-container--curved--top--left {
  border-top-left-radius: 15vw;
}

.landing-section-image {
  display: block;
  height: calc(100% - 0.0625em);
  object-fit: cover;
  /* or object-fit: contain; */
  width: 100%;
}

.landing-section-content__btn-grp {
  flex-direction: column;
  display: flex;
  gap: 2.5em;
  margin-top: 4em;
  width: 100%;
}

.footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  padding: 8em 4em 6em;
  position: relative;
  width: 100%;
}
.footer:after {
  background-color: #303135;
  /* The Fallback */
  background-color: #303135;
  content: "";
  height: calc(100% - 0.125em);
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.footer__elipses {
  background-color: #F3F6F7;
  /* The Fallback */
  background-color: #f3f6f7;
  border-radius: 100%;
  display: flex;
  height: 8em;
  position: absolute;
  top: 0%;
  left: 50%;
  min-width: calc(100% + 40em);
  transform: translate(-50%, -50%);
  z-index: 2;
}

.footer__inner {
  align-items: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0em;
  justify-content: center;
  max-width: 65em;
  position: relative;
  width: 100%;
  z-index: 1;
}

.footer-section {
  align-items: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
}

.footer-section__inner {
  align-items: center;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  position: relative;
  padding: 0em;
  width: 100%;
}

.footer-section__inner--menu {
  flex-direction: row;
  gap: 1em;
  list-style-type: none;
  padding: 0;
}

.footer-section__inner--dots {
  display: flex;
  flex-direction: row;
  gap: 1em;
  list-style: none;
}

.footer__section__dot {
  border-radius: 100%;
  height: 0.5em;
  width: 0.5em;
}

.footer__section__dot--red {
  background-color: #E13B53;
  /* The Fallback */
  background-color: #e13b53;
}

.footer__section__dot--orange {
  background-color: #E77B17;
  /* The Fallback */
  background-color: #e77b17;
}

.footer__section__dot--yellow {
  background-color: #FFC42E;
  /* The Fallback */
  background-color: #ffc42e;
}

.footer__section__dot--green {
  background-color: #1496A1;
  /* The Fallback */
  background-color: #1496a1;
}

.footer__section__dot--blue {
  background-color: #3275BC;
  /* The Fallback */
  background-color: #3275bc;
}

.footer__section__dot--violet {
  background-color: #7F32BC;
  /* The Fallback */
  background-color: #7f32bc;
}

.footer-section__inner--disclaimers {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.footer__menu__item {
  display: flex;
  height: 4em;
  margin: 0;
  padding: 0;
  width: 4em;
}

.footer__menu__item__link {
  align-items: center;
  border-radius: 9em;
  display: flex;
  height: 3em;
  justify-content: center;
  position: relative;
  text-decoration: none;
  width: 3em;
}
.footer__menu__item__link .footer__menu__item__link__focus-border {
  border-color: #F9FAFA;
  /* The Fallback */
  border-color: rgba(249, 250, 250, 0);
  border-radius: 9em;
  border-style: solid;
  border-width: 0.25em;
  display: block;
  height: calc(100% + 1.25em);
  pointer-events: none;
  position: absolute;
  top: -0.625em;
  left: -0.625em;
  width: calc(100% + 1.25em);
}
.footer__menu__item__link:focus {
  outline: none;
}
.footer__menu__item__link, .footer__menu__item__link:visited {
  background-color: #666773;
  /* The Fallback */
  background-color: rgba(102, 103, 115, 0);
}
.footer__menu__item__link:visited .footer__menu__item__link__focus-border {
  border-color: #F9FAFA;
  /* The Fallback */
  border-color: rgba(249, 250, 250, 0);
}
.footer__menu__item__link:hover, .footer__menu__item__link:focus {
  background-color: #666773;
  /* The Fallback */
  background-color: rgba(102, 103, 115, 0.25);
}
.footer__menu__item__link:hover .footer__menu__item__link__focus-border, .footer__menu__item__link:focus .footer__menu__item__link__focus-border {
  border-color: #F9FAFA;
  /* The Fallback */
  border-color: rgba(249, 250, 250, 0.75);
}
.footer__menu__item__link:active {
  background-color: #666773;
  /* The Fallback */
  background-color: rgba(102, 103, 115, 0.25);
}
.footer__menu__item__link:active .footer__menu__item__link__focus-border {
  border-color: #F9FAFA;
  /* The Fallback */
  border-color: rgba(249, 250, 250, 0);
}

.footer__menu__item__link__image {
  display: flex;
  height: 3em;
  width: 3em;
}

.nav__mobile {
  display: flex;
  background-color: #303135;
  /* The Fallback */
  background-color: #303135;
  box-shadow: 0px 7px 15px 10px rgba(0, 0, 0, 0.76);
  flex-direction: column;
  height: 11em;
  padding: 1em 4em;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 3;
}

.nav__mobile__inner {
  display: flex;
  height: 100%;
  flex-direction: column;
  width: 100%;
}

.nav__mobile__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  padding: 0em;
}

.nav__mobile__menu__item {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 7em;
  justify-content: center;
  width: 8em;
}

.nav__mobile__menu__item__btn {
  align-items: center;
  appearance: none;
  border: 0em;
  background-color: #303135;
  /* The Fallback */
  background-color: rgba(48, 49, 53, 0);
  display: flex;
  flex-direction: column;
  height: 7em;
  gap: 0.75em 0em;
  justify-content: center;
  width: 8em;
}

.nav__mobile__menu__item__btn__image {
  height: 4em;
  width: 4em;
}

.nav__mobile__menu__item__btn__label {
  display: flex;
  font-size: 1.5em;
  color: #F9FAFA;
  /* The Fallback */
  color: #f9fafa;
}

.nav__mobile__menu__item__btn__focus-border {
  display: none;
}

@media only screen and (orientation: portrait) and (max-device-width: 449px), (orientation: portrait) and (max-device-width: 449px) and (-webkit-min-device-pixel-ratio: 1), (max-device-width: 449px) and (-webkit-min-device-pixel-ratio: 1) {
  .landing:after {
    background-color: YELLOW;
    display: flex;
    content: "";
    height: 15px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 15;
  }

  .h2 {
    font-size: 9.25em;
  }

  .p--medium-text {
    font-size: 3em;
  }

  .btn {
    font-weight: 700;
    font-size: 3.1em;
  }

  .landing-section--halves {
    flex-direction: column-reverse;
  }

  .landing-section--halves-reversed {
    flex-direction: column-reverse;
  }

  .landing-section-content--halved {
    width: 100%;
  }

  .landing-section-image-container {
    height: 50vh;
    width: 100%;
  }
}
@media only screen and (orientation: landscape), (orientation: portrait) and (min-device-width: 450px), (orientation: portrait) and (min-device-width: 450px) and (-webkit-min-device-pixel-ratio: 1), (min-device-width: 450px) and (-webkit-min-device-pixel-ratio: 1) {
  .landing:after {
    background-color: ORANGE;
    display: flex;
    content: "";
    height: 15px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 15;
  }

  .h2 {
    font-size: 7.05em;
    line-height: 0.925em;
    margin-top: 0.75em;
  }

  .landing-section:first-child .h2 {
    margin-top: 1.4em;
  }

  .h2--large {
    font-size: 10.5em;
  }

  .p {
    margin-top: 0.45em;
  }

  .p--small-text {
    font-size: 1.8em;
    font-weight: 600;
    letter-spacing: 0.02em;
  }

  .p--medium-text {
    font-size: 1.7em;
    font-weight: 600;
    letter-spacing: 0.025em;
  }

  .p--large-text {
    font-size: 2.75em;
    font-weight: 600;
  }

  .p--line-height-medium {
    line-height: 1.5em;
  }

  .p--line-hight-large {
    line-height: 1.3em;
  }

  .p--contained:last-child {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
  }

  .link--small-text {
    font-size: 1em;
    font-weight: 800;
    letter-spacing: 0.06em;
  }

  .link--large-text {
    font-size: 1em;
    font-weight: 900;
    letter-spacing: 0.02em;
  }

  .header__logo {
    height: 6em;
    position: absolute;
    top: 2em;
    left: 2.5em;
    width: 6.2em;
  }

  .header__logo__mark {
    gap: 0.65em;
  }

  .header__nav-btn {
    font-size: 1.275em;
    height: 5.75em;
    top: 0.75em;
    width: 5.75em;
  }
  .header__nav-btn .header__nav-btn__icon {
    height: 2.25em;
    width: 2.5em;
  }
  .header__nav-btn .header__nav-btn__icon .header__nav-btn__icon__line {
    width: 2.5em;
  }
  .header__nav-btn .header__nav-btn__icon--hamburger .header__nav-btn__icon__line:nth-child(2) {
    transform: translate(0%, 275%) rotate(0deg);
  }
  .header__nav-btn .header__nav-btn__icon--hamburger .header__nav-btn__icon__line:nth-child(3) {
    transform: translate(0%, 550%) rotate(0deg);
  }
  .header__nav-btn .header__nav-btn__label {
    font-size: 0.95em;
  }

  .landing-section--tall {
    height: auto;
  }

  .landing-section--halves {
    flex-direction: row;
  }

  .landing-section--halves-reversed {
    flex-direction: row-reverse;
  }

  .landing-section-content {
    padding: 1em 2.5em 4.5em;
  }

  .btn {
    font-size: 1.7em;
    font-weight: 700;
    letter-spacing: 0.03em;
  }

  .landing-section-content__btn-grp {
    margin-top: 2em;
  }

  .landing-section-content--halved {
    width: 50%;
  }

  .landing-section-image-container {
    height: 100%;
    width: 50%;
  }

  .footer__menu__item,
.footer__menu__item__link,
.footer__menu__item__link__image {
    height: 6em;
    width: 6em;
  }

  .footer-section__inner--dots {
    gap: 1.5em;
  }

  .footer__section__dot {
    height: 1em;
    width: 1em;
  }
}
@media only screen and (orientation: portrait) and (min-device-width: 450px), (orientation: portrait) and (min-width: 1024px) {
  .nav__mobile {
    display: none;
  }

  .header__nav-btn {
    display: flex;
  }
}
@media only screen and (orientation: landscape) {
  .nav__mobile {
    display: none;
  }

  .header__nav-btn {
    display: flex;
  }
}
@media only screen and (min-device-width: 916px) {
  .btn {
    font-size: 1em;
    letter-spacing: 0.01em;
    padding: 0.5em 3em;
  }

  .landing-section-content__btn-grp {
    flex-direction: row;
    width: auto;
  }
}

/*# sourceMappingURL=landing.css.map */
