// COLOR TOKENS -- DARK MODE

$downriver: #0A1A55; // background
$periwinkle-gray: #EEF2F6; // type

$darkmode--darkest-background: $downriver;
$darkmode--darkest-border-color: $downriver;
$darkmode--darkest-fill: $periwinkle-gray;
$darkmode--darkest-outline-color: $downriver;
$darkmode--darkest-text: $downriver;
$darkmode--lightest-background: $periwinkle-gray;
$darkmode--lightest-border-color: $periwinkle-gray;
$darkmode--lightest-text: $periwinkle-gray;
$darkmode--light-outline-color: $periwinkle-gray;