// COLOR TOKENS -- LIGHT MODE

$stiletto: #303135;
$alley-cat: #666773;
$flint-shard: #8F9296;
$fog: #EEF2F6;

$light--darkest-background: $stiletto;
$light--darkest-border-color: $stiletto;
$light--darkest-fill: $fog;
$light--darkest-outline-color: $stiletto;
$light--darkest-text: $stiletto;
$light--dark-background: $alley-cat;
$light--dark-text: $alley-cat;
$light--light-outline-color: $flint-shard;
$light--lightest-background: $fog;
$light--lightest-border-color: $fog;
$light--lightest-text: $fog;
