//***********************************************************//
//**                      DESIGN TOKENS                    **//
//***********************************************************//

	// Additional reading and tools
	// TECH DOC -> https://sass-lang.com/documentation/modules/color#blue
	// TECH DOC -> https://stackoverflow.com/questions/10929458/sass-converting-hex-to-rgba-for-background-opacity
	// READ https://medium.com/eightshapes-llc/naming-tokens-in-design-systems-9e86c7444676
	// READ https://uxdesign.cc/defining-colors-in-your-design-system-828148e6210a
	// TOOL https://lyft-colorbox.herokuapp.com/ <- instructions on usage in the immediately above article


////** BREAK POINTS
	$breakpoint-iphone-8-10-11-pro-and-13-mini: 375px;
	$breakpoint-iphone-13-pro-max: 414px;
	$breakpoint-ipad-mini: 768px;
	$breakpoint-reg-to-pro-tablet-and-small-desktop: 989px;
	$breakpoint-desktop-plus: 1040px;


////** COLOR PALETTE (category layer)
//////** BASE COLORS (value layer; hue HEX values)
		 // $white
		 $white: #FFFFFF;
		 $ghost-white: #F9FAFE;
		 $alice-blue: #F3F4FB;
		 $anti-flash-white: #F0F2F2;
		 $platinum: #E8E8E8;
		 $dim-gray: #666773;
		 $davys-gray: #4F505E;
		 $port-gore: #1A183F;
		 $dark-jungle-green: #1A1F1F;
		 $arsenic: #393B4F;


		 $chathams-blue: #124781;
		 $black-haze: #F9FAFA;
		 $black: #000000;
		 $shark: #1f2024;
		 $porcelain: #F3F6F7;
		 $alice-blue: #F3F4FB; // lightened text
		 $link-water: #D8E0F1; // main photo background color
		 $port-gore: #222146; // some triangles
		 $purple-heart: #4731C5; // primary buttons links rest
		 $indigo: #4B4ED2; // primary buttons links hover
		 $selago: #E6E2FC;
		 $periwinkle-gray: #CBD6EF;
		 $spindle: #B6BCE7;

		 $gunmetal: #2C2E44;
		 $desire: #E13B53;
		 $vivid-tangelo: #E77B17;
		 $sunglow: #FFC42E;
		 $viridian-green: #1496A1;
		 $cyan-blue-azure: #3275BC;
		 $grape: #7F32BC;
//////** LIGHT (extended value layer; i.e. a combination of saturation and brightness HEX values)
	// nothing added ...
		 // $white-100
//////** OPACITY (extended value layer)
		// Handle with SCSS mix-in
		@mixin background-color($color, $opacity: 1) {
			background-color: $color; /* The Fallback */
			background-color: rgba($color, $opacity);
		}
		@mixin border-color($color, $opacity: 1) {
			border-color: $color; /* The Fallback */
			border-color: rgba($color, $opacity);
		}
		@mixin color($color, $opacity: 1) {
			color: $color; /* The Fallback */
			color: rgba($color, $opacity);
		}
		@mixin triangle($position1 ,$position2, $color) {
			background: linear-gradient(to $position1 $position2, $color 50%, transparent 50%);;
		}




		// EXAMPLE USAGE:
		// element {
		//	@include color(#333, 0.5);
		// }

////** FONT (category layer; aka type, typography, text)
	// nothing added ...
////** SPACE (category layer; aka units, dimension, spacing)
	// nothing added ...
////** SIZE (category layer; aka sizing)
	// nothing added ...
////** ELEVATION (category layer; aka z-index, layer, layering)
	// nothing added ...
////** BREAKPOINTS (category layer; aka media-query, responsive)
	// nothing added ...
////** SHADOW (category layer; aka depth)
	// nothing added ...
////** TOUCH (category layer)
	// nothing added ...
////** TIME (category layer; aka animation, duration)
	// nothing added ...

	// backgrounds

		$logo-background: $port-gore;
		$lower-half-background: $alice-blue;

	// text
		$dark-copy-text: #3D3843; // light mode
		$light-copy-text: $alice-blue; // light mode

	//links
	// -- link rest
		$interactive-rest--light-mode: #565b73;
		$interactive-rest--dark-mode: $alice-blue;
	// -- link hover
		$interactive-hover--light-mode: #474758;
		$interactive-hover--dark-mode: $alice-blue;
	// -- link press
		$interactive-press--light-mode: #3D3843;
		$interactive-press--dark-mode: $white;
	// --link visited

	// footer menu item links
		$footer__menu__item__link__background: $alice-blue;
		$footer__menu__item__link__image--rest: $ghost-white;
		$footer__menu__item__link__image--hover: #474758;

	// buttons --light-mode   --dark-mode
	// -- label rest
		$primary-label-rest--light-mode: $ghost-white;
		$secondary-label-rest--light-mode: #565B73;
		// $primary-label-rest--dark-mode: ???;
		$secondary-label-rest--dark-mode: #3D3843;
	// -- label hover
		$primary-label-hover--light-mode: $white;
		$secondary-label-hover--light-mode: #474758;
		// $primary-label-hover--dark-mode: ???;
		$secondary-label-hover--dark-mode: $indigo;
	// -- label press
		$primary-label-press--light-mode: $ghost-white;
		// $primary-label-press--dark-mode: ???;
		$secondary-label-press--light-mode: #3D3843;
		// $secondary-label-press--dark-mode: ???;


	// -- background rest
		$disabled-button-bg-rest--light-mode: $platinum;
		// $disabled-button-bg-rest--dark-mode: ???;
		$primary-button-bg-rest--light-mode: #565B73;
		// $primary-button-bg-rest--dark-mode: ???;
		$secondary-button-bg-rest--light-mode: #565B73;
		$secondary-button-bg-rest--dark-mode: $ghost-white;
	// -- background hover
		// $disabled-button-hover-rest--light-mode: ???;
		// $disabled-button-hover-rest--dark-mode: ???;
		$primary-button-bg-hover--light-mode: #474758;
		// $primary-button-bg-hover--dark-mode: ???;
		// $secondary-button-bg-hover--light-mode: rgba($ghost-white, 0.25);
		$secondary-button-bg-hover--dark-mode: $selago;
		$footer__menu__item__link__focus-border: $periwinkle-gray;
	// -- background press
		// $disabled-button-bg-rest--light-mode: ???;
		// $disabled-button-bg-rest--dark-mode: ???;
		$primary-button-press--light-mode: #3D3843;
		// $primary-button-press--dark-mode: ???;
		// $secondary-button-press--light-mode: rgba(#3D3843, 0.25);
		// $secondary-button-press--dark-mode: ???;

	// -- decorative

		// logo
			$header__logo__line--light-mode: #F9FAFA;
			// $header__logo__line--dark-mode: ???;

		// footer elipses
			$footer__elipses-background--light-mode: #e2dfe2;
			// $footer__elipses-background--dark-mode: ???;

		// background decorative triangles
			$bg-decorative-triangle--top-left-background--light-mode: #e1dfe4;
			$bg-decorative-triangle--top-left-slant--light-mode: #e1dfe4;
			// $bg-decorative-triangle--top-left-background--dark-mode: ???;
			// $bg-decorative-triangle--top-left-slant--dark-mode: ???;
			$bg-decorative-triangle--top-right-background--light-mode: #dddce1;
			$bg-decorative-triangle--top-right-slant--light-mode: #dddce1;
			// $bg-decorative-triangle--top-right-background--dark-mode: ???;
			// $bg-decorative-triangle--top-right-slant--dark-mode: ???;
			$bg-decorative-triangle--bottom-background--light-mode: #e2dfe2;
			$bg-decorative-triangle--bottom-slant--light-mode: #e2dfe2;
			// $bg-decorative-triangle--bottom-background--dark-mode: ???;
			// $bg-decorative-triangle--bottom-slant--dark-mode: ???;

		// image container decorative triangles
			$landing-section-image-container-triangle--light-mode-light: #E2DFE2;
			$landing-section-image-container-triangle--light-mode-dark: #DDDCE1;
			// $landing-section-image-container-triangle--dark-mode-light: ???;
			// $landing-section-image-container-triangle--dark-mode-dark: ???;

		// section - inner-triangles
			$landing-section--slant-foreground: $ghost-white;
			$landing-section--slant-background: #E2DFE2;

		// rainbow dots
			$red: $desire;
			$orange: $vivid-tangelo;
			$yellow: $sunglow;
			$green: $viridian-green;
			$blue: $cyan-blue-azure;
			$violet: $grape;

	// -- layout

		// html
			$html-background--light-mode: #E2DFE2;
			// $html-background--dark-mode: ???;

		// footer
			$footer-background--light-mode: #3D3843;
			// $footer-background--dark-mode: ???;
