// COLOR TOKENS -- DARK MODE

$eternity: #1C150B;
$cola: #422800;
$sisal: #CDC2B6;
$hillary: #B4A18D;

$dark--darkest-background: $eternity;
$dark--darkest-border-color: $eternity;
$dark--darkest-fill: $eternity;
$dark--darkest-outline-color: $eternity;
$dark--darkest-text: $eternity;
$dark--dark-background: $cola;
$dark--dark-text: $cola;
$dark--light-outline-color: $sisal;
$dark--lightest-background: $hillary;
$dark--lightest-border-color: $hillary;
$dark--lightest-text: $hillary;
