// COLOR TOKENS -- LIGHT MODE

$stiletto: #303135;
$fog: #EEF2F6;

$lightmode--darkest-background: $stiletto;
$lightmode--darkest-border-color: $stiletto;
$lightmode--darkest-fill: $fog;
$lightmode--darkest-outline-color: $stiletto;
$lightmode--darkest-text: $stiletto;
$lightmode--lightest-background: $fog;
$lightmode--lightest-border-color: $fog;
$lightmode--lightest-text: $fog;
$lightmode--light-outline-color: $fog;