//***********************************************************//
//**                      DESIGN TOKENS                    **//
//***********************************************************//

	// Additional reading and tools
	// TECH DOC -> https://sass-lang.com/documentation/modules/color#blue
	// TECH DOC -> https://stackoverflow.com/questions/10929458/sass-converting-hex-to-rgba-for-background-opacity
	// READ https://medium.com/eightshapes-llc/naming-tokens-in-design-systems-9e86c7444676
	// READ https://uxdesign.cc/defining-colors-in-your-design-system-828148e6210a
	// TOOL https://lyft-colorbox.herokuapp.com/ <- instructions on usage in the immediately above article


////** BREAK POINTS
	$breakpoint-iphone-8-10-11-pro-and-13-mini: 375px;
	$breakpoint-iphone-13-pro-max: 414px;
	$breakpoint-ipad-mini: 768px;
	$breakpoint-reg-to-pro-tablet-and-small-desktop: 989px;
	$breakpoint-desktop-plus: 1040px;


////** COLOR PALETTE (category layer)
//////** BASE COLORS (value layer; hue HEX values)
		 // $white
		 $white: #FFFFFF;
		 $ghost-white: #F9FAFE;
		 $alice-blue: #F3F4FB;
		 $anti-flash-white: #F0F2F2;
		 $platinum: #E8E8E8;
		 $dim-gray: #666773;
		 $davys-gray: #4F505E;
		 $port-gore: #1A183F;
		 $dark-jungle-green: #1A1F1F;
		 $arsenic: #393B4F;

		 $alice-blue: #F3F4FB; // lightened text
		 $port-gore: #222146; // body background; some triangles
		 $purple-heart: #4731C5; // primary buttons links rest
		 $indigo: #4B4ED2; // primary buttons links hover
		 $selago: #E6E2FC;
		 $periwinkle-gray: #CDD1EE;
		 $spindle: #B6BCE7;

		 $gunmetal: #2C2E44;
		 $desire: #E13B53;
		 $vivid-tangelo: #E77B17;
		 $sunglow: #FFC42E;
		 $viridian-green: #1496A1;
		 $cyan-blue-azure: #3275BC;
		 $grape: #7F32BC;
//////** LIGHT (extended value layer; i.e. a combination of saturation and brightness HEX values)
	// nothing added ...
		 // $white-100
//////** OPACITY (extended value layer)
		// Handle with SCSS mix-in
		@mixin background-color($color, $opacity: 1) {
			background-color: $color; /* The Fallback */
			background-color: rgba($color, $opacity);
		}
		@mixin border-color($color, $opacity: 1) {
			border-color: $color; /* The Fallback */
			border-color: rgba($color, $opacity);
		}
		@mixin color($color, $opacity: 1) {
			color: $color; /* The Fallback */
			color: rgba($color, $opacity);
		}
		@mixin triangle($position1 ,$position2, $color) {
			background: linear-gradient(to $position1 $position2, $color 50%, transparent 50%);;
		}




		// EXAMPLE USAGE:
		// element {
		//	@include color(#333, 0.5);
		// }

////** FONT (category layer; aka type, typography, text)
	// nothing added ...
////** SPACE (category layer; aka units, dimension, spacing)
	// nothing added ...
////** SIZE (category layer; aka sizing)
	// nothing added ...
////** ELEVATION (category layer; aka z-index, layer, layering)
	// nothing added ...
////** BREAKPOINTS (category layer; aka media-query, responsive)
	// nothing added ...
////** SHADOW (category layer; aka depth)
	// nothing added ...
////** TOUCH (category layer)
	// nothing added ...
////** TIME (category layer; aka animation, duration)
	// nothing added ...

	// backgrounds
		$body-background: $port-gore;
		$elipses-background: $alice-blue;
		$footer-background: $port-gore;
		$logo-background: $port-gore;
		$upper-half-background: $ghost-white;
		$lower-half-background: $alice-blue;

	// text
		$dark-copy-text: $port-gore;
		$light-copy-text: $alice-blue;

	//links
	// -- link rest
		$interactive-rest--light-mode: $purple-heart;
		$interactive-rest--dark-mode: $alice-blue;
	// -- link hover
		$interactive-hover--light-mode: $indigo;
		$interactive-hover--dark-mode: $alice-blue;
	// -- link press
		$interactive-press--light-mode: $port-gore;
		$interactive-press--dark-mode: $white;
	// --link visited

	// buttons --light-mode   --dark-mode
	// -- label rest
		$primary-label-rest--light-mode: $alice-blue;
		$secondary-label-rest--light-mode: $purple-heart;
		// $primary-label-rest--dark-mode: ???;
		$secondary-label-rest--dark-mode: $purple-heart;
	// -- label hover
		$primary-label-hover--light-mode: $white;
		$secondary-label-hover--light-mode: $purple-heart;
		// $primary-label-hover--dark-mode: ???;
		$secondary-label-hover--dark-mode: $indigo;
	// -- label press
		$primary-label-press--light-mode: $selago;
		// $primary-label-press--dark-mode: ???;
		$secondary-label-press--light-mode: $selago;
		// $secondary-label-press--dark-mode: ???;


	// -- background rest
		$disabled-button-bg-rest--light-mode: $platinum;
		// $disabled-button-bg-rest--dark-mode: ???;
		$primary-button-bg-rest--light-mode: $purple-heart;
		// $primary-button-bg-rest--dark-mode: ???;
		$secondary-button-bg-rest--light-mode: $spindle;
		$secondary-button-bg-rest--dark-mode: $alice-blue;
	// -- background hover
		// $disabled-button-hover-rest--light-mode: ???;
		// $disabled-button-hover-rest--dark-mode: ???;
		$primary-button-bg-hover--light-mode: $indigo;
		// $primary-button-bg-hover--dark-mode: ???;
		$secondary-button-bg-hover--light-mode: $periwinkle-gray;
		$secondary-button-bg-hover--dark-mode: $selago;
	// -- background press
		// $disabled-button-bg-rest--light-mode: ???;
		// $disabled-button-bg-rest--dark-mode: ???;
		$primary-button-press--light-mode: $port-gore;
		// $primary-button-press--dark-mode: ???;
		$secondary-button-press--light-mode: $port-gore;
		// $secondary-button-press--dark-mode: ???;

	// rainbow dots
	$red: $desire;
	$orange: $vivid-tangelo;
	$yellow: $sunglow;
	$green: $viridian-green;
	$blue: $cyan-blue-azure;
	$violet: $grape;
